In [2]:
# Based on  tutorial https://github.com/h2oai/h2o-tutorials/blob/master/h2o-world-2017/automl/Python/automl_regression_powerplant_output.ipynb
# Try to rerun model 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
# Needed to install Java JRE https://www.java.com/en/download/win10.jsp 
import h2o 
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.221-b11, mixed mode)

C:\Users\dmmma\Anaconda3\lib\site-packages\h2o\backend\server.py:369: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Starting server from C:\Users\dmmma\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\dmmma\AppData\Local\Temp\tmpn56p23nd
  JVM stdout: C:\Users\dmmma\AppData\Local\Temp\tmpn56p23nd\h2o_dmmma_started_from_python.out
  JVM stderr: C:\Users\dmmma\AppData\Local\Temp\tmpn56p23nd\h2o_dmmma_started_from_python.err
  Server is running at http://127.0.0.1:54323
Connecting to H2O server at http://127.0.0.1:54323 ... successful.

--------------------------  ------------------------------------------
H2O cluster uptime:         04 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.2
H2O cluster version age:    19 days
H2O cluster name:           H2O_from_python_dmmma_c6eoe9
H2O cluster total nodes:    1
H2O cluster free memory:    247.5 Mb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54323
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.7.3 final
--------------------------  ------------------------------------------

### Load data

In [6]:
# Setting 'parse_dates' in this case parses both dates and times
# These files are too large to commit so they're uploaded locally under `/exploring_models` but not pushed
train_raw = pd.read_csv('weather1_education_train.csv', parse_dates = ['timestamp'])
val_raw = pd.read_csv('weather1_education_test.csv', parse_dates = ['timestamp'])

In [15]:
train_data = train_raw.drop([ 'building_name', 'primary_space_usage', 'hour', 'year', 'month','weekday', 'date', 'timestamp', 'Unnamed: 0'], axis=1)
val_data = val_raw.drop([ 'building_name', 'primary_space_usage', 'hour', 'year', 'month','weekday', 'date', 'timestamp', 'Unnamed: 0'], axis=1)

train_data.head()

,area,electricity,TemperatureC,month_1,month_2,month_3,month_4,month_5,month_6,month_7,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,2777.0,5.0,7.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,2777.0,5.2,5.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,2777.0,5.2,5.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,2777.0,5.5,6.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,2777.0,6.0,7.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [16]:
val_data.head()

,area,electricity,TemperatureC,month_1,month_2,month_3,month_4,month_5,month_6,month_7,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,6149.0,34.900002,7.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,6149.0,32.700000,5.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,6149.0,32.200000,5.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,6149.0,32.300000,6.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,6149.0,32.599998,7.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

### Fit a model

In [18]:
# Using one train/val split, not walk-forward cross-val
# In h2o, if using all other cols for x, don't have to explicitly specify
# Takes > 1 min to run

# Must be formatted as h2o frames http://docs.h2o.ai/h2o/latest-stable/h2o-py/docs/frame.html
train =  h2o.H2OFrame(train_data)
test = h2o.H2OFrame(val_data)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [26]:
train.columns[:10]

['area',
 'electricity',
 'TemperatureC',
 'month_1',
 'month_2',
 'month_3',
 'month_4',
 'month_5',
 'month_6',
 'month_7']

In [27]:
# In past, running for 60 s only fit one model (GLM), 3 min fit 3 (GLM, GBM, and Stacked Ensemble)
y = 'electricity'
x = list(train.columns)
x.remove(y)

In [32]:
aml =  H2OAutoML(max_runtime_secs = 60*5, seed = 1)
aml.train(x = x, y = y, training_frame = train) 
# https://h2o-release.s3.amazonaws.com/h2o/rel-xia/1/docs-website/h2o-docs/automl.html
# "If the user doesn’t specify a validation_frame, then one will be created automatically by randomly partitioning the training data"

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [33]:
aml.leaderboard.head()

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
GLM_grid_1_AutoML_20190815_155034_model_1,901.617,30.0269,901.617,18.622,1.26586

In [36]:
# Inspect the leader model
aml.leader

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_grid_1_AutoML_20190815_155034_model_1

GLM Model: summary

    family    link      regularization             lambda_search                                                                number_of_predictors_total    number_of_active_predictors    number_of_iterations    training_frame
--  --------  --------  -------------------------  ---------------------------------------------------------------------------  ----------------------------  -----------------------------  ----------------------  ----------------------------------------------------------------------
    gaussian  identity  Ridge ( lambda = 74.835 )  nlambda = 30, lambda.max = 2100.8, lambda.min = 74.835, lambda.1se = 74.835  78                            78                             9                       automl_training_Key_Frame__upload_91d9561e91273f3ca426d42c2cb640b8.hex

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 898.5796696298365
RMSE: 29.976318480257653
MAE: 18.57536986807332
RMSLE: 1.2636314517335303
R^2: 0.016932709866141593
Mean Residual Deviance: 898.5796696298365
Null degrees of freedom: 437849
Residual degrees of freedom: 437771
Null deviance: 400219916.0688677
Residual deviance: 393443108.3474239
AIC: 4220461.484107741

ModelMetricsRegressionGLM: glm
** Reported on cross-validation data. **

MSE: 901.6173790901555
RMSE: 30.02694421832091
MAE: 18.622017728736793
RMSLE: 1.2658643864683035
R^2: 0.01360938427988967
Mean Residual Deviance: 901.6173790901555
Null degrees of freedom: 437849
Residual degrees of freedom: 437771
Null deviance: 400219920.4307822
Residual deviance: 394773169.4346246
AIC: 4221939.169398433
Cross-Validation Metrics Summary:

                        mean         sd          cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  ----------  ------------  ------------  ------------  ------------  ------------
mae                     18.6889      0.0681193   18.5033       18.691        18.7343       18.7709       18.745
mean_residual_deviance  905.996      5.16726     892.321       904.825       909.918       912.794       910.121
mse                     905.996      5.16726     892.321       904.825       909.918       912.794       910.121
null_deviance           8.0044e+07   89050.2     7.9874e+07    7.99166e+07   8.01066e+07   8.01982e+07   8.01245e+07
r2                      0.00882801   0.0047032   0.021703      0.00852213    0.00530634    0.00330169    0.00530685
residual_deviance       7.93381e+07  452497      7.81405e+07   7.92355e+07   7.96815e+07   7.99334e+07   7.96993e+07
rmse                    30.0995      0.0860251   29.8717       30.0803       30.1648       30.2125       30.1682
rmsle                   1.26908      0.00322684  1.26022       1.26931       1.27135       1.2726        1.27192

Scoring History:

    timestamp            duration    iteration    lambda    predictors    deviance_train    deviance_test    deviance_xval    deviance_se
--  -------------------  ----------  -----------  --------  ------------  ----------------  ---------------  ---------------  -------------
    2019-08-15 15:51:10  0.000 sec   1            2100      76            913.493           nan              913.606          0.718976
    2019-08-15 15:51:10  0.065 sec   2            1300      77            913.149           nan              913.331          0.718926
    2019-08-15 15:51:10  0.139 sec   3            810       77            912.597           nan              912.888          0.718845
    2019-08-15 15:51:10  0.208 sec   4            500       78            911.708           nan              912.177          0.718714
    2019-08-15 15:51:10  0.275 sec   5            310       79            910.283           nan              911.035          0.718504
    2019-08-15 15:51:11  0.340 sec   6            190       79            908.002           nan              909.203          0.718166
    2019-08-15 15:51:11  0.412 sec   7            120       79            904.36            nan              906.277          0.717624
    2019-08-15 15:51:11  0.474 sec   8            75        79            898.58            nan              901.617          0.716756
    2019-08-15 15:51:11  0.535 sec   9            46        79            889.483           nan              0                0

In [37]:
# make predictions using leader model
pred = aml.leader.predict(test)
pred.head()

glm prediction progress: |████████████████████████████████████████████████| 100%

predict
19.5617
19.5616
19.5615
19.5623
19.5692
19.5835
19.6231
19.6919
19.7732
19.8335

In [38]:
pred.shape

(166383, 1)

In [41]:
num_buildings = len(val_raw['building_name'].unique())
print(num_buildings)

19

In [43]:
aml_pred_npy = pred.as_data_frame().as_matrix().reshape((num_buildings, pred.shape[0]//num_buildings))

C:\Users\dmmma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [45]:
aml_pred_npy.shape

(19, 8757)