In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import dateutil.parser

In [2]:
elec_path = '../data/processed/temp_open_utc_complete.csv'

In [3]:
meta_path = '../data/raw/meta_open.csv'

In [4]:
weather_path = '../data/external/weather/weather1.csv'

In [5]:
def make_dataset(elec_path, meta_path, weather_path, weather_file, industry):
    '''
    INPUT
    elec_path: path to timeseries data of electricity meter (temp_open_utc_complete.csv)
    meta: path to meta data table (meta_open.csv)
    weather: path to weather data table (weatherX.csv)
    weather_file: name of the weather file
    industry: name of undustry to focus on
    OUTPUT
    A dataframe in which each record represents a building at a certain time
    columns =[
    building_name: name of the building from meta, str
    month: one-hot coded
    day: from elec, int
    day_of_the_week: one-hot coded
    hour: from elec, hour from weather is converted to the nearest :00, int
    area: from meta, float
    primary_space_usage: from meta (primaryspaceuse_abbrev), one-hot coded
    electricity: from elec
    temperature: from weather
    ]
    ------------------------------------------------------------------------------------------------------------------------------------------
    comment:
    -humidity is sometimes missing in weather table
    '''
    #read tables
    elec = pd.read_csv(elec_path)
    meta = pd.read_csv(meta_path)
    weather = pd.read_csv(weather_path)
    #set 'uid' as index in meta
    meta = meta.set_index('uid')
    #parse date
    weather['timestamp'] = weather['timestamp'].apply(dateutil.parser.parse)
    elec['timestamp'] = elec['timestamp'].apply(dateutil.parser.parse)
    #construct the dataframe to return
    buildings = list(meta[(meta['newweatherfilename'] == 'weather1.csv') & (meta['industry']=='Education')].index) #name of the buildings
    df = pd.DataFrame(columns={'building_name', 'timestamp', 'electricity', 'area', 'primary_space_usage'}) #empty dataframe with 3 columns
    for building in buildings:
        subdf = elec[['timestamp', building]]
        subdf.columns = ['timestamp', 'electricity']
        subdf['building_name'] = building
        subdf['area'] = meta.loc[building, 'sqm']
        subdf['primary_space_usage'] = meta.loc[building, 'primaryspaceuse_abbrev']
        df = pd.concat([df, subdf], axis=0, ignore_index=True)
    #df has 'building_name', timestamp, electricity meter, area, primary space usage
    print('OK1')
    weather['rounded_timestamp'] = weather['timestamp'].apply(cutoff_minute) #cutoff_minute is implemented separately
    weather = weather.groupby('rounded_timestamp').first() #only the first observation in each hour is taken
    weather = weather['TemperatureC'] #only need temperature column
    print('OK2')
    df['timestamp'] = df['timestamp'].apply(cutoff_minute)
    df = df.join(weather, on='timestamp', how='inner', lsuffix='elec', rsuffix='weather') #join temperature data from weather table
    #df = add_month_day_hour(df) #to do
    #df = add_day_of_the_week()
    return df.reset_index()

In [6]:
def cutoff_minute(dt):
    '''
    INPUT
    a datetime object has year, month, day, hour, and minute
    OUTPUT
    a datetime object has year, month, day, and hour
    '''
    year = dt.year
    month = dt.month
    day = dt.day
    hour = dt.hour
    return datetime.datetime(year, month, day, hour)

In [7]:
make_dataset(elec_path, meta_path, weather_path, 'weather1.csv', 'Education')

c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:45: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

OK1
OK2

,index,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC
0,31429,2927.0,PrimClass_Jolie,0.700000,PrimClass,2014-12-01 00:00:00,7.0
1,72369,4373.0,PrimClass_Jaylin,1.100000,PrimClass,2014-12-01 00:00:00,7.0
2,113309,2132.0,PrimClass_Jayla,2.000000,PrimClass,2014-12-01 00:00:00,7.0
3,154249,2937.0,PrimClass_Janiya,2.300000,PrimClass,2014-12-01 00:00:00,7.0
4,195189,2152.0,PrimClass_Janice,1.400000,PrimClass,2014-12-01 00:00:00,7.0
5,236129,2572.0,PrimClass_Jaden,2.763000,PrimClass,2014-12-01 00:00:00,7.0
6,277069,2154.0,PrimClass_Jermaine,2.200000,PrimClass,2014-12-01 00:00:00,7.0
7,318009,3984.0,PrimClass_Josephine,4.700000,PrimClass,2014-12-01 00:00:00,7.0
8,358949,1877.0,PrimClass_Javier,2.900000,PrimClass,2014-12-01 00:00:00,7.0
9,399889,2939.0,PrimClass_Jaylinn,3.900000,PrimClass,2014-12-01 00:00:00,7.0
10,440829,2619.0,PrimClass_Johanna,3.800000,PrimClass,2014-12-01 00:00:00,7.0
11,481769,2570.0,PrimClass_Jodie,3.400000,PrimClass,2014-12-01 00:00:00,7.0
12,522709,2815.0,PrimClass_Johnathan,5.200000,PrimClass,2014-12-01 00:00:00,7.0
13,563649,736.0,PrimClass_Janis,1.100000,PrimClass,2014-12-01 00:00:00,7.0
14,604589,1123.0,PrimClass_Jose,2.200000,PrimClass,2014-12-01 00:00:00,7.0
15,645529,3211.0,PrimClass_Julianna,4.900000,PrimClass,2014-12-01 00:00:00,7.0
16,686469,2555.0,PrimClass_Jasmine,5.300000,PrimClass,2014-12-01 00:00:00,7.0
17,727409,2061.0,PrimClass_Jazmine,3.100000,PrimClass,2014-12-01 00:00:00,7.0
18,768349,2418.0,PrimClass_Jody,5.700000,PrimClass,2014-12-01 00:00:00,7.0
19,809289,2403.0,PrimClass_Julianne,3.200000,PrimClass,2014-12-01 00:00:00,7.0
20,850229,11710.0,PrimClass_Justice,25.200000,PrimClass,2014-12-01 00:00:00,7.0
21,891169,2678.0,PrimClass_Jean,4.200000,PrimClass,2014-12-01 00:00:00,7.0
22,932109,1205.0,PrimClass_Judith,2.900000,PrimClass,2014-12-01 00:00:00,7.0
23,973049,3157.0,PrimClass_Jessie,5.900000,PrimClass,2014-12-01 00:00:00,7.0
24,1013989,2961.0,PrimClass_Joselyn,7.400000,PrimClass,2014-12-01 00:00:00,7.0
25,1054929,1065.0,PrimClass_Judy,1.400000,PrimClass,2014-12-01 00:00:00,7.0
26,1095869,2708.0,PrimClass_Jarrett,5.700000,PrimClass,2014-12-01 00:00:00,7.0
27,1136809,1086.0,PrimClass_Jeff,3.000000,PrimClass,2014-12-01 00:00:00,7.0
28,1177749,1737.0,PrimClass_Julian,3.718000,PrimClass,2014-12-01 00:00:00,7.0
29,1218689,2991.0,PrimClass_Jeanine,5.900000,PrimClass,2014-12-01 00:00:00,7.0
...,...,...,...,...,...,...,...
604203,1636848,2164.0,PrimClass_Jennifer,6.300000,PrimClass,2015-11-30 23:00:00,12.0
604204,1677788,1468.0,PrimClass_Jesse,3.519000,PrimClass,2015-11-30 23:00:00,12.0
604205,1718728,11955.0,PrimClass_Jaxson,26.700000,PrimClass,2015-11-30 23:00:00,12.0
604206,1759668,3462.0,PrimClass_Jimmie,9.800000,PrimClass,2015-11-30 23:00:00,12.0
604207,1800608,2215.0,PrimClass_Jayda,5.800000,PrimClass,2015-11-30 23:00:00,12.0
604208,1841548,1391.0,PrimClass_Jocelyn,3.653000,PrimClass,2015-11-30 23:00:00,12.0
604209,1882488,11201.0,PrimClass_Jeffery,31.900000,PrimClass,2015-11-30 23:00:00,12.0
604210,1923428,12924.0,PrimClass_Jayson,44.200001,PrimClass,2015-11-30 23:00:00,12.0
604211,1964368,2692.0,PrimClass_Jennie,5.910000,PrimClass,2015-11-30 23:00:00,12.0
604212,2005308,11285.0,PrimClass_Jonathon,54.400000,PrimClass,2015-11-30 23:00:00,12.0
604213,2046248,2193.0,PrimClass_Jaqueline,9.200000,PrimClass,2015-11-30 23:00:00,12.0
604214,2087188,2151.0,PrimClass_Jeremy,5.100000,PrimClass,2015-11-30 23:00:00,12.0
604215,2128128,1584.0,PrimClass_Josue,4.600000,PrimClass,2015-11-30 23:00:00,12.0
604216,2169068,8794.0,PrimClass_Julio,37.099998,PrimClass,2015-11-30 23:00:00,12.0
604217,2210008,1597.0,PrimClass_Jacquelyn,4.800000,PrimClass,2015-11-30 23:00:00,12.0
604218,2250948,2844.0,PrimClass_Juanita,6.500000,PrimClass,2015-11-30 23:00:00,12.0
604219,2291888,1295.0,PrimClass_Joel,3.500000,PrimClass,2015-11-30 23:00:00,12.0
604220,2332828,14475.0,PrimClass_Joey,79.399997,PrimClass,2015-11-30 23:00:00,12.0
604221,2373768,9516.0,PrimClass_Joanna,36.600000,PrimClass,2015-11-30 23:00:00,12.0
604222,2414708,6382.0,PrimClass_Jediah,24.800000,PrimClass,2015-11-30 23:00:00,12.0
604223,2455648,1201.0,PrimClass_Janelle,2.800000,PrimClass,2015-11-30 23:00:00,12.0
604224,2496588,11247.0,PrimClass_Jane,48.100000,PrimClass,2015-11-30 23:00:00,12.0
604225,2537528,1589.0,PrimClass_Jon,15.300000,PrimClass,2015-11-30 23:00:00,12.0
604226,2578468,1432.0,PrimClass_Jake,8.786000,PrimClass,2015-11-30 23:00:00,12.0
604227,2619408,1769.0,PrimClass_Johnnie,7.200000,PrimClass,2015-11-30 23:00:00,12.0
604228,2660348,2253.0,PrimClass_Johnathon,10.000000,PrimClass,2015-11-30 23:00:00,12.0
604229,2701288,14868.0,PrimClass_Jamie,94.000000,PrimClass,2015-11-30 23:00:00,12.0
604230,2742228,6149.0,PrimClass_Jacob,33.300000,PrimClass,2015-11-30 23:00:00,12.0
604231,2783168,1047.0,PrimClass_Jazmin,35.400000,PrimClass,2015-11-30 23:00:00,12.0
604232,2824108,811.0,PrimClass_Jaiden,9.800000,PrimClass,2015-11-30 23:00:00,12.0