In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
from numpy import random
import matplotlib.pyplot as plt
from keras import Sequential, Model
from keras.backend import tensorflow_backend as K
from keras.layers import LSTM, Dense, Conv1D
import datetime

In [2]:
df = pd.read_csv('data_full_noTemp.csv', parse_dates=['timestamp'], index_col=0)

/Users/kategroschner/anaconda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
def stratified_split(df, features):
    '''
    df: the input dataframe to be split
    features: features to be used in stratified splitting
    return train-test split using stratified splitting
    '''
    p = 0.2 #portion of test set
    sss = StratifiedShuffleSplit(n_splits=1, test_size=p)
    building_profiles = (df.groupby('building_name').first())[features]
    X = df['building_name'].unique()
    y = building_profiles.reset_index(drop=True)
    for train_index, test_index in sss.split(X, y):
        train_buildings = X[train_index]
        test_buildings = X[test_index]
    train = df[df['building_name'].isin(train_buildings)]
    test = df[df['building_name'].isin(test_buildings)]
    return train, test

In [5]:
features = ['industry']
train, test = stratified_split(df, features)

In [15]:
train.to_csv('train_full_noTemp.csv')
test.to_csv('test_full_noTemp.csv')

In [72]:
def monthsplit(df,months,lastidx):
    X = []
    Y = []
    for n in df['building_name'].drop_duplicates():
        X_n = []
        Y_n = []
        subset = df[df['building_name']==n]
        for row in subset.iterrows():
            row = np.array(row[-1])
            if row[8] in months:
                r = np.concatenate((row[1:2],row[5:6],row[11:lastidx]))
                X_n.append(r)
            else:
                Y_n.append(row[1])
        X.append(X_n)
        Y.append(Y_n)
    X = np.array(X)
    Y = np.array(Y)
    return X,Y

In [73]:
trainX, trainY = monthsplit(train,[12,1,2],-1)

In [ ]:
testX, testY = monthsplit(test)

In [74]:
np.save('trainX_full_noTemp_wElec.npy',trainX)
np.save('trainY_full_noTemp_wElec.npy',trainY)

In [ ]:
def monthsplit_noFeat(df,months,lastidx):
    X = []
    Y = []
    for n in df['building_name'].drop_duplicates():
        X_n = []
        Y_n = []
        subset = df[df['building_name']==n]
        for row in subset.iterrows():
            row = np.array(row[-1])
            if row[8] in months:
                r = np.concatenate((row[5:6],row[11:lastidx]))
                X_n.append(r)
            else:
                Y_n.append(row[1])
        X.append(X_n)
        Y.append(Y_n)
    X = np.array(X)
    Y = np.array(Y)
    return X,Y

In [12]:
model = Sequential()
model.add(LSTM(256, input_shape=(2160,51)))
model.add(Dense(6600))
model.compile(loss='mean_squared_error', optimizer='adam')

In [17]:
buildings = df['building_name'].unique() #list of name of buildings
num_buildings = len(buildings)
num_obs = len(df) // num_buildings

In [18]:
num_obs

8760

In [75]:
def make_LSTM_data(df):
    buildings = df['building_name'].unique() #list of name of buildings
    num_buildings = len(buildings) # number of buildings
    num_obs = len(df) // num_buildings #number of observations per uilding
    three_months_hours = 24*90 #three months in hour
    nine_months_hours = num_obs - three_months_hours #nine month is defined to be the rest
    #make a long dataframe by duplicating
    df = pd.concat([df, df], ignore_index=True)

    X = pd.DataFrame() #data for fitting which contains three months data
    Y = pd.DataFrame() #data for evaluating which contains nine months data
    for building in buildings:
        subset = df[df['building_name']==building]
#         print(subset.shape)
#         display(subset.head())
#         display(subset.tail())
#         print(subset.columns)
#         break
        start_idx = np.random.randint(low=0, high=num_obs//24)
#         start_day = datetime.timedelta(np.random.randint(low=0, high=num_obs//24)) #randomly pick a startday
#         first_day = subset['timestamp'].iloc[0]
#         start_day = first_day + start_day
#         start_idx = subset[subset['timestamp']==start_day].index[0] #index of the start day
        x = subset.iloc[start_idx: start_idx+three_months_hours] #three months data
        X = pd.concat([X, x], axis=0)
        y = subset.iloc[start_idx+three_months_hours: start_idx+num_obs] #nine months data
        Y = pd.concat([Y, y], axis=0)
    return X, Y

In [64]:
pdTrainX,pdTrainY = make_LSTM_data(train)

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
0,2015-01-01 07:00:00,27.79,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
1,2015-01-01 08:00:00,27.66,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
2,2015-01-01 09:00:00,27.13,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
3,2015-01-01 10:00:00,27.34,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
4,2015-01-01 11:00:00,27.34,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
8760,2015-01-01 07:00:00,5.33,Office_Abigail,weather0.csv,Education,901.437809,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
8761,2015-01-01 08:00:00,5.41,Office_Abigail,weather0.csv,Education,901.437809,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
8762,2015-01-01 09:00:00,5.60,Office_Abigail,weather0.csv,Education,901.437809,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
8763,2015-01-01 10:00:00,6.50,Office_Abigail,weather0.csv,Education,901.437809,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
8764,2015-01-01 11:00:00,5.39,Office_Abigail,weather0.csv,Education,901.437809,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
17520,2015-01-01 07:00:00,298.37,Office_Aliyah,weather0.csv,Education,18806.81881,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
17521,2015-01-01 08:00:00,294.33,Office_Aliyah,weather0.csv,Education,18806.81881,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
17522,2015-01-01 09:00:00,295.58,Office_Aliyah,weather0.csv,Education,18806.81881,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
17523,2015-01-01 10:00:00,294.79,Office_Aliyah,weather0.csv,Education,18806.81881,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
17524,2015-01-01 11:00:00,310.37,Office_Aliyah,weather0.csv,Education,18806.81881,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
26280,2015-01-01 07:00:00,10.69,Office_Allyson,weather0.csv,Education,2670.96125,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
26281,2015-01-01 08:00:00,10.53,Office_Allyson,weather0.csv,Education,2670.96125,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
26282,2015-01-01 09:00:00,10.21,Office_Allyson,weather0.csv,Education,2670.96125,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
26283,2015-01-01 10:00:00,10.30,Office_Allyson,weather0.csv,Education,2670.96125,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
26284,2015-01-01 11:00:00,10.43,Office_Allyson,weather0.csv,Education,2670.96125,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
35040,2015-01-01 07:00:00,286.450,Office_Alyson,weather0.csv,Education,14463.32485,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
35041,2015-01-01 08:00:00,276.415,Office_Alyson,weather0.csv,Education,14463.32485,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
35042,2015-01-01 09:00:00,264.730,Office_Alyson,weather0.csv,Education,14463.32485,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
35043,2015-01-01 10:00:00,261.830,Office_Alyson,weather0.csv,Education,14463.32485,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
35044,2015-01-01 11:00:00,267.535,Office_Alyson,weather0.csv,Education,14463.32485,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
43800,2015-01-01 07:00:00,3.96,Office_Amelia,weather0.csv,Education,576.277309,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
43801,2015-01-01 08:00:00,4.44,Office_Amelia,weather0.csv,Education,576.277309,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
43802,2015-01-01 09:00:00,4.82,Office_Amelia,weather0.csv,Education,576.277309,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
43803,2015-01-01 10:00:00,4.28,Office_Amelia,weather0.csv,Education,576.277309,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
43804,2015-01-01 11:00:00,18.79,Office_Amelia,weather0.csv,Education,576.277309,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
52560,2015-01-01 07:00:00,11.81,Office_Amelie,weather0.csv,Education,3921.807242,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
52561,2015-01-01 08:00:00,11.29,Office_Amelie,weather0.csv,Education,3921.807242,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
52562,2015-01-01 09:00:00,12.02,Office_Amelie,weather0.csv,Education,3921.807242,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
52563,2015-01-01 10:00:00,11.45,Office_Amelie,weather0.csv,Education,3921.807242,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
52564,2015-01-01 11:00:00,11.85,Office_Amelie,weather0.csv,Education,3921.807242,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
61320,2015-01-01 07:00:00,96.15,Office_Anastasia,weather0.csv,Education,13759.0272,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
61321,2015-01-01 08:00:00,95.96,Office_Anastasia,weather0.csv,Education,13759.0272,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
61322,2015-01-01 09:00:00,96.70,Office_Anastasia,weather0.csv,Education,13759.0272,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
61323,2015-01-01 10:00:00,97.27,Office_Anastasia,weather0.csv,Education,13759.0272,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
61324,2015-01-01 11:00:00,98.44,Office_Anastasia,weather0.csv,Education,13759.0272,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
70080,2015-01-01 07:00:00,30.54,Office_Andrea,weather0.csv,Education,3132.038839,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
70081,2015-01-01 08:00:00,30.52,Office_Andrea,weather0.csv,Education,3132.038839,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
70082,2015-01-01 09:00:00,31.04,Office_Andrea,weather0.csv,Education,3132.038839,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
70083,2015-01-01 10:00:00,31.30,Office_Andrea,weather0.csv,Education,3132.038839,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
70084,2015-01-01 11:00:00,30.81,Office_Andrea,weather0.csv,Education,3132.038839,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
78840,2015-01-01 07:00:00,98.46,Office_Angelica,weather0.csv,Education,7772.26498,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
78841,2015-01-01 08:00:00,98.69,Office_Angelica,weather0.csv,Education,7772.26498,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
78842,2015-01-01 09:00:00,99.08,Office_Angelica,weather0.csv,Education,7772.26498,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
78843,2015-01-01 10:00:00,98.49,Office_Angelica,weather0.csv,Education,7772.26498,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
78844,2015-01-01 11:00:00,96.94,Office_Angelica,weather0.csv,Education,7772.26498,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
87600,2015-01-01 07:00:00,323.72,Office_Angelina,weather0.csv,Education,13038.47154,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
87601,2015-01-01 08:00:00,319.94,Office_Angelina,weather0.csv,Education,13038.47154,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
87602,2015-01-01 09:00:00,312.50,Office_Angelina,weather0.csv,Education,13038.47154,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
87603,2015-01-01 10:00:00,326.44,Office_Angelina,weather0.csv,Education,13038.47154,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
87604,2015-01-01 11:00:00,355.78,Office_Angelina,weather0.csv,Education,13038.47154,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
96360,2015-01-01 07:00:00,24.71,Office_Angelo,weather0.csv,Education,4806.057996,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
96361,2015-01-01 08:00:00,24.95,Office_Angelo,weather0.csv,Education,4806.057996,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
96362,2015-01-01 09:00:00,24.80,Office_Angelo,weather0.csv,Education,4806.057996,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
96363,2015-01-01 10:00:00,24.49,Office_Angelo,weather0.csv,Education,4806.057996,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
96364,2015-01-01 11:00:00,24.59,Office_Angelo,weather0.csv,Education,4806.057996,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
105120,2015-01-01 07:00:00,26.16,Office_Annika,weather0.csv,Education,2173.186976,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
105121,2015-01-01 08:00:00,25.65,Office_Annika,weather0.csv,Education,2173.186976,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
105122,2015-01-01 09:00:00,55.46,Office_Annika,weather0.csv,Education,2173.186976,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
105123,2015-01-01 10:00:00,64.96,Office_Annika,weather0.csv,Education,2173.186976,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
105124,2015-01-01 11:00:00,62.81,Office_Annika,weather0.csv,Education,2173.186976,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
113880,2015-01-01 07:00:00,120.70,Office_Ashanti,weather0.csv,Education,6580.969811,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
113881,2015-01-01 08:00:00,115.34,Office_Ashanti,weather0.csv,Education,6580.969811,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
113882,2015-01-01 09:00:00,147.37,Office_Ashanti,weather0.csv,Education,6580.969811,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
113883,2015-01-01 10:00:00,148.36,Office_Ashanti,weather0.csv,Education,6580.969811,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
113884,2015-01-01 11:00:00,146.73,Office_Ashanti,weather0.csv,Education,6580.969811,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
122640,2015-01-01 07:00:00,129.43,Office_Asher,weather0.csv,Education,11282.14032,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
122641,2015-01-01 08:00:00,127.45,Office_Asher,weather0.csv,Education,11282.14032,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
122642,2015-01-01 09:00:00,126.59,Office_Asher,weather0.csv,Education,11282.14032,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
122643,2015-01-01 10:00:00,125.80,Office_Asher,weather0.csv,Education,11282.14032,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
122644,2015-01-01 11:00:00,125.66,Office_Asher,weather0.csv,Education,11282.14032,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
131400,2015-01-01 07:00:00,9.50,Office_Aubrey,weather0.csv,Education,2187.772747,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
131401,2015-01-01 08:00:00,9.50,Office_Aubrey,weather0.csv,Education,2187.772747,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
131402,2015-01-01 09:00:00,9.47,Office_Aubrey,weather0.csv,Education,2187.772747,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
131403,2015-01-01 10:00:00,9.68,Office_Aubrey,weather0.csv,Education,2187.772747,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
131404,2015-01-01 11:00:00,9.37,Office_Aubrey,weather0.csv,Education,2187.772747,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
140160,2015-01-01 07:00:00,160.15,Office_Autumn,weather0.csv,Education,15232.28298,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
140161,2015-01-01 08:00:00,162.95,Office_Autumn,weather0.csv,Education,15232.28298,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
140162,2015-01-01 09:00:00,157.14,Office_Autumn,weather0.csv,Education,15232.28298,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
140163,2015-01-01 10:00:00,266.57,Office_Autumn,weather0.csv,Education,15232.28298,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
140164,2015-01-01 11:00:00,278.86,Office_Autumn,weather0.csv,Education,15232.28298,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
148920,2015-01-01 07:00:00,11.00,Office_Ava,weather0.csv,Education,2766.465534,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
148921,2015-01-01 08:00:00,11.37,Office_Ava,weather0.csv,Education,2766.465534,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
148922,2015-01-01 09:00:00,10.86,Office_Ava,weather0.csv,Education,2766.465534,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0
148923,2015-01-01 10:00:00,10.70,Office_Ava,weather0.csv,Education,2766.465534,Office,2015,1,10,...,0,0,1,0,0,0,0,0,1,0
148924,2015-01-01 11:00:00,11.13,Office_Ava,weather0.csv,Education,2766.465534,Office,2015,1,11,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
157680,2012-01-01 08:00:00,142.25,Office_Benthe,weather7.csv,Education,21947.59053,Office,2012,1,8,...,0,1,1,0,0,0,0,0,1,0
157681,2012-01-01 09:00:00,143.00,Office_Benthe,weather7.csv,Education,21947.59053,Office,2012,1,9,...,0,1,1,0,0,0,0,0,1,0
157682,2012-01-01 10:00:00,160.00,Office_Benthe,weather7.csv,Education,21947.59053,Office,2012,1,10,...,0,1,1,0,0,0,0,0,1,0
157683,2012-01-01 11:00:00,166.00,Office_Benthe,weather7.csv,Education,21947.59053,Office,2012,1,11,...,0,1,1,0,0,0,0,0,1,0
157684,2012-01-01 12:00:00,142.50,Office_Benthe,weather7.csv,Education,21947.59053,Office,2012,1,12,...,0,1,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
166440,2012-01-01 08:00:00,19.56675,Office_Bianca,weather7.csv,Education,5327.336729,Office,2012,1,8,...,0,1,1,0,0,0,0,0,1,0
166441,2012-01-01 09:00:00,17.51600,Office_Bianca,weather7.csv,Education,5327.336729,Office,2012,1,9,...,0,1,1,0,0,0,0,0,1,0
166442,2012-01-01 10:00:00,17.44875,Office_Bianca,weather7.csv,Education,5327.336729,Office,2012,1,10,...,0,1,1,0,0,0,0,0,1,0
166443,2012-01-01 11:00:00,18.06575,Office_Bianca,weather7.csv,Education,5327.336729,Office,2012,1,11,...,0,1,1,0,0,0,0,0,1,0
166444,2012-01-01 12:00:00,17.70450,Office_Bianca,weather7.csv,Education,5327.336729,Office,2012,1,12,...,0,1,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
175200,2012-01-01 08:00:00,41.775,Office_Bobbi,weather7.csv,Education,12755.30319,Office,2012,1,8,...,0,1,1,0,0,0,0,0,1,0
175201,2012-01-01 09:00:00,42.525,Office_Bobbi,weather7.csv,Education,12755.30319,Office,2012,1,9,...,0,1,1,0,0,0,0,0,1,0
175202,2012-01-01 10:00:00,42.200,Office_Bobbi,weather7.csv,Education,12755.30319,Office,2012,1,10,...,0,1,1,0,0,0,0,0,1,0
175203,2012-01-01 11:00:00,40.825,Office_Bobbi,weather7.csv,Education,12755.30319,Office,2012,1,11,...,0,1,1,0,0,0,0,0,1,0
175204,2012-01-01 12:00:00,45.350,Office_Bobbi,weather7.csv,Education,12755.30319,Office,2012,1,12,...,0,1,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
183960,2012-01-01 08:00:00,73.82075,Office_Brian,weather7.csv,Education,7158.640665,Office,2012,1,8,...,0,1,1,0,0,0,0,0,1,0
183961,2012-01-01 09:00:00,74.88975,Office_Brian,weather7.csv,Education,7158.640665,Office,2012,1,9,...,0,1,1,0,0,0,0,0,1,0
183962,2012-01-01 10:00:00,74.82150,Office_Brian,weather7.csv,Education,7158.640665,Office,2012,1,10,...,0,1,1,0,0,0,0,0,1,0
183963,2012-01-01 11:00:00,79.02075,Office_Brian,weather7.csv,Education,7158.640665,Office,2012,1,11,...,0,1,1,0,0,0,0,0,1,0
183964,2012-01-01 12:00:00,75.72100,Office_Brian,weather7.csv,Education,7158.640665,Office,2012,1,12,...,0,1,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
192720,2015-01-01 05:00:00,368.774994,Office_Cameron,weather2.csv,Education,4952.008609,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
192721,2015-01-01 06:00:00,363.024994,Office_Cameron,weather2.csv,Education,4952.008609,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
192722,2015-01-01 07:00:00,368.824997,Office_Cameron,weather2.csv,Education,4952.008609,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
192723,2015-01-01 08:00:00,370.749985,Office_Cameron,weather2.csv,Education,4952.008609,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
192724,2015-01-01 09:00:00,364.050003,Office_Cameron,weather2.csv,Education,4952.008609,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
201480,2015-01-01 05:00:00,8.150,Office_Cecelia,weather2.csv,Education,1070.614172,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
201481,2015-01-01 06:00:00,8.025,Office_Cecelia,weather2.csv,Education,1070.614172,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
201482,2015-01-01 07:00:00,7.875,Office_Cecelia,weather2.csv,Education,1070.614172,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
201483,2015-01-01 08:00:00,7.700,Office_Cecelia,weather2.csv,Education,1070.614172,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
201484,2015-01-01 09:00:00,7.825,Office_Cecelia,weather2.csv,Education,1070.614172,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
210240,2015-01-01 05:00:00,151.524994,Office_Charles,weather2.csv,Education,17376.67002,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
210241,2015-01-01 06:00:00,151.149994,Office_Charles,weather2.csv,Education,17376.67002,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
210242,2015-01-01 07:00:00,153.149994,Office_Charles,weather2.csv,Education,17376.67002,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
210243,2015-01-01 08:00:00,150.975006,Office_Charles,weather2.csv,Education,17376.67002,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
210244,2015-01-01 09:00:00,150.550003,Office_Charles,weather2.csv,Education,17376.67002,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
219000,2015-01-01 05:00:00,13.775,Office_Clarissa,weather2.csv,Education,1369.761832,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
219001,2015-01-01 06:00:00,13.775,Office_Clarissa,weather2.csv,Education,1369.761832,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
219002,2015-01-01 07:00:00,13.725,Office_Clarissa,weather2.csv,Education,1369.761832,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
219003,2015-01-01 08:00:00,13.775,Office_Clarissa,weather2.csv,Education,1369.761832,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
219004,2015-01-01 09:00:00,13.500,Office_Clarissa,weather2.csv,Education,1369.761832,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
227760,2015-01-01 05:00:00,21.475000,Office_Clifton,weather2.csv,Education,2909.350348,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
227761,2015-01-01 06:00:00,21.825001,Office_Clifton,weather2.csv,Education,2909.350348,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
227762,2015-01-01 07:00:00,21.475000,Office_Clifton,weather2.csv,Education,2909.350348,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
227763,2015-01-01 08:00:00,21.100000,Office_Clifton,weather2.csv,Education,2909.350348,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
227764,2015-01-01 09:00:00,21.450001,Office_Clifton,weather2.csv,Education,2909.350348,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
236520,2015-01-01 05:00:00,92.175003,Office_Clinton,weather2.csv,Education,4364.675843,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
236521,2015-01-01 06:00:00,92.725006,Office_Clinton,weather2.csv,Education,4364.675843,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
236522,2015-01-01 07:00:00,90.599998,Office_Clinton,weather2.csv,Education,4364.675843,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
236523,2015-01-01 08:00:00,95.775002,Office_Clinton,weather2.csv,Education,4364.675843,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
236524,2015-01-01 09:00:00,98.549995,Office_Clinton,weather2.csv,Education,4364.675843,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
245280,2015-01-01 05:00:00,64.050003,Office_Cody,weather2.csv,Education,7860.987345,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
245281,2015-01-01 06:00:00,66.625000,Office_Cody,weather2.csv,Education,7860.987345,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
245282,2015-01-01 07:00:00,63.799999,Office_Cody,weather2.csv,Education,7860.987345,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
245283,2015-01-01 08:00:00,66.099998,Office_Cody,weather2.csv,Education,7860.987345,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
245284,2015-01-01 09:00:00,64.974998,Office_Cody,weather2.csv,Education,7860.987345,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
254040,2015-01-01 05:00:00,187.024994,Office_Colby,weather2.csv,Education,10254.63314,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
254041,2015-01-01 06:00:00,187.399994,Office_Colby,weather2.csv,Education,10254.63314,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
254042,2015-01-01 07:00:00,187.975006,Office_Colby,weather2.csv,Education,10254.63314,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
254043,2015-01-01 08:00:00,185.774994,Office_Colby,weather2.csv,Education,10254.63314,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
254044,2015-01-01 09:00:00,187.274994,Office_Colby,weather2.csv,Education,10254.63314,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
262800,2015-01-01 05:00:00,7.025,Office_Conrad,weather2.csv,Education,2008.377054,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
262801,2015-01-01 06:00:00,6.975,Office_Conrad,weather2.csv,Education,2008.377054,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
262802,2015-01-01 07:00:00,7.000,Office_Conrad,weather2.csv,Education,2008.377054,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
262803,2015-01-01 08:00:00,7.500,Office_Conrad,weather2.csv,Education,2008.377054,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
262804,2015-01-01 09:00:00,6.275,Office_Conrad,weather2.csv,Education,2008.377054,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
271560,2015-01-01 05:00:00,73.925003,Office_Cora,weather2.csv,Education,3972.067765,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
271561,2015-01-01 06:00:00,75.875000,Office_Cora,weather2.csv,Education,3972.067765,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
271562,2015-01-01 07:00:00,76.025002,Office_Cora,weather2.csv,Education,3972.067765,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
271563,2015-01-01 08:00:00,75.349998,Office_Cora,weather2.csv,Education,3972.067765,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
271564,2015-01-01 09:00:00,72.250000,Office_Cora,weather2.csv,Education,3972.067765,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
280320,2015-01-01 05:00:00,25.924999,Office_Corbin,weather2.csv,Education,3772.883733,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
280321,2015-01-01 06:00:00,28.750000,Office_Corbin,weather2.csv,Education,3772.883733,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
280322,2015-01-01 07:00:00,25.775000,Office_Corbin,weather2.csv,Education,3772.883733,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
280323,2015-01-01 08:00:00,25.150000,Office_Corbin,weather2.csv,Education,3772.883733,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
280324,2015-01-01 09:00:00,24.250000,Office_Corbin,weather2.csv,Education,3772.883733,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
289080,2015-01-01 05:00:00,3.825,Office_Cristina,weather2.csv,Education,8572.252713,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
289081,2015-01-01 06:00:00,3.375,Office_Cristina,weather2.csv,Education,8572.252713,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
289082,2015-01-01 07:00:00,3.425,Office_Cristina,weather2.csv,Education,8572.252713,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
289083,2015-01-01 08:00:00,3.525,Office_Cristina,weather2.csv,Education,8572.252713,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
289084,2015-01-01 09:00:00,3.750,Office_Cristina,weather2.csv,Education,8572.252713,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
297840,2012-01-01 05:00:00,24.92155,Office_Eddie,weather30.csv,Commercial Property,16691.4175,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
297841,2012-01-01 06:00:00,24.75485,Office_Eddie,weather30.csv,Commercial Property,16691.4175,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
297842,2012-01-01 07:00:00,24.67150,Office_Eddie,weather30.csv,Commercial Property,16691.4175,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
297843,2012-01-01 08:00:00,24.75485,Office_Eddie,weather30.csv,Commercial Property,16691.4175,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
297844,2012-01-01 09:00:00,24.75485,Office_Eddie,weather30.csv,Commercial Property,16691.4175,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
306600,2012-01-01 08:00:00,3.159733,Office_Elizabeth,weather22.csv,Commercial Property,27373.96185,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
306601,2012-01-01 09:00:00,3.167025,Office_Elizabeth,weather22.csv,Commercial Property,27373.96185,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0
306602,2012-01-01 10:00:00,3.167042,Office_Elizabeth,weather22.csv,Commercial Property,27373.96185,Office,2012,1,10,...,0,1,1,0,0,0,0,1,0,0
306603,2012-01-01 11:00:00,2.748550,Office_Elizabeth,weather22.csv,Commercial Property,27373.96185,Office,2012,1,11,...,0,1,1,0,0,0,0,1,0,0
306604,2012-01-01 12:00:00,2.233192,Office_Elizabeth,weather22.csv,Commercial Property,27373.96185,Office,2012,1,12,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
315360,2012-01-01 08:00:00,6.685650,Office_Ellie,weather28.csv,Commercial Property,46127.91885,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
315361,2012-01-01 09:00:00,6.922733,Office_Ellie,weather28.csv,Commercial Property,46127.91885,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0
315362,2012-01-01 10:00:00,6.922733,Office_Ellie,weather28.csv,Commercial Property,46127.91885,Office,2012,1,10,...,0,1,1,0,0,0,0,1,0,0
315363,2012-01-01 11:00:00,6.780483,Office_Ellie,weather28.csv,Commercial Property,46127.91885,Office,2012,1,11,...,0,1,1,0,0,0,0,1,0,0
315364,2012-01-01 12:00:00,6.875317,Office_Ellie,weather28.csv,Commercial Property,46127.91885,Office,2012,1,12,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
324120,2012-01-01 05:00:00,25.246742,Office_Elliot,weather31.csv,Commercial Property,17265.74384,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
324121,2012-01-01 06:00:00,25.077867,Office_Elliot,weather31.csv,Commercial Property,17265.74384,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
324122,2012-01-01 07:00:00,24.993433,Office_Elliot,weather31.csv,Commercial Property,17265.74384,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
324123,2012-01-01 08:00:00,25.077883,Office_Elliot,weather31.csv,Commercial Property,17265.74384,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
324124,2012-01-01 09:00:00,25.077875,Office_Elliot,weather31.csv,Commercial Property,17265.74384,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
332880,2012-01-01 05:00:00,54.600075,Office_Ellis,weather25.csv,Commercial Property,39788.21813,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
332881,2012-01-01 06:00:00,54.890500,Office_Ellis,weather25.csv,Commercial Property,39788.21813,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
332882,2012-01-01 07:00:00,54.164433,Office_Ellis,weather25.csv,Commercial Property,39788.21813,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
332883,2012-01-01 08:00:00,54.793692,Office_Ellis,weather25.csv,Commercial Property,39788.21813,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
332884,2012-01-01 09:00:00,54.019225,Office_Ellis,weather25.csv,Commercial Property,39788.21813,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
341640,2012-01-01 05:00:00,19.492250,Office_Emer,weather36.csv,Commercial Property,17795.94126,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
341641,2012-01-01 06:00:00,19.690150,Office_Emer,weather36.csv,Commercial Property,17795.94126,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
341642,2012-01-01 07:00:00,20.217883,Office_Emer,weather36.csv,Commercial Property,17795.94126,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
341643,2012-01-01 08:00:00,20.052967,Office_Emer,weather36.csv,Commercial Property,17795.94126,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
341644,2012-01-01 09:00:00,19.954017,Office_Emer,weather36.csv,Commercial Property,17795.94126,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
350400,2012-01-01 05:00:00,58.119408,Office_Emerald,weather16.csv,Commercial Property,44244.68214,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
350401,2012-01-01 06:00:00,57.597375,Office_Emerald,weather16.csv,Commercial Property,44244.68214,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
350402,2012-01-01 07:00:00,58.926750,Office_Emerald,weather16.csv,Commercial Property,44244.68214,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
350403,2012-01-01 08:00:00,58.436575,Office_Emerald,weather16.csv,Commercial Property,44244.68214,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
350404,2012-01-01 09:00:00,58.665725,Office_Emerald,weather16.csv,Commercial Property,44244.68214,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
359160,2012-01-01 05:00:00,7.020433,Office_Erik,weather14.csv,Commercial Property,11724.82312,Office,2012,1,5,...,0,1,1,0,0,0,0,1,0,0
359161,2012-01-01 06:00:00,6.969100,Office_Erik,weather14.csv,Commercial Property,11724.82312,Office,2012,1,6,...,0,1,1,0,0,0,0,1,0,0
359162,2012-01-01 07:00:00,7.264267,Office_Erik,weather14.csv,Commercial Property,11724.82312,Office,2012,1,7,...,0,1,1,0,0,0,0,1,0,0
359163,2012-01-01 08:00:00,6.956267,Office_Erik,weather14.csv,Commercial Property,11724.82312,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
359164,2012-01-01 09:00:00,7.020433,Office_Erik,weather14.csv,Commercial Property,11724.82312,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
367920,2012-01-01 08:00:00,155.820508,Office_Evelyn,weather20.csv,Commercial Property,155679.4152,Office,2012,1,8,...,0,1,1,0,0,0,0,1,0,0
367921,2012-01-01 09:00:00,150.711650,Office_Evelyn,weather20.csv,Commercial Property,155679.4152,Office,2012,1,9,...,0,1,1,0,0,0,0,1,0,0
367922,2012-01-01 10:00:00,154.314050,Office_Evelyn,weather20.csv,Commercial Property,155679.4152,Office,2012,1,10,...,0,1,1,0,0,0,0,1,0,0
367923,2012-01-01 11:00:00,150.187667,Office_Evelyn,weather20.csv,Commercial Property,155679.4152,Office,2012,1,11,...,0,1,1,0,0,0,0,1,0,0
367924,2012-01-01 12:00:00,130.472683,Office_Evelyn,weather20.csv,Commercial Property,155679.4152,Office,2012,1,12,...,0,1,1,0,0,0,0,1,0,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
376680,2014-12-01 00:00:00,299.3,Office_Garman,weather5.csv,Government,13995.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
376681,2014-12-01 01:00:00,315.0,Office_Garman,weather5.csv,Government,13995.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
376682,2014-12-01 02:00:00,311.3,Office_Garman,weather5.csv,Government,13995.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
376683,2014-12-01 03:00:00,314.7,Office_Garman,weather5.csv,Government,13995.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
376684,2014-12-01 04:00:00,316.0,Office_Garman,weather5.csv,Government,13995.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
385440,2014-12-01 00:00:00,539.2,Office_Gemma,weather5.csv,Government,76203.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
385441,2014-12-01 01:00:00,532.4,Office_Gemma,weather5.csv,Government,76203.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
385442,2014-12-01 02:00:00,525.4,Office_Gemma,weather5.csv,Government,76203.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
385443,2014-12-01 03:00:00,535.0,Office_Gemma,weather5.csv,Government,76203.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
385444,2014-12-01 04:00:00,534.2,Office_Gemma,weather5.csv,Government,76203.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
394200,2014-12-01 00:00:00,7.316373,Office_Georgia,weather5.csv,Government,3155.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
394201,2014-12-01 01:00:00,3.989429,Office_Georgia,weather5.csv,Government,3155.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
394202,2014-12-01 02:00:00,2.788283,Office_Georgia,weather5.csv,Government,3155.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
394203,2014-12-01 03:00:00,3.995735,Office_Georgia,weather5.csv,Government,3155.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
394204,2014-12-01 04:00:00,3.716806,Office_Georgia,weather5.csv,Government,3155.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
402960,2014-12-01 00:00:00,1342.3,Office_Gisselle,weather5.csv,Government,122223.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
402961,2014-12-01 01:00:00,1205.5,Office_Gisselle,weather5.csv,Government,122223.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
402962,2014-12-01 02:00:00,1216.4,Office_Gisselle,weather5.csv,Government,122223.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
402963,2014-12-01 03:00:00,1233.0,Office_Gisselle,weather5.csv,Government,122223.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
402964,2014-12-01 04:00:00,1264.9,Office_Gisselle,weather5.csv,Government,122223.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
411720,2014-12-01 00:00:00,224.0,Office_Gladys,weather5.csv,Government,18098.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
411721,2014-12-01 01:00:00,192.5,Office_Gladys,weather5.csv,Government,18098.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
411722,2014-12-01 02:00:00,191.5,Office_Gladys,weather5.csv,Government,18098.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
411723,2014-12-01 03:00:00,191.5,Office_Gladys,weather5.csv,Government,18098.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
411724,2014-12-01 04:00:00,201.0,Office_Gladys,weather5.csv,Government,18098.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
420480,2014-12-01 00:00:00,62.2,Office_Glenda,weather5.csv,Government,5630.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
420481,2014-12-01 01:00:00,60.3,Office_Glenda,weather5.csv,Government,5630.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
420482,2014-12-01 02:00:00,60.0,Office_Glenda,weather5.csv,Government,5630.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
420483,2014-12-01 03:00:00,59.7,Office_Glenda,weather5.csv,Government,5630.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
420484,2014-12-01 04:00:00,60.0,Office_Glenda,weather5.csv,Government,5630.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
429240,2014-12-01 00:00:00,34.1,Office_Glenn,weather5.csv,Government,1719.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
429241,2014-12-01 01:00:00,21.4,Office_Glenn,weather5.csv,Government,1719.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
429242,2014-12-01 02:00:00,22.0,Office_Glenn,weather5.csv,Government,1719.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
429243,2014-12-01 03:00:00,21.7,Office_Glenn,weather5.csv,Government,1719.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
429244,2014-12-01 04:00:00,22.9,Office_Glenn,weather5.csv,Government,1719.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
438000,2014-12-01 00:00:00,100.8,Office_Guillermo,weather5.csv,Government,10203.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
438001,2014-12-01 01:00:00,96.2,Office_Guillermo,weather5.csv,Government,10203.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
438002,2014-12-01 02:00:00,94.5,Office_Guillermo,weather5.csv,Government,10203.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
438003,2014-12-01 03:00:00,93.6,Office_Guillermo,weather5.csv,Government,10203.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
438004,2014-12-01 04:00:00,104.2,Office_Guillermo,weather5.csv,Government,10203.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
446760,2014-12-01 00:00:00,177.3,Office_Gustavo,weather5.csv,Government,22569.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
446761,2014-12-01 01:00:00,167.3,Office_Gustavo,weather5.csv,Government,22569.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
446762,2014-12-01 02:00:00,164.6,Office_Gustavo,weather5.csv,Government,22569.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
446763,2014-12-01 03:00:00,168.6,Office_Gustavo,weather5.csv,Government,22569.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
446764,2014-12-01 04:00:00,168.2,Office_Gustavo,weather5.csv,Government,22569.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
455520,2014-12-01 00:00:00,1.7,Office_Jackie,weather1.csv,Government,1134.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
455521,2014-12-01 01:00:00,0.8,Office_Jackie,weather1.csv,Government,1134.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
455522,2014-12-01 02:00:00,0.8,Office_Jackie,weather1.csv,Government,1134.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
455523,2014-12-01 03:00:00,0.8,Office_Jackie,weather1.csv,Government,1134.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
455524,2014-12-01 04:00:00,0.8,Office_Jackie,weather1.csv,Government,1134.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
464280,2014-12-01 00:00:00,7.14,Office_Jackson,weather1.csv,Government,1063.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
464281,2014-12-01 01:00:00,6.56,Office_Jackson,weather1.csv,Government,1063.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
464282,2014-12-01 02:00:00,6.63,Office_Jackson,weather1.csv,Government,1063.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
464283,2014-12-01 03:00:00,6.50,Office_Jackson,weather1.csv,Government,1063.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
464284,2014-12-01 04:00:00,6.49,Office_Jackson,weather1.csv,Government,1063.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
473040,2014-12-01 00:00:00,10.7,Office_Jan,weather1.csv,Government,3365.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
473041,2014-12-01 01:00:00,10.7,Office_Jan,weather1.csv,Government,3365.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
473042,2014-12-01 02:00:00,10.6,Office_Jan,weather1.csv,Government,3365.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
473043,2014-12-01 03:00:00,10.7,Office_Jan,weather1.csv,Government,3365.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
473044,2014-12-01 04:00:00,10.5,Office_Jan,weather1.csv,Government,3365.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
481800,2014-12-01 00:00:00,1.2,Office_Jeanne,weather1.csv,Government,432.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
481801,2014-12-01 01:00:00,1.2,Office_Jeanne,weather1.csv,Government,432.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
481802,2014-12-01 02:00:00,1.2,Office_Jeanne,weather1.csv,Government,432.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
481803,2014-12-01 03:00:00,1.3,Office_Jeanne,weather1.csv,Government,432.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
481804,2014-12-01 04:00:00,1.2,Office_Jeanne,weather1.csv,Government,432.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
490560,2014-12-01 00:00:00,4.5,Office_Jerry,weather1.csv,Government,1542.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
490561,2014-12-01 01:00:00,4.1,Office_Jerry,weather1.csv,Government,1542.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
490562,2014-12-01 02:00:00,4.2,Office_Jerry,weather1.csv,Government,1542.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
490563,2014-12-01 03:00:00,4.1,Office_Jerry,weather1.csv,Government,1542.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
490564,2014-12-01 04:00:00,4.1,Office_Jerry,weather1.csv,Government,1542.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
499320,2014-12-01 00:00:00,1.4,Office_Jesus,weather1.csv,Government,3962.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
499321,2014-12-01 01:00:00,1.2,Office_Jesus,weather1.csv,Government,3962.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
499322,2014-12-01 02:00:00,1.5,Office_Jesus,weather1.csv,Government,3962.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
499323,2014-12-01 03:00:00,1.2,Office_Jesus,weather1.csv,Government,3962.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
499324,2014-12-01 04:00:00,1.6,Office_Jesus,weather1.csv,Government,3962.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
508080,2014-12-01 00:00:00,8.5,Office_Joan,weather1.csv,Government,1805.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
508081,2014-12-01 01:00:00,7.4,Office_Joan,weather1.csv,Government,1805.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
508082,2014-12-01 02:00:00,7.4,Office_Joan,weather1.csv,Government,1805.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
508083,2014-12-01 03:00:00,7.3,Office_Joan,weather1.csv,Government,1805.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
508084,2014-12-01 04:00:00,7.3,Office_Joan,weather1.csv,Government,1805.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
516840,2014-12-01 00:00:00,70.799999,Office_John,weather1.csv,Government,14165.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
516841,2014-12-01 01:00:00,64.799999,Office_John,weather1.csv,Government,14165.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
516842,2014-12-01 02:00:00,62.400000,Office_John,weather1.csv,Government,14165.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
516843,2014-12-01 03:00:00,63.799999,Office_John,weather1.csv,Government,14165.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
516844,2014-12-01 04:00:00,63.200001,Office_John,weather1.csv,Government,14165.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
525600,2014-12-01 00:00:00,63.899999,Office_Joni,weather1.csv,Government,5336.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
525601,2014-12-01 01:00:00,64.100001,Office_Joni,weather1.csv,Government,5336.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
525602,2014-12-01 02:00:00,67.600003,Office_Joni,weather1.csv,Government,5336.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
525603,2014-12-01 03:00:00,67.300004,Office_Joni,weather1.csv,Government,5336.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
525604,2014-12-01 04:00:00,73.699996,Office_Joni,weather1.csv,Government,5336.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
534360,2014-12-01 00:00:00,295.30000,Office_Jude,weather1.csv,Government,25087.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,0,1
534361,2014-12-01 01:00:00,289.10001,Office_Jude,weather1.csv,Government,25087.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,0,1
534362,2014-12-01 02:00:00,290.00000,Office_Jude,weather1.csv,Government,25087.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,0,1
534363,2014-12-01 03:00:00,289.69999,Office_Jude,weather1.csv,Government,25087.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,0,1
534364,2014-12-01 04:00:00,300.80000,Office_Jude,weather1.csv,Government,25087.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
543120,2014-12-01 00:00:00,226.6,Office_Lane,weather5.csv,Education,3201.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
543121,2014-12-01 01:00:00,218.0,Office_Lane,weather5.csv,Education,3201.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
543122,2014-12-01 02:00:00,221.0,Office_Lane,weather5.csv,Education,3201.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
543123,2014-12-01 03:00:00,217.9,Office_Lane,weather5.csv,Education,3201.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
543124,2014-12-01 04:00:00,223.3,Office_Lane,weather5.csv,Education,3201.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
551880,2014-12-01 00:00:00,52.2,Office_Leland,weather5.csv,Education,2833.1,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
551881,2014-12-01 01:00:00,54.3,Office_Leland,weather5.csv,Education,2833.1,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
551882,2014-12-01 02:00:00,54.4,Office_Leland,weather5.csv,Education,2833.1,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
551883,2014-12-01 03:00:00,54.5,Office_Leland,weather5.csv,Education,2833.1,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
551884,2014-12-01 04:00:00,54.3,Office_Leland,weather5.csv,Education,2833.1,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
560640,2014-12-01 00:00:00,27.5,Office_Lena,weather5.csv,Education,2937.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
560641,2014-12-01 01:00:00,24.1,Office_Lena,weather5.csv,Education,2937.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
560642,2014-12-01 02:00:00,23.9,Office_Lena,weather5.csv,Education,2937.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
560643,2014-12-01 03:00:00,23.9,Office_Lena,weather5.csv,Education,2937.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
560644,2014-12-01 04:00:00,24.0,Office_Lena,weather5.csv,Education,2937.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
569400,2014-12-01 00:00:00,15.7,Office_Lesa,weather5.csv,Education,4434.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
569401,2014-12-01 01:00:00,14.4,Office_Lesa,weather5.csv,Education,4434.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
569402,2014-12-01 02:00:00,14.8,Office_Lesa,weather5.csv,Education,4434.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
569403,2014-12-01 03:00:00,15.3,Office_Lesa,weather5.csv,Education,4434.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
569404,2014-12-01 04:00:00,15.2,Office_Lesa,weather5.csv,Education,4434.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
578160,2014-12-01 00:00:00,105.8,Office_Lillian,weather5.csv,Education,16221.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
578161,2014-12-01 01:00:00,104.1,Office_Lillian,weather5.csv,Education,16221.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
578162,2014-12-01 02:00:00,102.9,Office_Lillian,weather5.csv,Education,16221.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
578163,2014-12-01 03:00:00,104.1,Office_Lillian,weather5.csv,Education,16221.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
578164,2014-12-01 04:00:00,104.7,Office_Lillian,weather5.csv,Education,16221.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
586920,2014-12-01 00:00:00,34.7,Office_Louise,weather5.csv,Education,1942.6,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
586921,2014-12-01 01:00:00,32.7,Office_Louise,weather5.csv,Education,1942.6,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
586922,2014-12-01 02:00:00,32.6,Office_Louise,weather5.csv,Education,1942.6,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
586923,2014-12-01 03:00:00,32.9,Office_Louise,weather5.csv,Education,1942.6,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
586924,2014-12-01 04:00:00,32.6,Office_Louise,weather5.csv,Education,1942.6,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
595680,2014-12-01 00:00:00,358.2,Office_Luann,weather5.csv,Education,6099.7,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
595681,2014-12-01 01:00:00,357.6,Office_Luann,weather5.csv,Education,6099.7,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
595682,2014-12-01 02:00:00,356.4,Office_Luann,weather5.csv,Education,6099.7,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
595683,2014-12-01 03:00:00,354.6,Office_Luann,weather5.csv,Education,6099.7,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
595684,2014-12-01 04:00:00,356.4,Office_Luann,weather5.csv,Education,6099.7,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
604440,2014-05-01 05:00:00,46.50,Office_Mada,weather3.csv,Education,6582.363356,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
604441,2014-05-01 06:00:00,43.50,Office_Mada,weather3.csv,Education,6582.363356,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
604442,2014-05-01 07:00:00,45.00,Office_Mada,weather3.csv,Education,6582.363356,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
604443,2014-05-01 08:00:00,45.75,Office_Mada,weather3.csv,Education,6582.363356,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
604444,2014-05-01 09:00:00,45.25,Office_Mada,weather3.csv,Education,6582.363356,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
613200,2014-05-01 05:00:00,75.5,Office_Madeleine,weather3.csv,Education,5332.074782,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
613201,2014-05-01 06:00:00,77.0,Office_Madeleine,weather3.csv,Education,5332.074782,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
613202,2014-05-01 07:00:00,67.5,Office_Madeleine,weather3.csv,Education,5332.074782,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
613203,2014-05-01 08:00:00,62.5,Office_Madeleine,weather3.csv,Education,5332.074782,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
613204,2014-05-01 09:00:00,67.0,Office_Madeleine,weather3.csv,Education,5332.074782,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
621960,2014-05-01 05:00:00,36.75,Office_Malik,weather3.csv,Education,6302.446617,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
621961,2014-05-01 06:00:00,37.00,Office_Malik,weather3.csv,Education,6302.446617,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
621962,2014-05-01 07:00:00,36.50,Office_Malik,weather3.csv,Education,6302.446617,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
621963,2014-05-01 08:00:00,36.00,Office_Malik,weather3.csv,Education,6302.446617,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
621964,2014-05-01 09:00:00,38.25,Office_Malik,weather3.csv,Education,6302.446617,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
630720,2014-05-01 05:00:00,14.00,Office_Marc,weather3.csv,Education,4420.138934,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
630721,2014-05-01 06:00:00,14.50,Office_Marc,weather3.csv,Education,4420.138934,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
630722,2014-05-01 07:00:00,13.75,Office_Marc,weather3.csv,Education,4420.138934,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
630723,2014-05-01 08:00:00,14.00,Office_Marc,weather3.csv,Education,4420.138934,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
630724,2014-05-01 09:00:00,13.25,Office_Marc,weather3.csv,Education,4420.138934,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
639480,2014-05-01 05:00:00,192.75,Office_Marcia,weather3.csv,Education,5837.745811,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
639481,2014-05-01 06:00:00,194.00,Office_Marcia,weather3.csv,Education,5837.745811,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
639482,2014-05-01 07:00:00,194.50,Office_Marcia,weather3.csv,Education,5837.745811,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
639483,2014-05-01 08:00:00,196.25,Office_Marcia,weather3.csv,Education,5837.745811,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
639484,2014-05-01 09:00:00,191.75,Office_Marcia,weather3.csv,Education,5837.745811,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
648240,2014-05-01 05:00:00,23.00,Office_Marcus,weather3.csv,Education,6754.884227,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
648241,2014-05-01 06:00:00,22.25,Office_Marcus,weather3.csv,Education,6754.884227,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
648242,2014-05-01 07:00:00,21.75,Office_Marcus,weather3.csv,Education,6754.884227,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
648243,2014-05-01 08:00:00,21.25,Office_Marcus,weather3.csv,Education,6754.884227,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
648244,2014-05-01 09:00:00,21.50,Office_Marcus,weather3.csv,Education,6754.884227,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
657000,2014-05-01 05:00:00,98.75,Office_Marion,weather3.csv,Education,8094.731293,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
657001,2014-05-01 06:00:00,102.75,Office_Marion,weather3.csv,Education,8094.731293,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
657002,2014-05-01 07:00:00,99.00,Office_Marion,weather3.csv,Education,8094.731293,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
657003,2014-05-01 08:00:00,94.00,Office_Marion,weather3.csv,Education,8094.731293,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
657004,2014-05-01 09:00:00,98.00,Office_Marion,weather3.csv,Education,8094.731293,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
665760,2014-05-01 05:00:00,63.50,Office_Mark,weather3.csv,Education,8975.544636,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
665761,2014-05-01 06:00:00,60.75,Office_Mark,weather3.csv,Education,8975.544636,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
665762,2014-05-01 07:00:00,64.75,Office_Mark,weather3.csv,Education,8975.544636,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
665763,2014-05-01 08:00:00,65.25,Office_Mark,weather3.csv,Education,8975.544636,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
665764,2014-05-01 09:00:00,62.50,Office_Mark,weather3.csv,Education,8975.544636,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
674520,2014-05-01 05:00:00,11.00,Office_Marla,weather3.csv,Education,3103.053103,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
674521,2014-05-01 06:00:00,10.25,Office_Marla,weather3.csv,Education,3103.053103,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
674522,2014-05-01 07:00:00,11.50,Office_Marla,weather3.csv,Education,3103.053103,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
674523,2014-05-01 08:00:00,10.50,Office_Marla,weather3.csv,Education,3103.053103,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
674524,2014-05-01 09:00:00,10.50,Office_Marla,weather3.csv,Education,3103.053103,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
683280,2014-05-01 05:00:00,37.50,Office_Martin,weather3.csv,Education,2413.341231,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
683281,2014-05-01 06:00:00,36.00,Office_Martin,weather3.csv,Education,2413.341231,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
683282,2014-05-01 07:00:00,35.75,Office_Martin,weather3.csv,Education,2413.341231,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
683283,2014-05-01 08:00:00,34.25,Office_Martin,weather3.csv,Education,2413.341231,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
683284,2014-05-01 09:00:00,34.00,Office_Martin,weather3.csv,Education,2413.341231,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
692040,2014-05-01 05:00:00,7.25,Office_Marvin,weather3.csv,Education,964.797655,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
692041,2014-05-01 06:00:00,7.00,Office_Marvin,weather3.csv,Education,964.797655,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
692042,2014-05-01 07:00:00,7.00,Office_Marvin,weather3.csv,Education,964.797655,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
692043,2014-05-01 08:00:00,7.00,Office_Marvin,weather3.csv,Education,964.797655,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
692044,2014-05-01 09:00:00,7.00,Office_Marvin,weather3.csv,Education,964.797655,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
700800,2014-05-01 05:00:00,20.75,Office_Mary,weather3.csv,Education,5255.429807,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
700801,2014-05-01 06:00:00,21.25,Office_Mary,weather3.csv,Education,5255.429807,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
700802,2014-05-01 07:00:00,21.25,Office_Mary,weather3.csv,Education,5255.429807,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
700803,2014-05-01 08:00:00,23.00,Office_Mary,weather3.csv,Education,5255.429807,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
700804,2014-05-01 09:00:00,23.75,Office_Mary,weather3.csv,Education,5255.429807,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
709560,2014-05-01 05:00:00,131.00,Office_Mason,weather3.csv,Education,3565.802946,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
709561,2014-05-01 06:00:00,111.25,Office_Mason,weather3.csv,Education,3565.802946,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
709562,2014-05-01 07:00:00,98.75,Office_Mason,weather3.csv,Education,3565.802946,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
709563,2014-05-01 08:00:00,95.00,Office_Mason,weather3.csv,Education,3565.802946,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
709564,2014-05-01 09:00:00,90.75,Office_Mason,weather3.csv,Education,3565.802946,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
718320,2014-05-01 05:00:00,31.25,Office_Mat,weather3.csv,Education,4931.012531,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
718321,2014-05-01 06:00:00,31.25,Office_Mat,weather3.csv,Education,4931.012531,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
718322,2014-05-01 07:00:00,31.25,Office_Mat,weather3.csv,Education,4931.012531,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
718323,2014-05-01 08:00:00,31.50,Office_Mat,weather3.csv,Education,4931.012531,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
718324,2014-05-01 09:00:00,32.00,Office_Mat,weather3.csv,Education,4931.012531,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
727080,2014-05-01 05:00:00,150.00,Office_Matthew,weather3.csv,Education,14636.40314,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
727081,2014-05-01 06:00:00,146.00,Office_Matthew,weather3.csv,Education,14636.40314,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
727082,2014-05-01 07:00:00,145.75,Office_Matthew,weather3.csv,Education,14636.40314,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
727083,2014-05-01 08:00:00,146.75,Office_Matthew,weather3.csv,Education,14636.40314,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
727084,2014-05-01 09:00:00,144.75,Office_Matthew,weather3.csv,Education,14636.40314,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
735840,2014-05-01 05:00:00,56.00,Office_Max,weather3.csv,Education,6683.070208,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
735841,2014-05-01 06:00:00,47.25,Office_Max,weather3.csv,Education,6683.070208,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
735842,2014-05-01 07:00:00,45.00,Office_Max,weather3.csv,Education,6683.070208,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
735843,2014-05-01 08:00:00,44.00,Office_Max,weather3.csv,Education,6683.070208,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
735844,2014-05-01 09:00:00,44.50,Office_Max,weather3.csv,Education,6683.070208,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
744600,2014-05-01 05:00:00,33.75,Office_Maximus,weather3.csv,Education,12239.50574,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
744601,2014-05-01 06:00:00,35.25,Office_Maximus,weather3.csv,Education,12239.50574,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
744602,2014-05-01 07:00:00,34.00,Office_Maximus,weather3.csv,Education,12239.50574,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
744603,2014-05-01 08:00:00,31.25,Office_Maximus,weather3.csv,Education,12239.50574,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
744604,2014-05-01 09:00:00,31.00,Office_Maximus,weather3.csv,Education,12239.50574,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
753360,2014-05-01 05:00:00,77.50,Office_Maya,weather3.csv,Education,8556.273397,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
753361,2014-05-01 06:00:00,78.25,Office_Maya,weather3.csv,Education,8556.273397,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
753362,2014-05-01 07:00:00,77.75,Office_Maya,weather3.csv,Education,8556.273397,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
753363,2014-05-01 08:00:00,77.50,Office_Maya,weather3.csv,Education,8556.273397,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
753364,2014-05-01 09:00:00,74.75,Office_Maya,weather3.csv,Education,8556.273397,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
762120,2014-05-01 05:00:00,66.25,Office_Megan,weather3.csv,Education,5453.684809,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
762121,2014-05-01 06:00:00,64.50,Office_Megan,weather3.csv,Education,5453.684809,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
762122,2014-05-01 07:00:00,61.75,Office_Megan,weather3.csv,Education,5453.684809,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
762123,2014-05-01 08:00:00,63.25,Office_Megan,weather3.csv,Education,5453.684809,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
762124,2014-05-01 09:00:00,68.75,Office_Megan,weather3.csv,Education,5453.684809,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
770880,2014-05-01 05:00:00,39.25,Office_Melinda,weather3.csv,Education,3328.621587,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
770881,2014-05-01 06:00:00,40.50,Office_Melinda,weather3.csv,Education,3328.621587,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
770882,2014-05-01 07:00:00,35.75,Office_Melinda,weather3.csv,Education,3328.621587,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
770883,2014-05-01 08:00:00,35.00,Office_Melinda,weather3.csv,Education,3328.621587,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
770884,2014-05-01 09:00:00,35.50,Office_Melinda,weather3.csv,Education,3328.621587,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
779640,2014-05-01 05:00:00,35.25,Office_Mercedes,weather3.csv,Education,5525.498828,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
779641,2014-05-01 06:00:00,32.00,Office_Mercedes,weather3.csv,Education,5525.498828,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
779642,2014-05-01 07:00:00,34.00,Office_Mercedes,weather3.csv,Education,5525.498828,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
779643,2014-05-01 08:00:00,32.00,Office_Mercedes,weather3.csv,Education,5525.498828,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
779644,2014-05-01 09:00:00,33.00,Office_Mercedes,weather3.csv,Education,5525.498828,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
788400,2014-05-01 05:00:00,47.75,Office_Michael,weather3.csv,Education,11102.74463,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
788401,2014-05-01 06:00:00,45.25,Office_Michael,weather3.csv,Education,11102.74463,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
788402,2014-05-01 07:00:00,46.75,Office_Michael,weather3.csv,Education,11102.74463,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
788403,2014-05-01 08:00:00,47.00,Office_Michael,weather3.csv,Education,11102.74463,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
788404,2014-05-01 09:00:00,47.75,Office_Michael,weather3.csv,Education,11102.74463,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
797160,2014-05-01 05:00:00,78.25,Office_Micheal,weather3.csv,Education,11307.59574,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
797161,2014-05-01 06:00:00,89.50,Office_Micheal,weather3.csv,Education,11307.59574,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
797162,2014-05-01 07:00:00,69.75,Office_Micheal,weather3.csv,Education,11307.59574,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
797163,2014-05-01 08:00:00,78.25,Office_Micheal,weather3.csv,Education,11307.59574,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
797164,2014-05-01 09:00:00,48.25,Office_Micheal,weather3.csv,Education,11307.59574,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
805920,2014-05-01 05:00:00,29.50,Office_Mick,weather3.csv,Education,7837.761595,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
805921,2014-05-01 06:00:00,28.00,Office_Mick,weather3.csv,Education,7837.761595,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
805922,2014-05-01 07:00:00,27.25,Office_Mick,weather3.csv,Education,7837.761595,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
805923,2014-05-01 08:00:00,27.25,Office_Mick,weather3.csv,Education,7837.761595,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
805924,2014-05-01 09:00:00,27.00,Office_Mick,weather3.csv,Education,7837.761595,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
814680,2014-05-01 05:00:00,180.75,Office_Mikayla,weather3.csv,Education,9493.850473,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
814681,2014-05-01 06:00:00,178.50,Office_Mikayla,weather3.csv,Education,9493.850473,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
814682,2014-05-01 07:00:00,173.00,Office_Mikayla,weather3.csv,Education,9493.850473,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
814683,2014-05-01 08:00:00,175.00,Office_Mikayla,weather3.csv,Education,9493.850473,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
814684,2014-05-01 09:00:00,177.00,Office_Mikayla,weather3.csv,Education,9493.850473,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
823440,2014-05-01 05:00:00,745.50,Office_Milton,weather3.csv,Education,9770.329801,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
823441,2014-05-01 06:00:00,727.00,Office_Milton,weather3.csv,Education,9770.329801,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
823442,2014-05-01 07:00:00,725.50,Office_Milton,weather3.csv,Education,9770.329801,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
823443,2014-05-01 08:00:00,725.25,Office_Milton,weather3.csv,Education,9770.329801,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
823444,2014-05-01 09:00:00,723.25,Office_Milton,weather3.csv,Education,9770.329801,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
832200,2014-05-01 05:00:00,74.75,Office_Mohammed,weather3.csv,Education,9124.189436,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
832201,2014-05-01 06:00:00,74.25,Office_Mohammed,weather3.csv,Education,9124.189436,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
832202,2014-05-01 07:00:00,74.25,Office_Mohammed,weather3.csv,Education,9124.189436,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
832203,2014-05-01 08:00:00,74.00,Office_Mohammed,weather3.csv,Education,9124.189436,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
832204,2014-05-01 09:00:00,74.25,Office_Mohammed,weather3.csv,Education,9124.189436,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
840960,2014-05-01 05:00:00,28.50,Office_Monty,weather3.csv,Education,7451.285115,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
840961,2014-05-01 06:00:00,29.00,Office_Monty,weather3.csv,Education,7451.285115,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
840962,2014-05-01 07:00:00,29.00,Office_Monty,weather3.csv,Education,7451.285115,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
840963,2014-05-01 08:00:00,28.25,Office_Monty,weather3.csv,Education,7451.285115,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
840964,2014-05-01 09:00:00,28.75,Office_Monty,weather3.csv,Education,7451.285115,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
849720,2014-05-01 05:00:00,21.00,Office_Morgan,weather3.csv,Education,1899.308932,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
849721,2014-05-01 06:00:00,21.00,Office_Morgan,weather3.csv,Education,1899.308932,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
849722,2014-05-01 07:00:00,21.25,Office_Morgan,weather3.csv,Education,1899.308932,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
849723,2014-05-01 08:00:00,21.50,Office_Morgan,weather3.csv,Education,1899.308932,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
849724,2014-05-01 09:00:00,20.75,Office_Morgan,weather3.csv,Education,1899.308932,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
858480,2014-05-01 05:00:00,48.50,Office_Moses,weather3.csv,Education,8099.933861,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
858481,2014-05-01 06:00:00,49.25,Office_Moses,weather3.csv,Education,8099.933861,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
858482,2014-05-01 07:00:00,56.50,Office_Moses,weather3.csv,Education,8099.933861,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
858483,2014-05-01 08:00:00,57.50,Office_Moses,weather3.csv,Education,8099.933861,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
858484,2014-05-01 09:00:00,57.25,Office_Moses,weather3.csv,Education,8099.933861,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
867240,2014-05-01 05:00:00,134.00,Office_Muhammad,weather3.csv,Education,8593.5275,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
867241,2014-05-01 06:00:00,126.25,Office_Muhammad,weather3.csv,Education,8593.5275,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
867242,2014-05-01 07:00:00,128.25,Office_Muhammad,weather3.csv,Education,8593.5275,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
867243,2014-05-01 08:00:00,126.00,Office_Muhammad,weather3.csv,Education,8593.5275,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
867244,2014-05-01 09:00:00,130.25,Office_Muhammad,weather3.csv,Education,8593.5275,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
876000,2014-05-01 05:00:00,26.50,Office_Myron,weather3.csv,Education,8639.421582,Office,2014,5,5,...,0,0,1,0,0,0,0,0,1,0
876001,2014-05-01 06:00:00,22.25,Office_Myron,weather3.csv,Education,8639.421582,Office,2014,5,6,...,0,0,1,0,0,0,0,0,1,0
876002,2014-05-01 07:00:00,26.25,Office_Myron,weather3.csv,Education,8639.421582,Office,2014,5,7,...,0,0,1,0,0,0,0,0,1,0
876003,2014-05-01 08:00:00,24.25,Office_Myron,weather3.csv,Education,8639.421582,Office,2014,5,8,...,0,0,1,0,0,0,0,0,1,0
876004,2014-05-01 09:00:00,23.75,Office_Myron,weather3.csv,Education,8639.421582,Office,2014,5,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
884760,2014-11-01 05:00:00,121.20000,Office_Natasha,weather9.csv,Education,10421.67273,Office,2014,11,5,...,1,0,1,0,0,0,0,0,1,0
884761,2014-11-01 06:00:00,125.89413,Office_Natasha,weather9.csv,Education,10421.67273,Office,2014,11,6,...,1,0,1,0,0,0,0,0,1,0
884762,2014-11-01 07:00:00,120.00000,Office_Natasha,weather9.csv,Education,10421.67273,Office,2014,11,7,...,1,0,1,0,0,0,0,0,1,0
884763,2014-11-01 08:00:00,119.00000,Office_Natasha,weather9.csv,Education,10421.67273,Office,2014,11,8,...,1,0,1,0,0,0,0,0,1,0
884764,2014-11-01 09:00:00,122.99990,Office_Natasha,weather9.csv,Education,10421.67273,Office,2014,11,9,...,1,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
893520,2014-11-01 05:00:00,211.50000,Office_Noel,weather9.csv,Education,12692.77947,Office,2014,11,5,...,1,0,1,0,0,0,0,0,1,0
893521,2014-11-01 06:00:00,221.25228,Office_Noel,weather9.csv,Education,12692.77947,Office,2014,11,6,...,1,0,1,0,0,0,0,0,1,0
893522,2014-11-01 07:00:00,209.80000,Office_Noel,weather9.csv,Education,12692.77947,Office,2014,11,7,...,1,0,1,0,0,0,0,0,1,0
893523,2014-11-01 08:00:00,211.50000,Office_Noel,weather9.csv,Education,12692.77947,Office,2014,11,8,...,1,0,1,0,0,0,0,0,1,0
893524,2014-11-01 09:00:00,221.99985,Office_Noel,weather9.csv,Education,12692.77947,Office,2014,11,9,...,1,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
902280,2015-01-01 05:00:00,72.008333,Office_Paige,weather4.csv,Education,5543.057495,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
902281,2015-01-01 06:00:00,70.800000,Office_Paige,weather4.csv,Education,5543.057495,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
902282,2015-01-01 07:00:00,65.258333,Office_Paige,weather4.csv,Education,5543.057495,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
902283,2015-01-01 08:00:00,62.408333,Office_Paige,weather4.csv,Education,5543.057495,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
902284,2015-01-01 09:00:00,60.233333,Office_Paige,weather4.csv,Education,5543.057495,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
911040,2015-01-01 05:00:00,61.883333,Office_Pam,weather4.csv,Education,9723.878301,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
911041,2015-01-01 06:00:00,60.191667,Office_Pam,weather4.csv,Education,9723.878301,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
911042,2015-01-01 07:00:00,80.350000,Office_Pam,weather4.csv,Education,9723.878301,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
911043,2015-01-01 08:00:00,79.575000,Office_Pam,weather4.csv,Education,9723.878301,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
911044,2015-01-01 09:00:00,77.741667,Office_Pam,weather4.csv,Education,9723.878301,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
919800,2015-01-01 05:00:00,14.075000,Office_Pamela,weather4.csv,Education,3913.910487,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
919801,2015-01-01 06:00:00,14.066667,Office_Pamela,weather4.csv,Education,3913.910487,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
919802,2015-01-01 07:00:00,13.933333,Office_Pamela,weather4.csv,Education,3913.910487,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
919803,2015-01-01 08:00:00,13.925000,Office_Pamela,weather4.csv,Education,3913.910487,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
919804,2015-01-01 09:00:00,13.941667,Office_Pamela,weather4.csv,Education,3913.910487,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
928560,2015-01-01 05:00:00,67.591667,Office_Pasquale,weather4.csv,Education,1661.012737,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
928561,2015-01-01 06:00:00,68.791667,Office_Pasquale,weather4.csv,Education,1661.012737,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
928562,2015-01-01 07:00:00,67.566667,Office_Pasquale,weather4.csv,Education,1661.012737,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
928563,2015-01-01 08:00:00,68.208333,Office_Pasquale,weather4.csv,Education,1661.012737,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
928564,2015-01-01 09:00:00,67.408333,Office_Pasquale,weather4.csv,Education,1661.012737,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
937320,2015-01-01 05:00:00,170.083333,Office_Patricia,weather4.csv,Education,4644.22097,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
937321,2015-01-01 06:00:00,153.875000,Office_Patricia,weather4.csv,Education,4644.22097,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
937322,2015-01-01 07:00:00,143.391667,Office_Patricia,weather4.csv,Education,4644.22097,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
937323,2015-01-01 08:00:00,140.766667,Office_Patricia,weather4.csv,Education,4644.22097,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
937324,2015-01-01 09:00:00,140.416667,Office_Patricia,weather4.csv,Education,4644.22097,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
946080,2015-01-01 05:00:00,43.241667,Office_Paula,weather4.csv,Education,4118.575796,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
946081,2015-01-01 06:00:00,44.150000,Office_Paula,weather4.csv,Education,4118.575796,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
946082,2015-01-01 07:00:00,45.333333,Office_Paula,weather4.csv,Education,4118.575796,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
946083,2015-01-01 08:00:00,41.491667,Office_Paula,weather4.csv,Education,4118.575796,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
946084,2015-01-01 09:00:00,44.408333,Office_Paula,weather4.csv,Education,4118.575796,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
954840,2015-01-01 05:00:00,37.250000,Office_Paulette,weather4.csv,Education,2179.318574,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
954841,2015-01-01 06:00:00,35.950000,Office_Paulette,weather4.csv,Education,2179.318574,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
954842,2015-01-01 07:00:00,37.616667,Office_Paulette,weather4.csv,Education,2179.318574,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
954843,2015-01-01 08:00:00,34.883333,Office_Paulette,weather4.csv,Education,2179.318574,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
954844,2015-01-01 09:00:00,37.641667,Office_Paulette,weather4.csv,Education,2179.318574,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
963600,2015-01-01 05:00:00,141.116667,Office_Paulina,weather4.csv,Education,9694.892565,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
963601,2015-01-01 06:00:00,142.483333,Office_Paulina,weather4.csv,Education,9694.892565,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
963602,2015-01-01 07:00:00,143.325000,Office_Paulina,weather4.csv,Education,9694.892565,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
963603,2015-01-01 08:00:00,144.833333,Office_Paulina,weather4.csv,Education,9694.892565,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
963604,2015-01-01 09:00:00,141.558333,Office_Paulina,weather4.csv,Education,9694.892565,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
972360,2015-01-01 05:00:00,122.086111,Office_Pauline,weather4.csv,Education,3840.331311,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
972361,2015-01-01 06:00:00,121.118472,Office_Pauline,weather4.csv,Education,3840.331311,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
972362,2015-01-01 07:00:00,121.186389,Office_Pauline,weather4.csv,Education,3840.331311,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
972363,2015-01-01 08:00:00,132.981667,Office_Pauline,weather4.csv,Education,3840.331311,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
972364,2015-01-01 09:00:00,145.533611,Office_Pauline,weather4.csv,Education,3840.331311,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
981120,2015-01-01 05:00:00,50.016667,Office_Phebian,weather4.csv,Education,6021.786654,Office,2015,1,5,...,0,0,1,0,0,0,0,0,1,0
981121,2015-01-01 06:00:00,65.800000,Office_Phebian,weather4.csv,Education,6021.786654,Office,2015,1,6,...,0,0,1,0,0,0,0,0,1,0
981122,2015-01-01 07:00:00,68.066667,Office_Phebian,weather4.csv,Education,6021.786654,Office,2015,1,7,...,0,0,1,0,0,0,0,0,1,0
981123,2015-01-01 08:00:00,73.041667,Office_Phebian,weather4.csv,Education,6021.786654,Office,2015,1,8,...,0,0,1,0,0,0,0,0,1,0
981124,2015-01-01 09:00:00,83.950000,Office_Phebian,weather4.csv,Education,6021.786654,Office,2015,1,9,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
989880,2014-12-01 00:00:00,14.0,Office_Scottie,weather6.csv,Education,2293.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
989881,2014-12-01 01:00:00,13.0,Office_Scottie,weather6.csv,Education,2293.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
989882,2014-12-01 02:00:00,15.0,Office_Scottie,weather6.csv,Education,2293.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
989883,2014-12-01 03:00:00,13.0,Office_Scottie,weather6.csv,Education,2293.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
989884,2014-12-01 04:00:00,13.0,Office_Scottie,weather6.csv,Education,2293.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
998640,2014-12-01 00:00:00,10.0,Office_Shari,weather6.csv,Education,1032.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
998641,2014-12-01 01:00:00,10.0,Office_Shari,weather6.csv,Education,1032.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
998642,2014-12-01 02:00:00,10.0,Office_Shari,weather6.csv,Education,1032.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
998643,2014-12-01 03:00:00,10.0,Office_Shari,weather6.csv,Education,1032.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
998644,2014-12-01 04:00:00,10.0,Office_Shari,weather6.csv,Education,1032.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1007400,2014-12-01 00:00:00,52.0,Office_Shawnette,weather6.csv,Education,5960.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
1007401,2014-12-01 01:00:00,51.0,Office_Shawnette,weather6.csv,Education,5960.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
1007402,2014-12-01 02:00:00,52.0,Office_Shawnette,weather6.csv,Education,5960.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
1007403,2014-12-01 03:00:00,51.0,Office_Shawnette,weather6.csv,Education,5960.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
1007404,2014-12-01 04:00:00,50.0,Office_Shawnette,weather6.csv,Education,5960.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1016160,2014-12-01 00:00:00,64.0,Office_Shelly,weather6.csv,Education,1469.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
1016161,2014-12-01 01:00:00,65.0,Office_Shelly,weather6.csv,Education,1469.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
1016162,2014-12-01 02:00:00,65.0,Office_Shelly,weather6.csv,Education,1469.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
1016163,2014-12-01 03:00:00,65.0,Office_Shelly,weather6.csv,Education,1469.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
1016164,2014-12-01 04:00:00,64.0,Office_Shelly,weather6.csv,Education,1469.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1024920,2014-12-01 00:00:00,10.0,Office_Sinead,weather6.csv,Education,1070.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
1024921,2014-12-01 01:00:00,10.0,Office_Sinead,weather6.csv,Education,1070.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
1024922,2014-12-01 02:00:00,10.0,Office_Sinead,weather6.csv,Education,1070.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
1024923,2014-12-01 03:00:00,10.0,Office_Sinead,weather6.csv,Education,1070.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
1024924,2014-12-01 04:00:00,10.0,Office_Sinead,weather6.csv,Education,1070.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1033680,2014-12-01 00:00:00,6.0,Office_Skyler,weather6.csv,Education,1578.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
1033681,2014-12-01 01:00:00,6.0,Office_Skyler,weather6.csv,Education,1578.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
1033682,2014-12-01 02:00:00,6.0,Office_Skyler,weather6.csv,Education,1578.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
1033683,2014-12-01 03:00:00,6.0,Office_Skyler,weather6.csv,Education,1578.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
1033684,2014-12-01 04:00:00,6.0,Office_Skyler,weather6.csv,Education,1578.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1042440,2014-12-01 00:00:00,60.0,Office_Stella,weather6.csv,Education,3948.0,Office,2014,12,0,...,0,0,1,0,0,0,0,0,1,0
1042441,2014-12-01 01:00:00,59.0,Office_Stella,weather6.csv,Education,3948.0,Office,2014,12,1,...,0,0,1,0,0,0,0,0,1,0
1042442,2014-12-01 02:00:00,45.0,Office_Stella,weather6.csv,Education,3948.0,Office,2014,12,2,...,0,0,1,0,0,0,0,0,1,0
1042443,2014-12-01 03:00:00,46.0,Office_Stella,weather6.csv,Education,3948.0,Office,2014,12,3,...,0,0,1,0,0,0,0,0,1,0
1042444,2014-12-01 04:00:00,45.0,Office_Stella,weather6.csv,Education,3948.0,Office,2014,12,4,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1051200,2012-12-31 23:00:00,19.4200,Office_Terrell,weather8.csv,Education,1650.5,Office,2012,12,23,...,0,0,1,0,0,0,0,0,1,0
1051201,2013-01-01 00:00:00,19.0825,Office_Terrell,weather8.csv,Education,1650.5,Office,2013,1,0,...,0,0,1,0,0,0,0,0,1,0
1051202,2013-01-01 01:00:00,19.1800,Office_Terrell,weather8.csv,Education,1650.5,Office,2013,1,1,...,0,0,1,0,0,0,0,0,1,0
1051203,2013-01-01 02:00:00,18.9875,Office_Terrell,weather8.csv,Education,1650.5,Office,2013,1,2,...,0,0,1,0,0,0,0,0,1,0
1051204,2013-01-01 03:00:00,18.9825,Office_Terrell,weather8.csv,Education,1650.5,Office,2013,1,3,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1059960,2012-12-31 23:00:00,5.75,Office_Tod,weather8.csv,Education,1681.9,Office,2012,12,23,...,0,0,1,0,0,0,0,0,1,0
1059961,2013-01-01 00:00:00,5.75,Office_Tod,weather8.csv,Education,1681.9,Office,2013,1,0,...,0,0,1,0,0,0,0,0,1,0
1059962,2013-01-01 01:00:00,5.75,Office_Tod,weather8.csv,Education,1681.9,Office,2013,1,1,...,0,0,1,0,0,0,0,0,1,0
1059963,2013-01-01 02:00:00,6.00,Office_Tod,weather8.csv,Education,1681.9,Office,2013,1,2,...,0,0,1,0,0,0,0,0,1,0
1059964,2013-01-01 03:00:00,5.75,Office_Tod,weather8.csv,Education,1681.9,Office,2013,1,3,...,0,0,1,0,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1068720,2015-01-01 07:00:00,6.54,PrimClass_Angel,weather0.csv,Education,960.059602,PrimClass,2015,1,7,...,0,0,0,1,0,0,0,0,1,0
1068721,2015-01-01 08:00:00,6.61,PrimClass_Angel,weather0.csv,Education,960.059602,PrimClass,2015,1,8,...,0,0,0,1,0,0,0,0,1,0
1068722,2015-01-01 09:00:00,6.54,PrimClass_Angel,weather0.csv,Education,960.059602,PrimClass,2015,1,9,...,0,0,0,1,0,0,0,0,1,0
1068723,2015-01-01 10:00:00,6.53,PrimClass_Angel,weather0.csv,Education,960.059602,PrimClass,2015,1,10,...,0,0,0,1,0,0,0,0,1,0
1068724,2015-01-01 11:00:00,6.48,PrimClass_Angel,weather0.csv,Education,960.059602,PrimClass,2015,1,11,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1077480,2015-01-01 07:00:00,6.27,PrimClass_Angela,weather0.csv,Education,1555.567832,PrimClass,2015,1,7,...,0,0,0,1,0,0,0,0,1,0
1077481,2015-01-01 08:00:00,5.24,PrimClass_Angela,weather0.csv,Education,1555.567832,PrimClass,2015,1,8,...,0,0,0,1,0,0,0,0,1,0
1077482,2015-01-01 09:00:00,5.64,PrimClass_Angela,weather0.csv,Education,1555.567832,PrimClass,2015,1,9,...,0,0,0,1,0,0,0,0,1,0
1077483,2015-01-01 10:00:00,5.98,PrimClass_Angela,weather0.csv,Education,1555.567832,PrimClass,2015,1,10,...,0,0,0,1,0,0,0,0,1,0
1077484,2015-01-01 11:00:00,5.71,PrimClass_Angela,weather0.csv,Education,1555.567832,PrimClass,2015,1,11,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1086240,2012-01-01 05:00:00,3.378092,PrimClass_Edmund,weather15.csv,Education,8070.204901,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1086241,2012-01-01 06:00:00,3.378075,PrimClass_Edmund,weather15.csv,Education,8070.204901,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1086242,2012-01-01 07:00:00,3.274133,PrimClass_Edmund,weather15.csv,Education,8070.204901,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1086243,2012-01-01 08:00:00,3.585958,PrimClass_Edmund,weather15.csv,Education,8070.204901,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1086244,2012-01-01 09:00:00,3.430058,PrimClass_Edmund,weather15.csv,Education,8070.204901,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1095000,2012-01-01 07:00:00,4.067808,PrimClass_Edwin,weather35.csv,Education,7176.478041,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1095001,2012-01-01 08:00:00,4.123942,PrimClass_Edwin,weather35.csv,Education,7176.478041,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1095002,2012-01-01 09:00:00,4.112708,PrimClass_Edwin,weather35.csv,Education,7176.478041,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1095003,2012-01-01 10:00:00,4.163208,PrimClass_Edwin,weather35.csv,Education,7176.478041,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0
1095004,2012-01-01 11:00:00,4.062217,PrimClass_Edwin,weather35.csv,Education,7176.478041,PrimClass,2012,1,11,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1103760,2012-01-01 05:00:00,5.733833,PrimClass_Eleanor,weather24.csv,Education,7588.409943,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1103761,2012-01-01 06:00:00,5.908908,PrimClass_Eleanor,weather24.csv,Education,7588.409943,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1103762,2012-01-01 07:00:00,5.908908,PrimClass_Eleanor,weather24.csv,Education,7588.409943,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1103763,2012-01-01 08:00:00,5.908908,PrimClass_Eleanor,weather24.csv,Education,7588.409943,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1103764,2012-01-01 09:00:00,5.996450,PrimClass_Eleanor,weather24.csv,Education,7588.409943,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1112520,2012-01-01 05:00:00,2.740408,PrimClass_Elisabeth,weather23.csv,Education,21652.15899,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1112521,2012-01-01 06:00:00,2.730983,PrimClass_Elisabeth,weather23.csv,Education,21652.15899,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1112522,2012-01-01 07:00:00,2.741958,PrimClass_Elisabeth,weather23.csv,Education,21652.15899,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1112523,2012-01-01 08:00:00,2.719958,PrimClass_Elisabeth,weather23.csv,Education,21652.15899,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1112524,2012-01-01 09:00:00,2.726250,PrimClass_Elisabeth,weather23.csv,Education,21652.15899,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1121280,2012-01-01 06:00:00,2.939517,PrimClass_Ellen,weather19.csv,Education,7386.067209,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1121281,2012-01-01 07:00:00,2.873675,PrimClass_Ellen,weather19.csv,Education,7386.067209,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1121282,2012-01-01 08:00:00,2.961425,PrimClass_Ellen,weather19.csv,Education,7386.067209,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1121283,2012-01-01 09:00:00,2.720133,PrimClass_Ellen,weather19.csv,Education,7386.067209,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1121284,2012-01-01 10:00:00,2.785925,PrimClass_Ellen,weather19.csv,Education,7386.067209,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1130040,2012-01-01 05:00:00,12.855125,PrimClass_Elliott,weather15.csv,Education,20182.34062,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1130041,2012-01-01 06:00:00,13.201225,PrimClass_Elliott,weather15.csv,Education,20182.34062,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1130042,2012-01-01 07:00:00,13.151783,PrimClass_Elliott,weather15.csv,Education,20182.34062,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1130043,2012-01-01 08:00:00,13.151783,PrimClass_Elliott,weather15.csv,Education,20182.34062,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1130044,2012-01-01 09:00:00,13.201225,PrimClass_Elliott,weather15.csv,Education,20182.34062,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1138800,2012-01-01 06:00:00,6.202817,PrimClass_Elmer,weather11.csv,Education,9095.296603,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1138801,2012-01-01 07:00:00,5.939817,PrimClass_Elmer,weather11.csv,Education,9095.296603,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1138802,2012-01-01 08:00:00,5.994608,PrimClass_Elmer,weather11.csv,Education,9095.296603,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1138803,2012-01-01 09:00:00,5.994608,PrimClass_Elmer,weather11.csv,Education,9095.296603,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1138804,2012-01-01 10:00:00,6.016525,PrimClass_Elmer,weather11.csv,Education,9095.296603,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1147560,2012-01-01 06:00:00,3.532367,PrimClass_Emanuela,weather26.csv,Education,8838.048196,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1147561,2012-01-01 07:00:00,3.457400,PrimClass_Emanuela,weather26.csv,Education,8838.048196,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1147562,2012-01-01 08:00:00,3.597950,PrimClass_Emanuela,weather26.csv,Education,8838.048196,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1147563,2012-01-01 09:00:00,3.457400,PrimClass_Emanuela,weather26.csv,Education,8838.048196,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1147564,2012-01-01 10:00:00,3.457408,PrimClass_Emanuela,weather26.csv,Education,8838.048196,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1156320,2012-01-01 06:00:00,29.378625,PrimClass_Emily,weather32.csv,Education,25494.25545,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1156321,2012-01-01 07:00:00,26.591633,PrimClass_Emily,weather32.csv,Education,25494.25545,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1156322,2012-01-01 08:00:00,26.924008,PrimClass_Emily,weather32.csv,Education,25494.25545,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1156323,2012-01-01 09:00:00,28.534858,PrimClass_Emily,weather32.csv,Education,25494.25545,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1156324,2012-01-01 10:00:00,27.230842,PrimClass_Emily,weather32.csv,Education,25494.25545,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1165080,2012-01-01 05:00:00,4.8187,PrimClass_Eoghan,weather14.csv,Education,29301.97781,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1165081,2012-01-01 06:00:00,4.8187,PrimClass_Eoghan,weather14.csv,Education,29301.97781,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1165082,2012-01-01 07:00:00,4.7749,PrimClass_Eoghan,weather14.csv,Education,29301.97781,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1165083,2012-01-01 08:00:00,4.8625,PrimClass_Eoghan,weather14.csv,Education,29301.97781,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1165084,2012-01-01 09:00:00,4.8187,PrimClass_Eoghan,weather14.csv,Education,29301.97781,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1173840,2012-01-01 06:00:00,8.387817,PrimClass_Ernest,weather21.csv,Education,12046.08169,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1173841,2012-01-01 07:00:00,8.296258,PrimClass_Ernest,weather21.csv,Education,12046.08169,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1173842,2012-01-01 08:00:00,8.406133,PrimClass_Ernest,weather21.csv,Education,12046.08169,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1173843,2012-01-01 09:00:00,8.369517,PrimClass_Ernest,weather21.csv,Education,12046.08169,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1173844,2012-01-01 10:00:00,8.259617,PrimClass_Ernest,weather21.csv,Education,12046.08169,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1182600,2012-01-01 07:00:00,4.035750,PrimClass_Ernesto,weather18.csv,Education,6719.952699,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1182601,2012-01-01 08:00:00,4.057833,PrimClass_Ernesto,weather18.csv,Education,6719.952699,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1182602,2012-01-01 09:00:00,4.068875,PrimClass_Ernesto,weather18.csv,Education,6719.952699,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1182603,2012-01-01 10:00:00,4.035750,PrimClass_Ernesto,weather18.csv,Education,6719.952699,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0
1182604,2012-01-01 11:00:00,4.024725,PrimClass_Ernesto,weather18.csv,Education,6719.952699,PrimClass,2012,1,11,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1191360,2012-01-01 05:00:00,6.060267,PrimClass_Ervin,weather16.csv,Education,10876.52582,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1191361,2012-01-01 06:00:00,6.363292,PrimClass_Ervin,weather16.csv,Education,10876.52582,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1191362,2012-01-01 07:00:00,6.363300,PrimClass_Ervin,weather16.csv,Education,10876.52582,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1191363,2012-01-01 08:00:00,6.439042,PrimClass_Ervin,weather16.csv,Education,10876.52582,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1191364,2012-01-01 09:00:00,6.439042,PrimClass_Ervin,weather16.csv,Education,10876.52582,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1200120,2012-01-01 05:00:00,4.2234,PrimClass_Esmeralda,weather17.csv,Education,25682.38403,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1200121,2012-01-01 06:00:00,4.2234,PrimClass_Esmeralda,weather17.csv,Education,25682.38403,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1200122,2012-01-01 07:00:00,4.1850,PrimClass_Esmeralda,weather17.csv,Education,25682.38403,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1200123,2012-01-01 08:00:00,4.2618,PrimClass_Esmeralda,weather17.csv,Education,25682.38403,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1200124,2012-01-01 09:00:00,4.2234,PrimClass_Esmeralda,weather17.csv,Education,25682.38403,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1208880,2012-01-01 05:00:00,5.189850,PrimClass_Ethan,weather38.csv,Education,7453.050272,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1208881,2012-01-01 06:00:00,5.058742,PrimClass_Ethan,weather38.csv,Education,7453.050272,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1208882,2012-01-01 07:00:00,5.140683,PrimClass_Ethan,weather38.csv,Education,7453.050272,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1208883,2012-01-01 08:00:00,5.217183,PrimClass_Ethan,weather38.csv,Education,7453.050272,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1208884,2012-01-01 09:00:00,5.206242,PrimClass_Ethan,weather38.csv,Education,7453.050272,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1217640,2012-01-01 07:00:00,5.520167,PrimClass_Ethel,weather18.csv,Education,8550.048896,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1217641,2012-01-01 08:00:00,5.482267,PrimClass_Ethel,weather18.csv,Education,8550.048896,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1217642,2012-01-01 09:00:00,5.532800,PrimClass_Ethel,weather18.csv,Education,8550.048896,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1217643,2012-01-01 10:00:00,5.469633,PrimClass_Ethel,weather18.csv,Education,8550.048896,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0
1217644,2012-01-01 11:00:00,5.545433,PrimClass_Ethel,weather18.csv,Education,8550.048896,PrimClass,2012,1,11,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1226400,2012-01-01 05:00:00,4.388792,PrimClass_Eva,weather15.csv,Education,12331.66551,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1226401,2012-01-01 06:00:00,4.234792,PrimClass_Eva,weather15.csv,Education,12331.66551,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1226402,2012-01-01 07:00:00,4.414425,PrimClass_Eva,weather15.csv,Education,12331.66551,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1226403,2012-01-01 08:00:00,4.414433,PrimClass_Eva,weather15.csv,Education,12331.66551,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1226404,2012-01-01 09:00:00,4.491408,PrimClass_Eva,weather15.csv,Education,12331.66551,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1235160,2012-01-01 05:00:00,1.846800,PrimClass_Everett,weather12.csv,Education,9804.05359,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1235161,2012-01-01 06:00:00,1.758867,PrimClass_Everett,weather12.csv,Education,9804.05359,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1235162,2012-01-01 07:00:00,1.934733,PrimClass_Everett,weather12.csv,Education,9804.05359,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1235163,2012-01-01 08:00:00,1.890767,PrimClass_Everett,weather12.csv,Education,9804.05359,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1235164,2012-01-01 09:00:00,1.802833,PrimClass_Everett,weather12.csv,Education,9804.05359,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1243920,2012-01-01 06:00:00,8.870233,PrimClass_Evie,weather11.csv,Education,18326.6032,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1243921,2012-01-01 07:00:00,9.159483,PrimClass_Evie,weather11.csv,Education,18326.6032,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1243922,2012-01-01 08:00:00,9.352317,PrimClass_Evie,weather11.csv,Education,18326.6032,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1243923,2012-01-01 09:00:00,9.352317,PrimClass_Evie,weather11.csv,Education,18326.6032,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0
1243924,2012-01-01 10:00:00,9.930817,PrimClass_Evie,weather11.csv,Education,18326.6032,PrimClass,2012,1,10,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1252680,2012-01-01 05:00:00,5.812017,PrimClass_Ezekiel,weather29.csv,Education,14279.0982,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1252681,2012-01-01 06:00:00,5.404733,PrimClass_Ezekiel,weather29.csv,Education,14279.0982,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1252682,2012-01-01 07:00:00,5.508283,PrimClass_Ezekiel,weather29.csv,Education,14279.0982,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1252683,2012-01-01 08:00:00,5.542792,PrimClass_Ezekiel,weather29.csv,Education,14279.0982,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1252684,2012-01-01 09:00:00,5.632525,PrimClass_Ezekiel,weather29.csv,Education,14279.0982,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1261440,2012-01-01 05:00:00,7.988767,PrimClass_Ezra,weather17.csv,Education,8563.705637,PrimClass,2012,1,5,...,0,1,0,1,0,0,0,0,1,0
1261441,2012-01-01 06:00:00,8.065575,PrimClass_Ezra,weather17.csv,Education,8563.705637,PrimClass,2012,1,6,...,0,1,0,1,0,0,0,0,1,0
1261442,2012-01-01 07:00:00,7.988767,PrimClass_Ezra,weather17.csv,Education,8563.705637,PrimClass,2012,1,7,...,0,1,0,1,0,0,0,0,1,0
1261443,2012-01-01 08:00:00,8.142383,PrimClass_Ezra,weather17.csv,Education,8563.705637,PrimClass,2012,1,8,...,0,1,0,1,0,0,0,0,1,0
1261444,2012-01-01 09:00:00,7.988767,PrimClass_Ezra,weather17.csv,Education,8563.705637,PrimClass,2012,1,9,...,0,1,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1270200,2014-12-01 00:00:00,34.900002,PrimClass_Jacob,weather1.csv,Education,6149.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1270201,2014-12-01 01:00:00,32.700000,PrimClass_Jacob,weather1.csv,Education,6149.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1270202,2014-12-01 02:00:00,32.200000,PrimClass_Jacob,weather1.csv,Education,6149.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1270203,2014-12-01 03:00:00,32.300000,PrimClass_Jacob,weather1.csv,Education,6149.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1270204,2014-12-01 04:00:00,32.599998,PrimClass_Jacob,weather1.csv,Education,6149.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1278960,2014-12-01 00:00:00,5.0,PrimClass_Jacqueline,weather1.csv,Education,2777.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1278961,2014-12-01 01:00:00,5.2,PrimClass_Jacqueline,weather1.csv,Education,2777.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1278962,2014-12-01 02:00:00,5.2,PrimClass_Jacqueline,weather1.csv,Education,2777.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1278963,2014-12-01 03:00:00,5.5,PrimClass_Jacqueline,weather1.csv,Education,2777.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1278964,2014-12-01 04:00:00,6.0,PrimClass_Jacqueline,weather1.csv,Education,2777.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1287720,2014-12-01 00:00:00,4.0,PrimClass_Jacquelyn,weather1.csv,Education,1597.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1287721,2014-12-01 01:00:00,3.9,PrimClass_Jacquelyn,weather1.csv,Education,1597.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1287722,2014-12-01 02:00:00,3.5,PrimClass_Jacquelyn,weather1.csv,Education,1597.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1287723,2014-12-01 03:00:00,3.3,PrimClass_Jacquelyn,weather1.csv,Education,1597.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1287724,2014-12-01 04:00:00,3.9,PrimClass_Jacquelyn,weather1.csv,Education,1597.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1296480,2014-12-01 00:00:00,2.763,PrimClass_Jaden,weather1.csv,Education,2572.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1296481,2014-12-01 01:00:00,2.862,PrimClass_Jaden,weather1.csv,Education,2572.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1296482,2014-12-01 02:00:00,2.922,PrimClass_Jaden,weather1.csv,Education,2572.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1296483,2014-12-01 03:00:00,2.890,PrimClass_Jaden,weather1.csv,Education,2572.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1296484,2014-12-01 04:00:00,3.243,PrimClass_Jaden,weather1.csv,Education,2572.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1305240,2014-12-01 00:00:00,22.3000,PrimClass_Jaiden,weather1.csv,Education,811.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1305241,2014-12-01 01:00:00,15.3700,PrimClass_Jaiden,weather1.csv,Education,811.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1305242,2014-12-01 02:00:00,14.2100,PrimClass_Jaiden,weather1.csv,Education,811.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1305243,2014-12-01 03:00:00,13.1550,PrimClass_Jaiden,weather1.csv,Education,811.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1305244,2014-12-01 04:00:00,14.1175,PrimClass_Jaiden,weather1.csv,Education,811.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1314000,2014-12-01 00:00:00,7.527,PrimClass_Jake,weather1.csv,Education,1432.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1314001,2014-12-01 01:00:00,7.795,PrimClass_Jake,weather1.csv,Education,1432.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1314002,2014-12-01 02:00:00,8.493,PrimClass_Jake,weather1.csv,Education,1432.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1314003,2014-12-01 03:00:00,8.303,PrimClass_Jake,weather1.csv,Education,1432.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1314004,2014-12-01 04:00:00,8.208,PrimClass_Jake,weather1.csv,Education,1432.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1322760,2014-12-01 00:00:00,2.4,PrimClass_Jamal,weather1.csv,Government,2335.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1322761,2014-12-01 01:00:00,2.4,PrimClass_Jamal,weather1.csv,Government,2335.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1322762,2014-12-01 02:00:00,2.4,PrimClass_Jamal,weather1.csv,Government,2335.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1322763,2014-12-01 03:00:00,2.3,PrimClass_Jamal,weather1.csv,Government,2335.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1322764,2014-12-01 04:00:00,2.2,PrimClass_Jamal,weather1.csv,Government,2335.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1331520,2014-12-01 00:00:00,97.500000,PrimClass_Jamie,weather1.csv,Education,14868.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1331521,2014-12-01 01:00:00,96.700001,PrimClass_Jamie,weather1.csv,Education,14868.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1331522,2014-12-01 02:00:00,96.899997,PrimClass_Jamie,weather1.csv,Education,14868.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1331523,2014-12-01 03:00:00,96.799999,PrimClass_Jamie,weather1.csv,Education,14868.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1331524,2014-12-01 04:00:00,97.099998,PrimClass_Jamie,weather1.csv,Education,14868.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1340280,2014-12-01 00:00:00,52.400001,PrimClass_Jane,weather1.csv,Education,11247.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1340281,2014-12-01 01:00:00,56.000000,PrimClass_Jane,weather1.csv,Education,11247.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1340282,2014-12-01 02:00:00,52.000000,PrimClass_Jane,weather1.csv,Education,11247.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1340283,2014-12-01 03:00:00,51.200000,PrimClass_Jane,weather1.csv,Education,11247.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1340284,2014-12-01 04:00:00,51.599999,PrimClass_Jane,weather1.csv,Education,11247.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1349040,2014-12-01 00:00:00,2.4,PrimClass_Janelle,weather1.csv,Education,1201.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1349041,2014-12-01 01:00:00,2.0,PrimClass_Janelle,weather1.csv,Education,1201.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1349042,2014-12-01 02:00:00,2.0,PrimClass_Janelle,weather1.csv,Education,1201.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1349043,2014-12-01 03:00:00,2.4,PrimClass_Janelle,weather1.csv,Education,1201.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1349044,2014-12-01 04:00:00,2.6,PrimClass_Janelle,weather1.csv,Education,1201.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1357800,2014-12-01 00:00:00,24.200000,PrimClass_Janet,weather1.csv,Education,8711.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1357801,2014-12-01 01:00:00,24.500000,PrimClass_Janet,weather1.csv,Education,8711.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1357802,2014-12-01 02:00:00,24.800001,PrimClass_Janet,weather1.csv,Education,8711.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1357803,2014-12-01 03:00:00,24.200000,PrimClass_Janet,weather1.csv,Education,8711.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1357804,2014-12-01 04:00:00,26.900000,PrimClass_Janet,weather1.csv,Education,8711.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1366560,2014-12-01 00:00:00,2.645,PrimClass_Janie,weather1.csv,Education,1691.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1366561,2014-12-01 01:00:00,2.076,PrimClass_Janie,weather1.csv,Education,1691.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1366562,2014-12-01 02:00:00,2.498,PrimClass_Janie,weather1.csv,Education,1691.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1366563,2014-12-01 03:00:00,4.796,PrimClass_Janie,weather1.csv,Education,1691.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1366564,2014-12-01 04:00:00,2.386,PrimClass_Janie,weather1.csv,Education,1691.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1375320,2014-12-01 00:00:00,1.1,PrimClass_Janis,weather1.csv,Education,736.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1375321,2014-12-01 01:00:00,1.7,PrimClass_Janis,weather1.csv,Education,736.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1375322,2014-12-01 02:00:00,1.2,PrimClass_Janis,weather1.csv,Education,736.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1375323,2014-12-01 03:00:00,1.2,PrimClass_Janis,weather1.csv,Education,736.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1375324,2014-12-01 04:00:00,1.1,PrimClass_Janis,weather1.csv,Education,736.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1384080,2014-12-01 00:00:00,2.3,PrimClass_Janiya,weather1.csv,Education,2937.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1384081,2014-12-01 01:00:00,2.0,PrimClass_Janiya,weather1.csv,Education,2937.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1384082,2014-12-01 02:00:00,2.1,PrimClass_Janiya,weather1.csv,Education,2937.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1384083,2014-12-01 03:00:00,2.0,PrimClass_Janiya,weather1.csv,Education,2937.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1384084,2014-12-01 04:00:00,2.0,PrimClass_Janiya,weather1.csv,Education,2937.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1392840,2014-12-01 00:00:00,6.0,PrimClass_Jaqueline,weather1.csv,Education,2193.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1392841,2014-12-01 01:00:00,5.8,PrimClass_Jaqueline,weather1.csv,Education,2193.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1392842,2014-12-01 02:00:00,5.9,PrimClass_Jaqueline,weather1.csv,Education,2193.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1392843,2014-12-01 03:00:00,5.8,PrimClass_Jaqueline,weather1.csv,Education,2193.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1392844,2014-12-01 04:00:00,5.8,PrimClass_Jaqueline,weather1.csv,Education,2193.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1401600,2014-12-01 00:00:00,5.7,PrimClass_Jarrett,weather1.csv,Education,2708.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1401601,2014-12-01 01:00:00,5.3,PrimClass_Jarrett,weather1.csv,Education,2708.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1401602,2014-12-01 02:00:00,5.2,PrimClass_Jarrett,weather1.csv,Education,2708.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1401603,2014-12-01 03:00:00,6.0,PrimClass_Jarrett,weather1.csv,Education,2708.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1401604,2014-12-01 04:00:00,5.3,PrimClass_Jarrett,weather1.csv,Education,2708.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1410360,2014-12-01 00:00:00,5.3,PrimClass_Jasmine,weather1.csv,Education,2555.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1410361,2014-12-01 01:00:00,4.8,PrimClass_Jasmine,weather1.csv,Education,2555.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1410362,2014-12-01 02:00:00,5.1,PrimClass_Jasmine,weather1.csv,Education,2555.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1410363,2014-12-01 03:00:00,5.1,PrimClass_Jasmine,weather1.csv,Education,2555.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1410364,2014-12-01 04:00:00,5.0,PrimClass_Jasmine,weather1.csv,Education,2555.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1419120,2014-12-01 00:00:00,2.9,PrimClass_Javier,weather1.csv,Education,1877.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1419121,2014-12-01 01:00:00,2.9,PrimClass_Javier,weather1.csv,Education,1877.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1419122,2014-12-01 02:00:00,2.8,PrimClass_Javier,weather1.csv,Education,1877.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1419123,2014-12-01 03:00:00,2.9,PrimClass_Javier,weather1.csv,Education,1877.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1419124,2014-12-01 04:00:00,2.8,PrimClass_Javier,weather1.csv,Education,1877.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1427880,2014-12-01 00:00:00,29.4,PrimClass_Jaxson,weather1.csv,Education,11955.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1427881,2014-12-01 01:00:00,29.2,PrimClass_Jaxson,weather1.csv,Education,11955.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1427882,2014-12-01 02:00:00,29.3,PrimClass_Jaxson,weather1.csv,Education,11955.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1427883,2014-12-01 03:00:00,28.8,PrimClass_Jaxson,weather1.csv,Education,11955.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1427884,2014-12-01 04:00:00,29.3,PrimClass_Jaxson,weather1.csv,Education,11955.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1436640,2014-12-01 00:00:00,2.8,PrimClass_Jayda,weather1.csv,Education,2215.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1436641,2014-12-01 01:00:00,3.1,PrimClass_Jayda,weather1.csv,Education,2215.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1436642,2014-12-01 02:00:00,3.2,PrimClass_Jayda,weather1.csv,Education,2215.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1436643,2014-12-01 03:00:00,3.4,PrimClass_Jayda,weather1.csv,Education,2215.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1436644,2014-12-01 04:00:00,3.2,PrimClass_Jayda,weather1.csv,Education,2215.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1445400,2014-12-01 00:00:00,2.0,PrimClass_Jayla,weather1.csv,Education,2132.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1445401,2014-12-01 01:00:00,1.9,PrimClass_Jayla,weather1.csv,Education,2132.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1445402,2014-12-01 02:00:00,3.5,PrimClass_Jayla,weather1.csv,Education,2132.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1445403,2014-12-01 03:00:00,3.4,PrimClass_Jayla,weather1.csv,Education,2132.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1445404,2014-12-01 04:00:00,3.4,PrimClass_Jayla,weather1.csv,Education,2132.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1454160,2014-12-01 00:00:00,3.9,PrimClass_Jaylinn,weather1.csv,Education,2939.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1454161,2014-12-01 01:00:00,3.4,PrimClass_Jaylinn,weather1.csv,Education,2939.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1454162,2014-12-01 02:00:00,3.3,PrimClass_Jaylinn,weather1.csv,Education,2939.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1454163,2014-12-01 03:00:00,3.5,PrimClass_Jaylinn,weather1.csv,Education,2939.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1454164,2014-12-01 04:00:00,3.5,PrimClass_Jaylinn,weather1.csv,Education,2939.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1462920,2014-12-01 00:00:00,37.100001,PrimClass_Jayson,weather1.csv,Education,12924.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1462921,2014-12-01 01:00:00,34.799999,PrimClass_Jayson,weather1.csv,Education,12924.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1462922,2014-12-01 02:00:00,35.800000,PrimClass_Jayson,weather1.csv,Education,12924.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1462923,2014-12-01 03:00:00,36.400002,PrimClass_Jayson,weather1.csv,Education,12924.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1462924,2014-12-01 04:00:00,35.800000,PrimClass_Jayson,weather1.csv,Education,12924.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1471680,2014-12-01 00:00:00,31.470000,PrimClass_Jazmin,weather1.csv,Education,1047.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1471681,2014-12-01 01:00:00,38.750001,PrimClass_Jazmin,weather1.csv,Education,1047.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1471682,2014-12-01 02:00:00,29.640000,PrimClass_Jazmin,weather1.csv,Education,1047.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1471683,2014-12-01 03:00:00,21.370000,PrimClass_Jazmin,weather1.csv,Education,1047.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1471684,2014-12-01 04:00:00,19.300000,PrimClass_Jazmin,weather1.csv,Education,1047.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1480440,2014-12-01 00:00:00,4.2,PrimClass_Jean,weather1.csv,Education,2678.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1480441,2014-12-01 01:00:00,4.1,PrimClass_Jean,weather1.csv,Education,2678.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1480442,2014-12-01 02:00:00,4.1,PrimClass_Jean,weather1.csv,Education,2678.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1480443,2014-12-01 03:00:00,4.0,PrimClass_Jean,weather1.csv,Education,2678.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1480444,2014-12-01 04:00:00,4.7,PrimClass_Jean,weather1.csv,Education,2678.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1489200,2014-12-01 00:00:00,6.6,PrimClass_Jeanette,weather1.csv,Government,2182.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1489201,2014-12-01 01:00:00,6.4,PrimClass_Jeanette,weather1.csv,Government,2182.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1489202,2014-12-01 02:00:00,6.5,PrimClass_Jeanette,weather1.csv,Government,2182.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1489203,2014-12-01 03:00:00,6.2,PrimClass_Jeanette,weather1.csv,Government,2182.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1489204,2014-12-01 04:00:00,6.2,PrimClass_Jeanette,weather1.csv,Government,2182.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1497960,2014-12-01 00:00:00,38.700001,PrimClass_Jeannine,weather1.csv,Government,12732.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1497961,2014-12-01 01:00:00,37.300001,PrimClass_Jeannine,weather1.csv,Government,12732.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1497962,2014-12-01 02:00:00,37.500000,PrimClass_Jeannine,weather1.csv,Government,12732.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1497963,2014-12-01 03:00:00,38.000000,PrimClass_Jeannine,weather1.csv,Government,12732.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1497964,2014-12-01 04:00:00,37.000000,PrimClass_Jeannine,weather1.csv,Government,12732.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1506720,2014-12-01 00:00:00,18.900000,PrimClass_Jediah,weather1.csv,Education,6382.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1506721,2014-12-01 01:00:00,17.799999,PrimClass_Jediah,weather1.csv,Education,6382.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1506722,2014-12-01 02:00:00,17.900000,PrimClass_Jediah,weather1.csv,Education,6382.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1506723,2014-12-01 03:00:00,18.000000,PrimClass_Jediah,weather1.csv,Education,6382.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1506724,2014-12-01 04:00:00,18.000000,PrimClass_Jediah,weather1.csv,Education,6382.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1515480,2014-12-01 00:00:00,3.0,PrimClass_Jeff,weather1.csv,Education,1086.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1515481,2014-12-01 01:00:00,2.6,PrimClass_Jeff,weather1.csv,Education,1086.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1515482,2014-12-01 02:00:00,2.6,PrimClass_Jeff,weather1.csv,Education,1086.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1515483,2014-12-01 03:00:00,2.6,PrimClass_Jeff,weather1.csv,Education,1086.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1515484,2014-12-01 04:00:00,2.6,PrimClass_Jeff,weather1.csv,Education,1086.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1524240,2014-12-01 00:00:00,33.4,PrimClass_Jeffery,weather1.csv,Education,11201.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1524241,2014-12-01 01:00:00,31.5,PrimClass_Jeffery,weather1.csv,Education,11201.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1524242,2014-12-01 02:00:00,30.8,PrimClass_Jeffery,weather1.csv,Education,11201.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1524243,2014-12-01 03:00:00,31.7,PrimClass_Jeffery,weather1.csv,Education,11201.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1524244,2014-12-01 04:00:00,31.7,PrimClass_Jeffery,weather1.csv,Education,11201.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1533000,2014-12-01 00:00:00,2.5,PrimClass_Jenna,weather1.csv,Government,1078.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1533001,2014-12-01 01:00:00,1.7,PrimClass_Jenna,weather1.csv,Government,1078.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1533002,2014-12-01 02:00:00,1.6,PrimClass_Jenna,weather1.csv,Government,1078.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1533003,2014-12-01 03:00:00,1.6,PrimClass_Jenna,weather1.csv,Government,1078.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1533004,2014-12-01 04:00:00,1.8,PrimClass_Jenna,weather1.csv,Government,1078.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1541760,2014-12-01 00:00:00,6.04,PrimClass_Jennie,weather1.csv,Education,2692.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1541761,2014-12-01 01:00:00,5.76,PrimClass_Jennie,weather1.csv,Education,2692.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1541762,2014-12-01 02:00:00,5.83,PrimClass_Jennie,weather1.csv,Education,2692.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1541763,2014-12-01 03:00:00,5.91,PrimClass_Jennie,weather1.csv,Education,2692.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1541764,2014-12-01 04:00:00,5.70,PrimClass_Jennie,weather1.csv,Education,2692.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1550520,2014-12-01 00:00:00,4.8,PrimClass_Jennifer,weather1.csv,Education,2164.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1550521,2014-12-01 01:00:00,4.5,PrimClass_Jennifer,weather1.csv,Education,2164.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1550522,2014-12-01 02:00:00,4.7,PrimClass_Jennifer,weather1.csv,Education,2164.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1550523,2014-12-01 03:00:00,4.9,PrimClass_Jennifer,weather1.csv,Education,2164.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1550524,2014-12-01 04:00:00,5.5,PrimClass_Jennifer,weather1.csv,Education,2164.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1559280,2014-12-01 00:00:00,5.8,PrimClass_Jeremy,weather1.csv,Education,2151.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1559281,2014-12-01 01:00:00,5.8,PrimClass_Jeremy,weather1.csv,Education,2151.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1559282,2014-12-01 02:00:00,7.9,PrimClass_Jeremy,weather1.csv,Education,2151.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1559283,2014-12-01 03:00:00,7.7,PrimClass_Jeremy,weather1.csv,Education,2151.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1559284,2014-12-01 04:00:00,8.0,PrimClass_Jeremy,weather1.csv,Education,2151.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1568040,2014-12-01 00:00:00,4.049,PrimClass_Jesse,weather1.csv,Education,1468.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1568041,2014-12-01 01:00:00,1.547,PrimClass_Jesse,weather1.csv,Education,1468.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1568042,2014-12-01 02:00:00,3.626,PrimClass_Jesse,weather1.csv,Education,1468.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1568043,2014-12-01 03:00:00,2.564,PrimClass_Jesse,weather1.csv,Education,1468.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1568044,2014-12-01 04:00:00,5.737,PrimClass_Jesse,weather1.csv,Education,1468.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1576800,2014-12-01 00:00:00,5.9,PrimClass_Jessie,weather1.csv,Education,3157.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1576801,2014-12-01 01:00:00,5.5,PrimClass_Jessie,weather1.csv,Education,3157.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1576802,2014-12-01 02:00:00,5.4,PrimClass_Jessie,weather1.csv,Education,3157.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1576803,2014-12-01 03:00:00,5.4,PrimClass_Jessie,weather1.csv,Education,3157.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1576804,2014-12-01 04:00:00,5.5,PrimClass_Jessie,weather1.csv,Education,3157.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1585560,2014-12-01 00:00:00,4.4,PrimClass_Jill,weather1.csv,Education,2238.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1585561,2014-12-01 01:00:00,4.2,PrimClass_Jill,weather1.csv,Education,2238.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1585562,2014-12-01 02:00:00,4.3,PrimClass_Jill,weather1.csv,Education,2238.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1585563,2014-12-01 03:00:00,4.3,PrimClass_Jill,weather1.csv,Education,2238.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1585564,2014-12-01 04:00:00,4.3,PrimClass_Jill,weather1.csv,Education,2238.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1594320,2014-12-01 00:00:00,2.4,PrimClass_Jim,weather1.csv,Education,1014.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1594321,2014-12-01 01:00:00,2.6,PrimClass_Jim,weather1.csv,Education,1014.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1594322,2014-12-01 02:00:00,2.5,PrimClass_Jim,weather1.csv,Education,1014.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1594323,2014-12-01 03:00:00,2.5,PrimClass_Jim,weather1.csv,Education,1014.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1594324,2014-12-01 04:00:00,2.8,PrimClass_Jim,weather1.csv,Education,1014.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1603080,2014-12-01 00:00:00,8.1,PrimClass_Jimmie,weather1.csv,Education,3462.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1603081,2014-12-01 01:00:00,7.8,PrimClass_Jimmie,weather1.csv,Education,3462.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1603082,2014-12-01 02:00:00,7.0,PrimClass_Jimmie,weather1.csv,Education,3462.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1603083,2014-12-01 03:00:00,7.2,PrimClass_Jimmie,weather1.csv,Education,3462.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1603084,2014-12-01 04:00:00,7.3,PrimClass_Jimmie,weather1.csv,Education,3462.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1611840,2014-12-01 00:00:00,36.199999,PrimClass_Joanna,weather1.csv,Education,9516.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1611841,2014-12-01 01:00:00,32.899999,PrimClass_Joanna,weather1.csv,Education,9516.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1611842,2014-12-01 02:00:00,34.799999,PrimClass_Joanna,weather1.csv,Education,9516.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1611843,2014-12-01 03:00:00,34.900000,PrimClass_Joanna,weather1.csv,Education,9516.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1611844,2014-12-01 04:00:00,34.700001,PrimClass_Joanna,weather1.csv,Education,9516.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1620600,2014-12-01 00:00:00,3.715,PrimClass_Jocelyn,weather1.csv,Education,1391.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1620601,2014-12-01 01:00:00,3.560,PrimClass_Jocelyn,weather1.csv,Education,1391.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1620602,2014-12-01 02:00:00,3.537,PrimClass_Jocelyn,weather1.csv,Education,1391.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1620603,2014-12-01 03:00:00,3.507,PrimClass_Jocelyn,weather1.csv,Education,1391.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1620604,2014-12-01 04:00:00,3.513,PrimClass_Jocelyn,weather1.csv,Education,1391.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1629360,2014-12-01 00:00:00,3.4,PrimClass_Jodie,weather1.csv,Education,2570.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1629361,2014-12-01 01:00:00,3.4,PrimClass_Jodie,weather1.csv,Education,2570.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1629362,2014-12-01 02:00:00,3.4,PrimClass_Jodie,weather1.csv,Education,2570.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1629363,2014-12-01 03:00:00,3.4,PrimClass_Jodie,weather1.csv,Education,2570.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1629364,2014-12-01 04:00:00,3.3,PrimClass_Jodie,weather1.csv,Education,2570.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1638120,2014-12-01 00:00:00,5.7,PrimClass_Jody,weather1.csv,Education,2418.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1638121,2014-12-01 01:00:00,6.0,PrimClass_Jody,weather1.csv,Education,2418.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1638122,2014-12-01 02:00:00,6.9,PrimClass_Jody,weather1.csv,Education,2418.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1638123,2014-12-01 03:00:00,6.6,PrimClass_Jody,weather1.csv,Education,2418.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1638124,2014-12-01 04:00:00,6.2,PrimClass_Jody,weather1.csv,Education,2418.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1646880,2014-12-01 00:00:00,3.9,PrimClass_Joel,weather1.csv,Education,1295.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1646881,2014-12-01 01:00:00,4.4,PrimClass_Joel,weather1.csv,Education,1295.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1646882,2014-12-01 02:00:00,4.4,PrimClass_Joel,weather1.csv,Education,1295.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1646883,2014-12-01 03:00:00,4.3,PrimClass_Joel,weather1.csv,Education,1295.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1646884,2014-12-01 04:00:00,4.2,PrimClass_Joel,weather1.csv,Education,1295.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1655640,2014-12-01 00:00:00,62.300002,PrimClass_Joey,weather1.csv,Education,14475.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1655641,2014-12-01 01:00:00,70.900002,PrimClass_Joey,weather1.csv,Education,14475.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1655642,2014-12-01 02:00:00,70.799999,PrimClass_Joey,weather1.csv,Education,14475.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1655643,2014-12-01 03:00:00,69.500000,PrimClass_Joey,weather1.csv,Education,14475.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1655644,2014-12-01 04:00:00,81.500000,PrimClass_Joey,weather1.csv,Education,14475.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1664400,2014-12-01 00:00:00,3.8,PrimClass_Johanna,weather1.csv,Education,2619.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1664401,2014-12-01 01:00:00,3.9,PrimClass_Johanna,weather1.csv,Education,2619.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1664402,2014-12-01 02:00:00,3.7,PrimClass_Johanna,weather1.csv,Education,2619.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1664403,2014-12-01 03:00:00,4.0,PrimClass_Johanna,weather1.csv,Education,2619.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1664404,2014-12-01 04:00:00,3.9,PrimClass_Johanna,weather1.csv,Education,2619.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1673160,2014-12-01 00:00:00,5.2,PrimClass_Johnathan,weather1.csv,Education,2815.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1673161,2014-12-01 01:00:00,5.3,PrimClass_Johnathan,weather1.csv,Education,2815.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1673162,2014-12-01 02:00:00,5.3,PrimClass_Johnathan,weather1.csv,Education,2815.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1673163,2014-12-01 03:00:00,5.4,PrimClass_Johnathan,weather1.csv,Education,2815.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1673164,2014-12-01 04:00:00,5.3,PrimClass_Johnathan,weather1.csv,Education,2815.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1681920,2014-12-01 00:00:00,12.6,PrimClass_Johnnie,weather1.csv,Education,1769.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1681921,2014-12-01 01:00:00,10.1,PrimClass_Johnnie,weather1.csv,Education,1769.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1681922,2014-12-01 02:00:00,10.4,PrimClass_Johnnie,weather1.csv,Education,1769.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1681923,2014-12-01 03:00:00,10.4,PrimClass_Johnnie,weather1.csv,Education,1769.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1681924,2014-12-01 04:00:00,10.9,PrimClass_Johnnie,weather1.csv,Education,1769.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1690680,2014-12-01 00:00:00,0.7,PrimClass_Jolie,weather1.csv,Education,2927.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1690681,2014-12-01 01:00:00,0.6,PrimClass_Jolie,weather1.csv,Education,2927.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1690682,2014-12-01 02:00:00,0.8,PrimClass_Jolie,weather1.csv,Education,2927.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1690683,2014-12-01 03:00:00,0.7,PrimClass_Jolie,weather1.csv,Education,2927.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1690684,2014-12-01 04:00:00,0.8,PrimClass_Jolie,weather1.csv,Education,2927.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1699440,2014-12-01 00:00:00,7.7,PrimClass_Jon,weather1.csv,Education,1589.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1699441,2014-12-01 01:00:00,7.7,PrimClass_Jon,weather1.csv,Education,1589.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1699442,2014-12-01 02:00:00,7.8,PrimClass_Jon,weather1.csv,Education,1589.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1699443,2014-12-01 03:00:00,7.8,PrimClass_Jon,weather1.csv,Education,1589.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1699444,2014-12-01 04:00:00,8.0,PrimClass_Jon,weather1.csv,Education,1589.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1708200,2014-12-01 00:00:00,39.799999,PrimClass_Jonathon,weather1.csv,Education,11285.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1708201,2014-12-01 01:00:00,35.800001,PrimClass_Jonathon,weather1.csv,Education,11285.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1708202,2014-12-01 02:00:00,34.300000,PrimClass_Jonathon,weather1.csv,Education,11285.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1708203,2014-12-01 03:00:00,34.699999,PrimClass_Jonathon,weather1.csv,Education,11285.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1708204,2014-12-01 04:00:00,35.199999,PrimClass_Jonathon,weather1.csv,Education,11285.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1716960,2014-12-01 00:00:00,2.2,PrimClass_Jose,weather1.csv,Education,1123.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1716961,2014-12-01 01:00:00,2.1,PrimClass_Jose,weather1.csv,Education,1123.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1716962,2014-12-01 02:00:00,2.0,PrimClass_Jose,weather1.csv,Education,1123.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1716963,2014-12-01 03:00:00,2.0,PrimClass_Jose,weather1.csv,Education,1123.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1716964,2014-12-01 04:00:00,2.2,PrimClass_Jose,weather1.csv,Education,1123.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1725720,2014-12-01 00:00:00,7.4,PrimClass_Joselyn,weather1.csv,Education,2961.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1725721,2014-12-01 01:00:00,6.9,PrimClass_Joselyn,weather1.csv,Education,2961.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1725722,2014-12-01 02:00:00,7.2,PrimClass_Joselyn,weather1.csv,Education,2961.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1725723,2014-12-01 03:00:00,7.2,PrimClass_Joselyn,weather1.csv,Education,2961.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1725724,2014-12-01 04:00:00,7.6,PrimClass_Joselyn,weather1.csv,Education,2961.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1734480,2014-12-01 00:00:00,4.7,PrimClass_Josephine,weather1.csv,Education,3984.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1734481,2014-12-01 01:00:00,4.1,PrimClass_Josephine,weather1.csv,Education,3984.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1734482,2014-12-01 02:00:00,4.3,PrimClass_Josephine,weather1.csv,Education,3984.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1734483,2014-12-01 03:00:00,4.3,PrimClass_Josephine,weather1.csv,Education,3984.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1734484,2014-12-01 04:00:00,4.7,PrimClass_Josephine,weather1.csv,Education,3984.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1743240,2014-12-01 00:00:00,4.7,PrimClass_Josue,weather1.csv,Education,1584.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1743241,2014-12-01 01:00:00,4.1,PrimClass_Josue,weather1.csv,Education,1584.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1743242,2014-12-01 02:00:00,4.7,PrimClass_Josue,weather1.csv,Education,1584.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1743243,2014-12-01 03:00:00,5.2,PrimClass_Josue,weather1.csv,Education,1584.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1743244,2014-12-01 04:00:00,5.0,PrimClass_Josue,weather1.csv,Education,1584.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1752000,2014-12-01 00:00:00,6.6,PrimClass_Juanita,weather1.csv,Education,2844.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1752001,2014-12-01 01:00:00,6.4,PrimClass_Juanita,weather1.csv,Education,2844.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1752002,2014-12-01 02:00:00,6.5,PrimClass_Juanita,weather1.csv,Education,2844.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1752003,2014-12-01 03:00:00,6.7,PrimClass_Juanita,weather1.csv,Education,2844.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1752004,2014-12-01 04:00:00,6.5,PrimClass_Juanita,weather1.csv,Education,2844.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1760760,2014-12-01 00:00:00,2.9,PrimClass_Judith,weather1.csv,Education,1205.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1760761,2014-12-01 01:00:00,2.9,PrimClass_Judith,weather1.csv,Education,1205.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1760762,2014-12-01 02:00:00,2.9,PrimClass_Judith,weather1.csv,Education,1205.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1760763,2014-12-01 03:00:00,2.8,PrimClass_Judith,weather1.csv,Education,1205.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1760764,2014-12-01 04:00:00,2.9,PrimClass_Judith,weather1.csv,Education,1205.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1769520,2014-12-01 00:00:00,1.4,PrimClass_Judy,weather1.csv,Education,1065.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1769521,2014-12-01 01:00:00,1.5,PrimClass_Judy,weather1.csv,Education,1065.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1769522,2014-12-01 02:00:00,1.4,PrimClass_Judy,weather1.csv,Education,1065.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1769523,2014-12-01 03:00:00,1.4,PrimClass_Judy,weather1.csv,Education,1065.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1769524,2014-12-01 04:00:00,1.4,PrimClass_Judy,weather1.csv,Education,1065.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1778280,2014-12-01 00:00:00,3.718,PrimClass_Julian,weather1.csv,Education,1737.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1778281,2014-12-01 01:00:00,3.726,PrimClass_Julian,weather1.csv,Education,1737.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1778282,2014-12-01 02:00:00,3.655,PrimClass_Julian,weather1.csv,Education,1737.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1778283,2014-12-01 03:00:00,4.716,PrimClass_Julian,weather1.csv,Education,1737.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1778284,2014-12-01 04:00:00,3.612,PrimClass_Julian,weather1.csv,Education,1737.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1787040,2014-12-01 00:00:00,4.9,PrimClass_Julianna,weather1.csv,Education,3211.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1787041,2014-12-01 01:00:00,6.0,PrimClass_Julianna,weather1.csv,Education,3211.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1787042,2014-12-01 02:00:00,5.7,PrimClass_Julianna,weather1.csv,Education,3211.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1787043,2014-12-01 03:00:00,5.8,PrimClass_Julianna,weather1.csv,Education,3211.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1787044,2014-12-01 04:00:00,6.1,PrimClass_Julianna,weather1.csv,Education,3211.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1795800,2014-12-01 00:00:00,45.300000,PrimClass_Julio,weather1.csv,Education,8794.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,1,0
1795801,2014-12-01 01:00:00,42.399999,PrimClass_Julio,weather1.csv,Education,8794.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,1,0
1795802,2014-12-01 02:00:00,42.500000,PrimClass_Julio,weather1.csv,Education,8794.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,1,0
1795803,2014-12-01 03:00:00,44.799999,PrimClass_Julio,weather1.csv,Education,8794.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,1,0
1795804,2014-12-01 04:00:00,42.199999,PrimClass_Julio,weather1.csv,Education,8794.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1804560,2014-12-01 00:00:00,12.6,PrimClass_Julius,weather1.csv,Government,8866.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1804561,2014-12-01 01:00:00,11.8,PrimClass_Julius,weather1.csv,Government,8866.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1804562,2014-12-01 02:00:00,11.9,PrimClass_Julius,weather1.csv,Government,8866.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1804563,2014-12-01 03:00:00,11.9,PrimClass_Julius,weather1.csv,Government,8866.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1804564,2014-12-01 04:00:00,13.0,PrimClass_Julius,weather1.csv,Government,8866.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1813320,2014-12-01 00:00:00,2.4,PrimClass_Justin,weather1.csv,Government,1303.0,PrimClass,2014,12,0,...,0,0,0,1,0,0,0,0,0,1
1813321,2014-12-01 01:00:00,2.6,PrimClass_Justin,weather1.csv,Government,1303.0,PrimClass,2014,12,1,...,0,0,0,1,0,0,0,0,0,1
1813322,2014-12-01 02:00:00,2.5,PrimClass_Justin,weather1.csv,Government,1303.0,PrimClass,2014,12,2,...,0,0,0,1,0,0,0,0,0,1
1813323,2014-12-01 03:00:00,2.6,PrimClass_Justin,weather1.csv,Government,1303.0,PrimClass,2014,12,3,...,0,0,0,1,0,0,0,0,0,1
1813324,2014-12-01 04:00:00,2.7,PrimClass_Justin,weather1.csv,Government,1303.0,PrimClass,2014,12,4,...,0,0,0,1,0,0,0,0,0,1

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1822080,2012-02-01 16:00:00,6.0,PrimClass_Ulysses,weather10.csv,Education,12000.0,PrimClass,2012,2,16,...,0,0,0,1,0,0,0,0,1,0
1822081,2012-02-01 17:00:00,9.0,PrimClass_Ulysses,weather10.csv,Education,12000.0,PrimClass,2012,2,17,...,0,0,0,1,0,0,0,0,1,0
1822082,2012-02-01 18:00:00,4.0,PrimClass_Ulysses,weather10.csv,Education,12000.0,PrimClass,2012,2,18,...,0,0,0,1,0,0,0,0,1,0
1822083,2012-02-01 19:00:00,7.0,PrimClass_Ulysses,weather10.csv,Education,12000.0,PrimClass,2012,2,19,...,0,0,0,1,0,0,0,0,1,0
1822084,2012-02-01 20:00:00,7.0,PrimClass_Ulysses,weather10.csv,Education,12000.0,PrimClass,2012,2,20,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1830840,2012-02-01 16:00:00,6.0,PrimClass_Uma,weather10.csv,Education,10000.0,PrimClass,2012,2,16,...,0,0,0,1,0,0,0,0,1,0
1830841,2012-02-01 17:00:00,8.0,PrimClass_Uma,weather10.csv,Education,10000.0,PrimClass,2012,2,17,...,0,0,0,1,0,0,0,0,1,0
1830842,2012-02-01 18:00:00,4.0,PrimClass_Uma,weather10.csv,Education,10000.0,PrimClass,2012,2,18,...,0,0,0,1,0,0,0,0,1,0
1830843,2012-02-01 19:00:00,7.0,PrimClass_Uma,weather10.csv,Education,10000.0,PrimClass,2012,2,19,...,0,0,0,1,0,0,0,0,1,0
1830844,2012-02-01 20:00:00,6.0,PrimClass_Uma,weather10.csv,Education,10000.0,PrimClass,2012,2,20,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1839600,2012-02-01 16:00:00,7.0,PrimClass_Umar,weather10.csv,Education,12000.0,PrimClass,2012,2,16,...,0,0,0,1,0,0,0,0,1,0
1839601,2012-02-01 17:00:00,9.0,PrimClass_Umar,weather10.csv,Education,12000.0,PrimClass,2012,2,17,...,0,0,0,1,0,0,0,0,1,0
1839602,2012-02-01 18:00:00,5.0,PrimClass_Umar,weather10.csv,Education,12000.0,PrimClass,2012,2,18,...,0,0,0,1,0,0,0,0,1,0
1839603,2012-02-01 19:00:00,7.0,PrimClass_Umar,weather10.csv,Education,12000.0,PrimClass,2012,2,19,...,0,0,0,1,0,0,0,0,1,0
1839604,2012-02-01 20:00:00,7.0,PrimClass_Umar,weather10.csv,Education,12000.0,PrimClass,2012,2,20,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1848360,2012-02-01 16:00:00,13.458333,PrimClass_Uriah,weather10.csv,Education,12000.0,PrimClass,2012,2,16,...,0,0,0,1,0,0,0,0,1,0
1848361,2012-02-01 17:00:00,13.416667,PrimClass_Uriah,weather10.csv,Education,12000.0,PrimClass,2012,2,17,...,0,0,0,1,0,0,0,0,1,0
1848362,2012-02-01 18:00:00,13.500000,PrimClass_Uriah,weather10.csv,Education,12000.0,PrimClass,2012,2,18,...,0,0,0,1,0,0,0,0,1,0
1848363,2012-02-01 19:00:00,13.416667,PrimClass_Uriah,weather10.csv,Education,12000.0,PrimClass,2012,2,19,...,0,0,0,1,0,0,0,0,1,0
1848364,2012-02-01 20:00:00,13.333333,PrimClass_Uriah,weather10.csv,Education,12000.0,PrimClass,2012,2,20,...,0,0,0,1,0,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1857120,2015-01-01 07:00:00,11.78,UnivClass_Abby,weather0.csv,Education,864.834027,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1857121,2015-01-01 08:00:00,11.94,UnivClass_Abby,weather0.csv,Education,864.834027,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1857122,2015-01-01 09:00:00,11.63,UnivClass_Abby,weather0.csv,Education,864.834027,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1857123,2015-01-01 10:00:00,11.90,UnivClass_Abby,weather0.csv,Education,864.834027,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1857124,2015-01-01 11:00:00,11.81,UnivClass_Abby,weather0.csv,Education,864.834027,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1865880,2015-01-01 07:00:00,50.78,UnivClass_Abraham,weather0.csv,Education,8892.396451,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1865881,2015-01-01 08:00:00,50.23,UnivClass_Abraham,weather0.csv,Education,8892.396451,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1865882,2015-01-01 09:00:00,49.54,UnivClass_Abraham,weather0.csv,Education,8892.396451,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1865883,2015-01-01 10:00:00,50.21,UnivClass_Abraham,weather0.csv,Education,8892.396451,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1865884,2015-01-01 11:00:00,50.46,UnivClass_Abraham,weather0.csv,Education,8892.396451,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1874640,2015-01-01 07:00:00,73.17,UnivClass_Adrienne,weather0.csv,Education,6698.492106,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1874641,2015-01-01 08:00:00,74.40,UnivClass_Adrienne,weather0.csv,Education,6698.492106,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1874642,2015-01-01 09:00:00,73.67,UnivClass_Adrienne,weather0.csv,Education,6698.492106,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1874643,2015-01-01 10:00:00,72.18,UnivClass_Adrienne,weather0.csv,Education,6698.492106,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1874644,2015-01-01 11:00:00,72.85,UnivClass_Adrienne,weather0.csv,Education,6698.492106,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1883400,2015-01-01 07:00:00,172.78,UnivClass_Aidan,weather0.csv,Education,8444.8827,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1883401,2015-01-01 08:00:00,171.93,UnivClass_Aidan,weather0.csv,Education,8444.8827,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1883402,2015-01-01 09:00:00,172.92,UnivClass_Aidan,weather0.csv,Education,8444.8827,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1883403,2015-01-01 10:00:00,171.06,UnivClass_Aidan,weather0.csv,Education,8444.8827,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1883404,2015-01-01 11:00:00,171.59,UnivClass_Aidan,weather0.csv,Education,8444.8827,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1892160,2015-01-01 07:00:00,4.25,UnivClass_Alec,weather0.csv,Education,400.783542,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1892161,2015-01-01 08:00:00,4.80,UnivClass_Alec,weather0.csv,Education,400.783542,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1892162,2015-01-01 09:00:00,7.44,UnivClass_Alec,weather0.csv,Education,400.783542,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1892163,2015-01-01 10:00:00,7.40,UnivClass_Alec,weather0.csv,Education,400.783542,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1892164,2015-01-01 11:00:00,7.68,UnivClass_Alec,weather0.csv,Education,400.783542,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1900920,2015-01-01 07:00:00,158.36,UnivClass_Alejandra,weather0.csv,Education,13014.96708,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1900921,2015-01-01 08:00:00,166.71,UnivClass_Alejandra,weather0.csv,Education,13014.96708,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1900922,2015-01-01 09:00:00,383.20,UnivClass_Alejandra,weather0.csv,Education,13014.96708,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1900923,2015-01-01 10:00:00,420.08,UnivClass_Alejandra,weather0.csv,Education,13014.96708,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1900924,2015-01-01 11:00:00,386.41,UnivClass_Alejandra,weather0.csv,Education,13014.96708,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1909680,2015-01-01 07:00:00,31.15,UnivClass_Alexander,weather0.csv,Education,7271.332004,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1909681,2015-01-01 08:00:00,31.16,UnivClass_Alexander,weather0.csv,Education,7271.332004,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1909682,2015-01-01 09:00:00,31.08,UnivClass_Alexander,weather0.csv,Education,7271.332004,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1909683,2015-01-01 10:00:00,30.73,UnivClass_Alexander,weather0.csv,Education,7271.332004,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1909684,2015-01-01 11:00:00,30.93,UnivClass_Alexander,weather0.csv,Education,7271.332004,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1918440,2015-01-01 07:00:00,208.85,UnivClass_Alexandra,weather0.csv,Education,26286.53224,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1918441,2015-01-01 08:00:00,207.64,UnivClass_Alexandra,weather0.csv,Education,26286.53224,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1918442,2015-01-01 09:00:00,202.29,UnivClass_Alexandra,weather0.csv,Education,26286.53224,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1918443,2015-01-01 10:00:00,200.16,UnivClass_Alexandra,weather0.csv,Education,26286.53224,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1918444,2015-01-01 11:00:00,199.23,UnivClass_Alexandra,weather0.csv,Education,26286.53224,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1927200,2015-01-01 07:00:00,129.08,UnivClass_Alexandria,weather0.csv,Education,8220.614858,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1927201,2015-01-01 08:00:00,132.60,UnivClass_Alexandria,weather0.csv,Education,8220.614858,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1927202,2015-01-01 09:00:00,133.38,UnivClass_Alexandria,weather0.csv,Education,8220.614858,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1927203,2015-01-01 10:00:00,131.03,UnivClass_Alexandria,weather0.csv,Education,8220.614858,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1927204,2015-01-01 11:00:00,101.89,UnivClass_Alexandria,weather0.csv,Education,8220.614858,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1935960,2015-01-01 07:00:00,77.67,UnivClass_Alexus,weather0.csv,Education,9181.510587,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1935961,2015-01-01 08:00:00,74.75,UnivClass_Alexus,weather0.csv,Education,9181.510587,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1935962,2015-01-01 09:00:00,76.99,UnivClass_Alexus,weather0.csv,Education,9181.510587,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1935963,2015-01-01 10:00:00,77.71,UnivClass_Alexus,weather0.csv,Education,9181.510587,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1935964,2015-01-01 11:00:00,77.26,UnivClass_Alexus,weather0.csv,Education,9181.510587,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1944720,2015-01-01 07:00:00,43.02,UnivClass_Alicia,weather0.csv,Education,7831.7229,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1944721,2015-01-01 08:00:00,43.12,UnivClass_Alicia,weather0.csv,Education,7831.7229,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1944722,2015-01-01 09:00:00,45.93,UnivClass_Alicia,weather0.csv,Education,7831.7229,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1944723,2015-01-01 10:00:00,43.04,UnivClass_Alicia,weather0.csv,Education,7831.7229,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1944724,2015-01-01 11:00:00,42.93,UnivClass_Alicia,weather0.csv,Education,7831.7229,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1953480,2015-01-01 07:00:00,29.48,UnivClass_Allen,weather0.csv,Education,5782.096914,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1953481,2015-01-01 08:00:00,28.98,UnivClass_Allen,weather0.csv,Education,5782.096914,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1953482,2015-01-01 09:00:00,28.69,UnivClass_Allen,weather0.csv,Education,5782.096914,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1953483,2015-01-01 10:00:00,29.30,UnivClass_Allen,weather0.csv,Education,5782.096914,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1953484,2015-01-01 11:00:00,29.01,UnivClass_Allen,weather0.csv,Education,5782.096914,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1962240,2015-01-01 07:00:00,65.23,UnivClass_Amari,weather0.csv,Education,16645.1518,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1962241,2015-01-01 08:00:00,65.93,UnivClass_Amari,weather0.csv,Education,16645.1518,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1962242,2015-01-01 09:00:00,65.46,UnivClass_Amari,weather0.csv,Education,16645.1518,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1962243,2015-01-01 10:00:00,64.75,UnivClass_Amari,weather0.csv,Education,16645.1518,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1962244,2015-01-01 11:00:00,64.24,UnivClass_Amari,weather0.csv,Education,16645.1518,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1971000,2015-01-01 07:00:00,31.42,UnivClass_Amya,weather0.csv,Education,2842.460188,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1971001,2015-01-01 08:00:00,40.00,UnivClass_Amya,weather0.csv,Education,2842.460188,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1971002,2015-01-01 09:00:00,38.03,UnivClass_Amya,weather0.csv,Education,2842.460188,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1971003,2015-01-01 10:00:00,39.62,UnivClass_Amya,weather0.csv,Education,2842.460188,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1971004,2015-01-01 11:00:00,38.93,UnivClass_Amya,weather0.csv,Education,2842.460188,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1979760,2015-01-01 07:00:00,30.13,UnivClass_Anamaria,weather0.csv,Education,4559.493434,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1979761,2015-01-01 08:00:00,29.98,UnivClass_Anamaria,weather0.csv,Education,4559.493434,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1979762,2015-01-01 09:00:00,29.78,UnivClass_Anamaria,weather0.csv,Education,4559.493434,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1979763,2015-01-01 10:00:00,30.04,UnivClass_Anamaria,weather0.csv,Education,4559.493434,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1979764,2015-01-01 11:00:00,29.78,UnivClass_Anamaria,weather0.csv,Education,4559.493434,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1988520,2015-01-01 07:00:00,1.2800,UnivClass_Andy,weather0.csv,Education,1186.650019,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1988521,2015-01-01 08:00:00,0.6000,UnivClass_Andy,weather0.csv,Education,1186.650019,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1988522,2015-01-01 09:00:00,0.8400,UnivClass_Andy,weather0.csv,Education,1186.650019,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1988523,2015-01-01 10:00:00,0.3975,UnivClass_Andy,weather0.csv,Education,1186.650019,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1988524,2015-01-01 11:00:00,11.0800,UnivClass_Andy,weather0.csv,Education,1186.650019,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
1997280,2015-01-01 07:00:00,87.88,UnivClass_Annabella,weather0.csv,Education,10371.22641,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
1997281,2015-01-01 08:00:00,86.14,UnivClass_Annabella,weather0.csv,Education,10371.22641,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
1997282,2015-01-01 09:00:00,85.83,UnivClass_Annabella,weather0.csv,Education,10371.22641,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
1997283,2015-01-01 10:00:00,86.44,UnivClass_Annabella,weather0.csv,Education,10371.22641,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
1997284,2015-01-01 11:00:00,86.73,UnivClass_Annabella,weather0.csv,Education,10371.22641,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2006040,2015-01-01 07:00:00,28.72,UnivClass_Anne,weather0.csv,Education,3825.652637,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2006041,2015-01-01 08:00:00,27.88,UnivClass_Anne,weather0.csv,Education,3825.652637,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2006042,2015-01-01 09:00:00,27.64,UnivClass_Anne,weather0.csv,Education,3825.652637,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2006043,2015-01-01 10:00:00,28.03,UnivClass_Anne,weather0.csv,Education,3825.652637,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2006044,2015-01-01 11:00:00,27.43,UnivClass_Anne,weather0.csv,Education,3825.652637,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2014800,2015-01-01 07:00:00,23.74,UnivClass_Antoinette,weather0.csv,Education,3174.588413,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2014801,2015-01-01 08:00:00,23.70,UnivClass_Antoinette,weather0.csv,Education,3174.588413,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2014802,2015-01-01 09:00:00,23.93,UnivClass_Antoinette,weather0.csv,Education,3174.588413,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2014803,2015-01-01 10:00:00,24.89,UnivClass_Antoinette,weather0.csv,Education,3174.588413,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2014804,2015-01-01 11:00:00,23.61,UnivClass_Antoinette,weather0.csv,Education,3174.588413,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2023560,2015-01-01 07:00:00,4.07,UnivClass_Anya,weather0.csv,Education,695.007343,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2023561,2015-01-01 08:00:00,4.02,UnivClass_Anya,weather0.csv,Education,695.007343,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2023562,2015-01-01 09:00:00,3.99,UnivClass_Anya,weather0.csv,Education,695.007343,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2023563,2015-01-01 10:00:00,4.00,UnivClass_Anya,weather0.csv,Education,695.007343,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2023564,2015-01-01 11:00:00,4.09,UnivClass_Anya,weather0.csv,Education,695.007343,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2032320,2015-01-01 07:00:00,243.72,UnivClass_Aoibhe,weather0.csv,Education,22757.89049,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2032321,2015-01-01 08:00:00,234.74,UnivClass_Aoibhe,weather0.csv,Education,22757.89049,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2032322,2015-01-01 09:00:00,233.99,UnivClass_Aoibhe,weather0.csv,Education,22757.89049,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2032323,2015-01-01 10:00:00,233.80,UnivClass_Aoibhe,weather0.csv,Education,22757.89049,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2032324,2015-01-01 11:00:00,234.13,UnivClass_Aoibhe,weather0.csv,Education,22757.89049,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2041080,2015-01-01 07:00:00,48.82,UnivClass_Archie,weather0.csv,Education,7028.11195,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2041081,2015-01-01 08:00:00,48.77,UnivClass_Archie,weather0.csv,Education,7028.11195,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2041082,2015-01-01 09:00:00,48.46,UnivClass_Archie,weather0.csv,Education,7028.11195,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2041083,2015-01-01 10:00:00,48.49,UnivClass_Archie,weather0.csv,Education,7028.11195,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2041084,2015-01-01 11:00:00,48.47,UnivClass_Archie,weather0.csv,Education,7028.11195,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2049840,2015-01-01 07:00:00,4.92,UnivClass_Ariana,weather0.csv,Education,4106.591309,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2049841,2015-01-01 08:00:00,4.89,UnivClass_Ariana,weather0.csv,Education,4106.591309,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2049842,2015-01-01 09:00:00,4.90,UnivClass_Ariana,weather0.csv,Education,4106.591309,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2049843,2015-01-01 10:00:00,4.80,UnivClass_Ariana,weather0.csv,Education,4106.591309,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2049844,2015-01-01 11:00:00,4.89,UnivClass_Ariana,weather0.csv,Education,4106.591309,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2058600,2015-01-01 07:00:00,22.57,UnivClass_Axel,weather0.csv,Education,2284.113158,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2058601,2015-01-01 08:00:00,22.28,UnivClass_Axel,weather0.csv,Education,2284.113158,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2058602,2015-01-01 09:00:00,22.76,UnivClass_Axel,weather0.csv,Education,2284.113158,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2058603,2015-01-01 10:00:00,22.05,UnivClass_Axel,weather0.csv,Education,2284.113158,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2058604,2015-01-01 11:00:00,21.76,UnivClass_Axel,weather0.csv,Education,2284.113158,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2067360,2015-01-01 07:00:00,59.81,UnivClass_Ayanna,weather0.csv,Education,6616.923272,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2067361,2015-01-01 08:00:00,57.02,UnivClass_Ayanna,weather0.csv,Education,6616.923272,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2067362,2015-01-01 09:00:00,58.71,UnivClass_Ayanna,weather0.csv,Education,6616.923272,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0
2067363,2015-01-01 10:00:00,57.22,UnivClass_Ayanna,weather0.csv,Education,6616.923272,UnivClass,2015,1,10,...,0,0,0,0,1,0,0,0,1,0
2067364,2015-01-01 11:00:00,256.01,UnivClass_Ayanna,weather0.csv,Education,6616.923272,UnivClass,2015,1,11,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2076120,2012-01-01 08:00:00,23.975,UnivClass_Beatrice,weather7.csv,Education,5258.495606,UnivClass,2012,1,8,...,0,1,0,0,1,0,0,0,1,0
2076121,2012-01-01 09:00:00,26.975,UnivClass_Beatrice,weather7.csv,Education,5258.495606,UnivClass,2012,1,9,...,0,1,0,0,1,0,0,0,1,0
2076122,2012-01-01 10:00:00,27.975,UnivClass_Beatrice,weather7.csv,Education,5258.495606,UnivClass,2012,1,10,...,0,1,0,0,1,0,0,0,1,0
2076123,2012-01-01 11:00:00,27.500,UnivClass_Beatrice,weather7.csv,Education,5258.495606,UnivClass,2012,1,11,...,0,1,0,0,1,0,0,0,1,0
2076124,2012-01-01 12:00:00,31.700,UnivClass_Beatrice,weather7.csv,Education,5258.495606,UnivClass,2012,1,12,...,0,1,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2084880,2012-01-01 08:00:00,226.700,UnivClass_Bob,weather7.csv,Education,11941.75162,UnivClass,2012,1,8,...,0,1,0,0,1,0,0,0,1,0
2084881,2012-01-01 09:00:00,183.200,UnivClass_Bob,weather7.csv,Education,11941.75162,UnivClass,2012,1,9,...,0,1,0,0,1,0,0,0,1,0
2084882,2012-01-01 10:00:00,124.025,UnivClass_Bob,weather7.csv,Education,11941.75162,UnivClass,2012,1,10,...,0,1,0,0,1,0,0,0,1,0
2084883,2012-01-01 11:00:00,92.325,UnivClass_Bob,weather7.csv,Education,11941.75162,UnivClass,2012,1,11,...,0,1,0,0,1,0,0,0,1,0
2084884,2012-01-01 12:00:00,84.450,UnivClass_Bob,weather7.csv,Education,11941.75162,UnivClass,2012,1,12,...,0,1,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2093640,2012-01-01 08:00:00,19.61575,UnivClass_Boyd,weather7.csv,Education,5351.2128,UnivClass,2012,1,8,...,0,1,0,0,1,0,0,0,1,0
2093641,2012-01-01 09:00:00,20.62500,UnivClass_Boyd,weather7.csv,Education,5351.2128,UnivClass,2012,1,9,...,0,1,0,0,1,0,0,0,1,0
2093642,2012-01-01 10:00:00,21.06675,UnivClass_Boyd,weather7.csv,Education,5351.2128,UnivClass,2012,1,10,...,0,1,0,0,1,0,0,0,1,0
2093643,2012-01-01 11:00:00,20.23550,UnivClass_Boyd,weather7.csv,Education,5351.2128,UnivClass,2012,1,11,...,0,1,0,0,1,0,0,0,1,0
2093644,2012-01-01 12:00:00,20.37950,UnivClass_Boyd,weather7.csv,Education,5351.2128,UnivClass,2012,1,12,...,0,1,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2102400,2012-01-01 08:00:00,92.50,UnivClass_Brett,weather7.csv,Education,5284.880058,UnivClass,2012,1,8,...,0,1,0,0,1,0,0,0,1,0
2102401,2012-01-01 09:00:00,94.75,UnivClass_Brett,weather7.csv,Education,5284.880058,UnivClass,2012,1,9,...,0,1,0,0,1,0,0,0,1,0
2102402,2012-01-01 10:00:00,88.50,UnivClass_Brett,weather7.csv,Education,5284.880058,UnivClass,2012,1,10,...,0,1,0,0,1,0,0,0,1,0
2102403,2012-01-01 11:00:00,91.00,UnivClass_Brett,weather7.csv,Education,5284.880058,UnivClass,2012,1,11,...,0,1,0,0,1,0,0,0,1,0
2102404,2012-01-01 12:00:00,91.25,UnivClass_Brett,weather7.csv,Education,5284.880058,UnivClass,2012,1,12,...,0,1,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2111160,2015-01-01 05:00:00,111.724998,UnivClass_Caitlyn,weather2.csv,Education,3130.366585,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2111161,2015-01-01 06:00:00,113.500002,UnivClass_Caitlyn,weather2.csv,Education,3130.366585,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2111162,2015-01-01 07:00:00,111.875000,UnivClass_Caitlyn,weather2.csv,Education,3130.366585,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2111163,2015-01-01 08:00:00,113.150000,UnivClass_Caitlyn,weather2.csv,Education,3130.366585,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2111164,2015-01-01 09:00:00,112.799999,UnivClass_Caitlyn,weather2.csv,Education,3130.366585,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2119920,2015-01-01 05:00:00,10.250000,UnivClass_Calvin,weather2.csv,Education,846.439233,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2119921,2015-01-01 06:00:00,10.475000,UnivClass_Calvin,weather2.csv,Education,846.439233,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2119922,2015-01-01 07:00:00,9.950000,UnivClass_Calvin,weather2.csv,Education,846.439233,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2119923,2015-01-01 08:00:00,9.924999,UnivClass_Calvin,weather2.csv,Education,846.439233,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2119924,2015-01-01 09:00:00,10.425000,UnivClass_Calvin,weather2.csv,Education,846.439233,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2128680,2015-01-01 05:00:00,38.500000,UnivClass_Candy,weather2.csv,Education,11546.82097,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2128681,2015-01-01 06:00:00,38.425003,UnivClass_Candy,weather2.csv,Education,11546.82097,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2128682,2015-01-01 07:00:00,38.900002,UnivClass_Candy,weather2.csv,Education,11546.82097,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2128683,2015-01-01 08:00:00,39.000000,UnivClass_Candy,weather2.csv,Education,11546.82097,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2128684,2015-01-01 09:00:00,39.075001,UnivClass_Candy,weather2.csv,Education,11546.82097,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2137440,2015-01-01 05:00:00,124.000000,UnivClass_Carl,weather2.csv,Education,16780.60438,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2137441,2015-01-01 06:00:00,116.425003,UnivClass_Carl,weather2.csv,Education,16780.60438,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2137442,2015-01-01 07:00:00,119.250000,UnivClass_Carl,weather2.csv,Education,16780.60438,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2137443,2015-01-01 08:00:00,118.525002,UnivClass_Carl,weather2.csv,Education,16780.60438,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2137444,2015-01-01 09:00:00,119.600006,UnivClass_Carl,weather2.csv,Education,16780.60438,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2146200,2015-01-01 05:00:00,111.100002,UnivClass_Carolyn,weather2.csv,Education,10123.73281,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2146201,2015-01-01 06:00:00,107.549999,UnivClass_Carolyn,weather2.csv,Education,10123.73281,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2146202,2015-01-01 07:00:00,108.724998,UnivClass_Carolyn,weather2.csv,Education,10123.73281,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2146203,2015-01-01 08:00:00,110.075001,UnivClass_Carolyn,weather2.csv,Education,10123.73281,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2146204,2015-01-01 09:00:00,105.599998,UnivClass_Carolyn,weather2.csv,Education,10123.73281,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2154960,2015-01-01 05:00:00,118.699997,UnivClass_Celia,weather2.csv,Education,9795.134902,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2154961,2015-01-01 06:00:00,120.324997,UnivClass_Celia,weather2.csv,Education,9795.134902,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2154962,2015-01-01 07:00:00,122.925003,UnivClass_Celia,weather2.csv,Education,9795.134902,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2154963,2015-01-01 08:00:00,115.375000,UnivClass_Celia,weather2.csv,Education,9795.134902,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2154964,2015-01-01 09:00:00,120.349998,UnivClass_Celia,weather2.csv,Education,9795.134902,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2163720,2015-01-01 05:00:00,78.774994,UnivClass_Chandler,weather2.csv,Education,4453.212402,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2163721,2015-01-01 06:00:00,77.125000,UnivClass_Chandler,weather2.csv,Education,4453.212402,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2163722,2015-01-01 07:00:00,77.824997,UnivClass_Chandler,weather2.csv,Education,4453.212402,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2163723,2015-01-01 08:00:00,77.574997,UnivClass_Chandler,weather2.csv,Education,4453.212402,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2163724,2015-01-01 09:00:00,79.349998,UnivClass_Chandler,weather2.csv,Education,4453.212402,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2172480,2015-01-01 05:00:00,74.875000,UnivClass_Charlie,weather2.csv,Education,8477.677459,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2172481,2015-01-01 06:00:00,74.050003,UnivClass_Charlie,weather2.csv,Education,8477.677459,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2172482,2015-01-01 07:00:00,73.800003,UnivClass_Charlie,weather2.csv,Education,8477.677459,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2172483,2015-01-01 08:00:00,74.650002,UnivClass_Charlie,weather2.csv,Education,8477.677459,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2172484,2015-01-01 09:00:00,73.300003,UnivClass_Charlie,weather2.csv,Education,8477.677459,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2181240,2015-01-01 05:00:00,38.450001,UnivClass_Christian,weather2.csv,Education,4697.826001,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2181241,2015-01-01 06:00:00,38.150002,UnivClass_Christian,weather2.csv,Education,4697.826001,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2181242,2015-01-01 07:00:00,38.099998,UnivClass_Christian,weather2.csv,Education,4697.826001,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2181243,2015-01-01 08:00:00,38.724998,UnivClass_Christian,weather2.csv,Education,4697.826001,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2181244,2015-01-01 09:00:00,38.525002,UnivClass_Christian,weather2.csv,Education,4697.826001,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2190000,2015-01-01 05:00:00,136.824997,UnivClass_Ciara,weather2.csv,Education,13051.75666,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2190001,2015-01-01 06:00:00,144.025002,UnivClass_Ciara,weather2.csv,Education,13051.75666,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2190002,2015-01-01 07:00:00,144.875000,UnivClass_Ciara,weather2.csv,Education,13051.75666,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2190003,2015-01-01 08:00:00,142.375000,UnivClass_Ciara,weather2.csv,Education,13051.75666,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2190004,2015-01-01 09:00:00,148.199997,UnivClass_Ciara,weather2.csv,Education,13051.75666,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2198760,2015-01-01 05:00:00,54.700001,UnivClass_Clay,weather2.csv,Education,4403.416394,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2198761,2015-01-01 06:00:00,64.525002,UnivClass_Clay,weather2.csv,Education,4403.416394,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2198762,2015-01-01 07:00:00,54.099998,UnivClass_Clay,weather2.csv,Education,4403.416394,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2198763,2015-01-01 08:00:00,54.174999,UnivClass_Clay,weather2.csv,Education,4403.416394,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2198764,2015-01-01 09:00:00,61.825001,UnivClass_Clay,weather2.csv,Education,4403.416394,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2207520,2015-01-01 05:00:00,1.3700,UnivClass_Clifford,weather2.csv,Education,5292.591007,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2207521,2015-01-01 06:00:00,1.3550,UnivClass_Clifford,weather2.csv,Education,5292.591007,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2207522,2015-01-01 07:00:00,1.3275,UnivClass_Clifford,weather2.csv,Education,5292.591007,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2207523,2015-01-01 08:00:00,1.3350,UnivClass_Clifford,weather2.csv,Education,5292.591007,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2207524,2015-01-01 09:00:00,1.3700,UnivClass_Clifford,weather2.csv,Education,5292.591007,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2216280,2015-01-01 05:00:00,25.400000,UnivClass_Colette,weather2.csv,Education,3758.948283,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2216281,2015-01-01 06:00:00,24.575001,UnivClass_Colette,weather2.csv,Education,3758.948283,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2216282,2015-01-01 07:00:00,28.100000,UnivClass_Colette,weather2.csv,Education,3758.948283,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2216283,2015-01-01 08:00:00,25.775000,UnivClass_Colette,weather2.csv,Education,3758.948283,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2216284,2015-01-01 09:00:00,24.850000,UnivClass_Colette,weather2.csv,Education,3758.948283,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2225040,2015-01-01 05:00:00,4.825,UnivClass_Conor,weather2.csv,Education,399.297094,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2225041,2015-01-01 06:00:00,4.825,UnivClass_Conor,weather2.csv,Education,399.297094,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2225042,2015-01-01 07:00:00,4.800,UnivClass_Conor,weather2.csv,Education,399.297094,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2225043,2015-01-01 08:00:00,4.800,UnivClass_Conor,weather2.csv,Education,399.297094,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2225044,2015-01-01 09:00:00,4.700,UnivClass_Conor,weather2.csv,Education,399.297094,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2233800,2015-01-01 05:00:00,8.825,UnivClass_Craig,weather2.csv,Education,2158.322496,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2233801,2015-01-01 06:00:00,7.450,UnivClass_Craig,weather2.csv,Education,2158.322496,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2233802,2015-01-01 07:00:00,7.475,UnivClass_Craig,weather2.csv,Education,2158.322496,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2233803,2015-01-01 08:00:00,7.575,UnivClass_Craig,weather2.csv,Education,2158.322496,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2233804,2015-01-01 09:00:00,7.500,UnivClass_Craig,weather2.csv,Education,2158.322496,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2242560,2014-12-01 00:00:00,28.4,UnivClass_Jadon,weather1.csv,Education,10133.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2242561,2014-12-01 01:00:00,27.0,UnivClass_Jadon,weather1.csv,Education,10133.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2242562,2014-12-01 02:00:00,26.7,UnivClass_Jadon,weather1.csv,Education,10133.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2242563,2014-12-01 03:00:00,26.8,UnivClass_Jadon,weather1.csv,Education,10133.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2242564,2014-12-01 04:00:00,26.1,UnivClass_Jadon,weather1.csv,Education,10133.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2251320,2014-05-01 05:00:00,9.25,UnivClass_Maddison,weather3.csv,Education,1317.829055,UnivClass,2014,5,5,...,0,0,0,0,1,0,0,0,1,0
2251321,2014-05-01 06:00:00,8.75,UnivClass_Maddison,weather3.csv,Education,1317.829055,UnivClass,2014,5,6,...,0,0,0,0,1,0,0,0,1,0
2251322,2014-05-01 07:00:00,7.25,UnivClass_Maddison,weather3.csv,Education,1317.829055,UnivClass,2014,5,7,...,0,0,0,0,1,0,0,0,1,0
2251323,2014-05-01 08:00:00,9.25,UnivClass_Maddison,weather3.csv,Education,1317.829055,UnivClass,2014,5,8,...,0,0,0,0,1,0,0,0,1,0
2251324,2014-05-01 09:00:00,8.75,UnivClass_Maddison,weather3.csv,Education,1317.829055,UnivClass,2014,5,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2260080,2014-11-01 05:00:00,313.00000,UnivClass_Nash,weather9.csv,Education,11435.98769,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2260081,2014-11-01 06:00:00,338.57422,UnivClass_Nash,weather9.csv,Education,11435.98769,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2260082,2014-11-01 07:00:00,336.00000,UnivClass_Nash,weather9.csv,Education,11435.98769,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2260083,2014-11-01 08:00:00,360.00000,UnivClass_Nash,weather9.csv,Education,11435.98769,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2260084,2014-11-01 09:00:00,372.99998,UnivClass_Nash,weather9.csv,Education,11435.98769,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2268840,2014-11-01 05:00:00,143.30000,UnivClass_Nathaniel,weather9.csv,Education,15435.92635,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2268841,2014-11-01 06:00:00,149.46580,UnivClass_Nathaniel,weather9.csv,Education,15435.92635,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2268842,2014-11-01 07:00:00,164.00000,UnivClass_Nathaniel,weather9.csv,Education,15435.92635,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2268843,2014-11-01 08:00:00,173.70000,UnivClass_Nathaniel,weather9.csv,Education,15435.92635,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2268844,2014-11-01 09:00:00,177.99989,UnivClass_Nathaniel,weather9.csv,Education,15435.92635,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2277600,2014-11-01 05:00:00,105.50000,UnivClass_Nayeli,weather9.csv,Education,7439.486434,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2277601,2014-11-01 06:00:00,110.35826,UnivClass_Nayeli,weather9.csv,Education,7439.486434,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2277602,2014-11-01 07:00:00,106.20000,UnivClass_Nayeli,weather9.csv,Education,7439.486434,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2277603,2014-11-01 08:00:00,110.80000,UnivClass_Nayeli,weather9.csv,Education,7439.486434,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2277604,2014-11-01 09:00:00,111.99993,UnivClass_Nayeli,weather9.csv,Education,7439.486434,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2286360,2014-11-01 05:00:00,176.50000,UnivClass_Nelly,weather9.csv,Education,15251.5139,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2286361,2014-11-01 06:00:00,184.28763,UnivClass_Nelly,weather9.csv,Education,15251.5139,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2286362,2014-11-01 07:00:00,177.00000,UnivClass_Nelly,weather9.csv,Education,15251.5139,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2286363,2014-11-01 08:00:00,175.30000,UnivClass_Nelly,weather9.csv,Education,15251.5139,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2286364,2014-11-01 09:00:00,177.19992,UnivClass_Nelly,weather9.csv,Education,15251.5139,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2295120,2014-11-01 05:00:00,79.00000,UnivClass_Nicholas,weather9.csv,Education,5059.590283,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2295121,2014-11-01 06:00:00,76.17906,UnivClass_Nicholas,weather9.csv,Education,5059.590283,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2295122,2014-11-01 07:00:00,72.30000,UnivClass_Nicholas,weather9.csv,Education,5059.590283,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2295123,2014-11-01 08:00:00,72.10000,UnivClass_Nicholas,weather9.csv,Education,5059.590283,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2295124,2014-11-01 09:00:00,78.20000,UnivClass_Nicholas,weather9.csv,Education,5059.590283,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2303880,2014-11-01 05:00:00,93.00000,UnivClass_Nickolas,weather9.csv,Education,9319.09993,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2303881,2014-11-01 06:00:00,90.21492,UnivClass_Nickolas,weather9.csv,Education,9319.09993,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2303882,2014-11-01 07:00:00,83.30000,UnivClass_Nickolas,weather9.csv,Education,9319.09993,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2303883,2014-11-01 08:00:00,84.50000,UnivClass_Nickolas,weather9.csv,Education,9319.09993,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2303884,2014-11-01 09:00:00,85.70001,UnivClass_Nickolas,weather9.csv,Education,9319.09993,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2312640,2014-11-01 05:00:00,46.40000,UnivClass_Nishka,weather9.csv,Education,5385.029492,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2312641,2014-11-01 06:00:00,48.00051,UnivClass_Nishka,weather9.csv,Education,5385.029492,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2312642,2014-11-01 07:00:00,45.80000,UnivClass_Nishka,weather9.csv,Education,5385.029492,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2312643,2014-11-01 08:00:00,46.50000,UnivClass_Nishka,weather9.csv,Education,5385.029492,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2312644,2014-11-01 09:00:00,46.39998,UnivClass_Nishka,weather9.csv,Education,5385.029492,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2321400,2014-11-01 05:00:00,242.00000,UnivClass_Noreen,weather9.csv,Education,13905.62814,UnivClass,2014,11,5,...,1,0,0,0,1,0,0,0,1,0
2321401,2014-11-01 06:00:00,251.25253,UnivClass_Noreen,weather9.csv,Education,13905.62814,UnivClass,2014,11,6,...,1,0,0,0,1,0,0,0,1,0
2321402,2014-11-01 07:00:00,242.50000,UnivClass_Noreen,weather9.csv,Education,13905.62814,UnivClass,2014,11,7,...,1,0,0,0,1,0,0,0,1,0
2321403,2014-11-01 08:00:00,240.50000,UnivClass_Noreen,weather9.csv,Education,13905.62814,UnivClass,2014,11,8,...,1,0,0,0,1,0,0,0,1,0
2321404,2014-11-01 09:00:00,241.49986,UnivClass_Noreen,weather9.csv,Education,13905.62814,UnivClass,2014,11,9,...,1,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2330160,2015-01-01 05:00:00,31.466667,UnivClass_Pandora,weather4.csv,Education,5416.895221,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2330161,2015-01-01 06:00:00,32.933333,UnivClass_Pandora,weather4.csv,Education,5416.895221,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2330162,2015-01-01 07:00:00,31.591667,UnivClass_Pandora,weather4.csv,Education,5416.895221,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2330163,2015-01-01 08:00:00,31.525000,UnivClass_Pandora,weather4.csv,Education,5416.895221,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2330164,2015-01-01 09:00:00,31.058333,UnivClass_Pandora,weather4.csv,Education,5416.895221,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2338920,2015-01-01 05:00:00,39.425000,UnivClass_Pete,weather4.csv,Education,7462.433475,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2338921,2015-01-01 06:00:00,33.775000,UnivClass_Pete,weather4.csv,Education,7462.433475,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2338922,2015-01-01 07:00:00,34.083333,UnivClass_Pete,weather4.csv,Education,7462.433475,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2338923,2015-01-01 08:00:00,34.258333,UnivClass_Pete,weather4.csv,Education,7462.433475,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2338924,2015-01-01 09:00:00,35.233333,UnivClass_Pete,weather4.csv,Education,7462.433475,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2347680,2015-01-01 05:00:00,20.108333,UnivClass_Philip,weather4.csv,Education,2836.421493,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2347681,2015-01-01 06:00:00,19.575000,UnivClass_Philip,weather4.csv,Education,2836.421493,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2347682,2015-01-01 07:00:00,20.183333,UnivClass_Philip,weather4.csv,Education,2836.421493,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2347683,2015-01-01 08:00:00,20.116667,UnivClass_Philip,weather4.csv,Education,2836.421493,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2347684,2015-01-01 09:00:00,18.733333,UnivClass_Philip,weather4.csv,Education,2836.421493,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2356440,2015-01-01 05:00:00,10.225000,UnivClass_Phyllis,weather4.csv,Education,1255.305336,UnivClass,2015,1,5,...,0,0,0,0,1,0,0,0,1,0
2356441,2015-01-01 06:00:00,10.033333,UnivClass_Phyllis,weather4.csv,Education,1255.305336,UnivClass,2015,1,6,...,0,0,0,0,1,0,0,0,1,0
2356442,2015-01-01 07:00:00,11.733333,UnivClass_Phyllis,weather4.csv,Education,1255.305336,UnivClass,2015,1,7,...,0,0,0,0,1,0,0,0,1,0
2356443,2015-01-01 08:00:00,9.966667,UnivClass_Phyllis,weather4.csv,Education,1255.305336,UnivClass,2015,1,8,...,0,0,0,0,1,0,0,0,1,0
2356444,2015-01-01 09:00:00,11.825000,UnivClass_Phyllis,weather4.csv,Education,1255.305336,UnivClass,2015,1,9,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2365200,2014-12-01 00:00:00,32.0,UnivClass_Sam,weather6.csv,Education,5733.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2365201,2014-12-01 01:00:00,32.0,UnivClass_Sam,weather6.csv,Education,5733.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2365202,2014-12-01 02:00:00,34.0,UnivClass_Sam,weather6.csv,Education,5733.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2365203,2014-12-01 03:00:00,32.0,UnivClass_Sam,weather6.csv,Education,5733.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2365204,2014-12-01 04:00:00,33.0,UnivClass_Sam,weather6.csv,Education,5733.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2373960,2014-12-01 00:00:00,34.0,UnivClass_Seb,weather6.csv,Education,6041.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2373961,2014-12-01 01:00:00,34.0,UnivClass_Seb,weather6.csv,Education,6041.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2373962,2014-12-01 02:00:00,38.0,UnivClass_Seb,weather6.csv,Education,6041.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2373963,2014-12-01 03:00:00,35.0,UnivClass_Seb,weather6.csv,Education,6041.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2373964,2014-12-01 04:00:00,36.0,UnivClass_Seb,weather6.csv,Education,6041.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2382720,2014-12-01 00:00:00,28.0,UnivClass_Serenity,weather6.csv,Education,2891.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2382721,2014-12-01 01:00:00,28.0,UnivClass_Serenity,weather6.csv,Education,2891.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2382722,2014-12-01 02:00:00,28.0,UnivClass_Serenity,weather6.csv,Education,2891.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2382723,2014-12-01 03:00:00,28.0,UnivClass_Serenity,weather6.csv,Education,2891.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2382724,2014-12-01 04:00:00,28.0,UnivClass_Serenity,weather6.csv,Education,2891.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2391480,2014-12-01 00:00:00,6.0,UnivClass_Shawna,weather6.csv,Education,1460.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2391481,2014-12-01 01:00:00,6.0,UnivClass_Shawna,weather6.csv,Education,1460.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2391482,2014-12-01 02:00:00,6.0,UnivClass_Shawna,weather6.csv,Education,1460.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2391483,2014-12-01 03:00:00,6.0,UnivClass_Shawna,weather6.csv,Education,1460.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2391484,2014-12-01 04:00:00,6.0,UnivClass_Shawna,weather6.csv,Education,1460.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2400240,2014-12-01 00:00:00,34.0,UnivClass_Sheila,weather6.csv,Education,5690.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2400241,2014-12-01 01:00:00,32.0,UnivClass_Sheila,weather6.csv,Education,5690.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2400242,2014-12-01 02:00:00,33.0,UnivClass_Sheila,weather6.csv,Education,5690.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2400243,2014-12-01 03:00:00,30.0,UnivClass_Sheila,weather6.csv,Education,5690.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2400244,2014-12-01 04:00:00,33.0,UnivClass_Sheila,weather6.csv,Education,5690.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2409000,2014-12-01 00:00:00,114.0,UnivClass_Stephanie,weather6.csv,Education,6031.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2409001,2014-12-01 01:00:00,108.0,UnivClass_Stephanie,weather6.csv,Education,6031.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2409002,2014-12-01 02:00:00,108.0,UnivClass_Stephanie,weather6.csv,Education,6031.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2409003,2014-12-01 03:00:00,107.0,UnivClass_Stephanie,weather6.csv,Education,6031.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2409004,2014-12-01 04:00:00,107.0,UnivClass_Stephanie,weather6.csv,Education,6031.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2417760,2014-12-01 00:00:00,22.0,UnivClass_Stuart,weather6.csv,Education,4209.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2417761,2014-12-01 01:00:00,23.0,UnivClass_Stuart,weather6.csv,Education,4209.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2417762,2014-12-01 02:00:00,24.0,UnivClass_Stuart,weather6.csv,Education,4209.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2417763,2014-12-01 03:00:00,23.0,UnivClass_Stuart,weather6.csv,Education,4209.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2417764,2014-12-01 04:00:00,23.0,UnivClass_Stuart,weather6.csv,Education,4209.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2426520,2014-12-01 00:00:00,42.0,UnivClass_Sylvia,weather6.csv,Education,4600.0,UnivClass,2014,12,0,...,0,0,0,0,1,0,0,0,1,0
2426521,2014-12-01 01:00:00,42.0,UnivClass_Sylvia,weather6.csv,Education,4600.0,UnivClass,2014,12,1,...,0,0,0,0,1,0,0,0,1,0
2426522,2014-12-01 02:00:00,44.0,UnivClass_Sylvia,weather6.csv,Education,4600.0,UnivClass,2014,12,2,...,0,0,0,0,1,0,0,0,1,0
2426523,2014-12-01 03:00:00,41.0,UnivClass_Sylvia,weather6.csv,Education,4600.0,UnivClass,2014,12,3,...,0,0,0,0,1,0,0,0,1,0
2426524,2014-12-01 04:00:00,42.0,UnivClass_Sylvia,weather6.csv,Education,4600.0,UnivClass,2014,12,4,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2435280,2012-12-31 23:00:00,42.5000,UnivClass_Teri,weather8.csv,Education,12796.9,UnivClass,2012,12,23,...,0,0,0,0,1,0,0,0,1,0
2435281,2013-01-01 00:00:00,43.0625,UnivClass_Teri,weather8.csv,Education,12796.9,UnivClass,2013,1,0,...,0,0,0,0,1,0,0,0,1,0
2435282,2013-01-01 01:00:00,42.2500,UnivClass_Teri,weather8.csv,Education,12796.9,UnivClass,2013,1,1,...,0,0,0,0,1,0,0,0,1,0
2435283,2013-01-01 02:00:00,42.4375,UnivClass_Teri,weather8.csv,Education,12796.9,UnivClass,2013,1,2,...,0,0,0,0,1,0,0,0,1,0
2435284,2013-01-01 03:00:00,42.3750,UnivClass_Teri,weather8.csv,Education,12796.9,UnivClass,2013,1,3,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2444040,2012-12-31 23:00:00,0.47675,UnivClass_Therese,weather8.csv,Education,475.6,UnivClass,2012,12,23,...,0,0,0,0,1,0,0,0,1,0
2444041,2013-01-01 00:00:00,0.46875,UnivClass_Therese,weather8.csv,Education,475.6,UnivClass,2013,1,0,...,0,0,0,0,1,0,0,0,1,0
2444042,2013-01-01 01:00:00,0.47050,UnivClass_Therese,weather8.csv,Education,475.6,UnivClass,2013,1,1,...,0,0,0,0,1,0,0,0,1,0
2444043,2013-01-01 02:00:00,0.46500,UnivClass_Therese,weather8.csv,Education,475.6,UnivClass,2013,1,2,...,0,0,0,0,1,0,0,0,1,0
2444044,2013-01-01 03:00:00,0.47075,UnivClass_Therese,weather8.csv,Education,475.6,UnivClass,2013,1,3,...,0,0,0,0,1,0,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2452800,2015-01-01 07:00:00,75.18,UnivDorm_Adan,weather0.csv,Education,20115.91498,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2452801,2015-01-01 08:00:00,74.90,UnivDorm_Adan,weather0.csv,Education,20115.91498,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2452802,2015-01-01 09:00:00,76.89,UnivDorm_Adan,weather0.csv,Education,20115.91498,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2452803,2015-01-01 10:00:00,76.64,UnivDorm_Adan,weather0.csv,Education,20115.91498,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2452804,2015-01-01 11:00:00,75.66,UnivDorm_Adan,weather0.csv,Education,20115.91498,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2461560,2015-01-01 07:00:00,240.72,UnivDorm_Adriana,weather0.csv,Education,5885.219244,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2461561,2015-01-01 08:00:00,242.08,UnivDorm_Adriana,weather0.csv,Education,5885.219244,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2461562,2015-01-01 09:00:00,245.46,UnivDorm_Adriana,weather0.csv,Education,5885.219244,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2461563,2015-01-01 10:00:00,242.25,UnivDorm_Adriana,weather0.csv,Education,5885.219244,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2461564,2015-01-01 11:00:00,240.50,UnivDorm_Adriana,weather0.csv,Education,5885.219244,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2470320,2015-01-01 07:00:00,109.23,UnivDorm_Alex,weather0.csv,Education,9888.59532,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2470321,2015-01-01 08:00:00,109.01,UnivDorm_Alex,weather0.csv,Education,9888.59532,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2470322,2015-01-01 09:00:00,108.81,UnivDorm_Alex,weather0.csv,Education,9888.59532,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2470323,2015-01-01 10:00:00,109.07,UnivDorm_Alex,weather0.csv,Education,9888.59532,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2470324,2015-01-01 11:00:00,108.65,UnivDorm_Alex,weather0.csv,Education,9888.59532,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2479080,2015-01-01 07:00:00,83.14,UnivDorm_Alka,weather0.csv,Education,19707.32758,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2479081,2015-01-01 08:00:00,22.87,UnivDorm_Alka,weather0.csv,Education,19707.32758,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2479082,2015-01-01 09:00:00,72.83,UnivDorm_Alka,weather0.csv,Education,19707.32758,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2479083,2015-01-01 10:00:00,113.85,UnivDorm_Alka,weather0.csv,Education,19707.32758,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2479084,2015-01-01 11:00:00,120.16,UnivDorm_Alka,weather0.csv,Education,19707.32758,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2487840,2015-01-01 07:00:00,23.73,UnivDorm_Alonzo,weather0.csv,Education,3382.226618,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2487841,2015-01-01 08:00:00,23.78,UnivDorm_Alonzo,weather0.csv,Education,3382.226618,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2487842,2015-01-01 09:00:00,23.66,UnivDorm_Alonzo,weather0.csv,Education,3382.226618,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2487843,2015-01-01 10:00:00,23.67,UnivDorm_Alonzo,weather0.csv,Education,3382.226618,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2487844,2015-01-01 11:00:00,23.59,UnivDorm_Alonzo,weather0.csv,Education,3382.226618,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2496600,2015-01-01 07:00:00,63.72,UnivDorm_Alphonso,weather0.csv,Education,5582.169658,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2496601,2015-01-01 08:00:00,62.56,UnivDorm_Alphonso,weather0.csv,Education,5582.169658,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2496602,2015-01-01 09:00:00,61.64,UnivDorm_Alphonso,weather0.csv,Education,5582.169658,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2496603,2015-01-01 10:00:00,63.02,UnivDorm_Alphonso,weather0.csv,Education,5582.169658,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2496604,2015-01-01 11:00:00,60.44,UnivDorm_Alphonso,weather0.csv,Education,5582.169658,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2505360,2015-01-01 07:00:00,153.88,UnivDorm_Alyshialynn,weather0.csv,Education,6938.181846,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2505361,2015-01-01 08:00:00,155.91,UnivDorm_Alyshialynn,weather0.csv,Education,6938.181846,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2505362,2015-01-01 09:00:00,155.18,UnivDorm_Alyshialynn,weather0.csv,Education,6938.181846,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2505363,2015-01-01 10:00:00,157.21,UnivDorm_Alyshialynn,weather0.csv,Education,6938.181846,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2505364,2015-01-01 11:00:00,156.46,UnivDorm_Alyshialynn,weather0.csv,Education,6938.181846,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2514120,2015-01-01 07:00:00,92.33,UnivDorm_Alyssa,weather0.csv,Education,10340.47551,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2514121,2015-01-01 08:00:00,93.29,UnivDorm_Alyssa,weather0.csv,Education,10340.47551,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2514122,2015-01-01 09:00:00,94.08,UnivDorm_Alyssa,weather0.csv,Education,10340.47551,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2514123,2015-01-01 10:00:00,95.28,UnivDorm_Alyssa,weather0.csv,Education,10340.47551,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2514124,2015-01-01 11:00:00,99.04,UnivDorm_Alyssa,weather0.csv,Education,10340.47551,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2522880,2015-01-01 07:00:00,275.62,UnivDorm_April,weather0.csv,Education,51394.86863,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2522881,2015-01-01 08:00:00,275.58,UnivDorm_April,weather0.csv,Education,51394.86863,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2522882,2015-01-01 09:00:00,273.27,UnivDorm_April,weather0.csv,Education,51394.86863,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2522883,2015-01-01 10:00:00,273.45,UnivDorm_April,weather0.csv,Education,51394.86863,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2522884,2015-01-01 11:00:00,268.67,UnivDorm_April,weather0.csv,Education,51394.86863,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2531640,2015-01-01 07:00:00,27.39,UnivDorm_Ashleigh,weather0.csv,Education,3051.027423,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2531641,2015-01-01 08:00:00,27.11,UnivDorm_Ashleigh,weather0.csv,Education,3051.027423,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2531642,2015-01-01 09:00:00,27.21,UnivDorm_Ashleigh,weather0.csv,Education,3051.027423,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2531643,2015-01-01 10:00:00,27.16,UnivDorm_Ashleigh,weather0.csv,Education,3051.027423,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2531644,2015-01-01 11:00:00,27.07,UnivDorm_Ashleigh,weather0.csv,Education,3051.027423,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2540400,2015-01-01 07:00:00,74.03,UnivDorm_Avery,weather0.csv,Education,8019.665669,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2540401,2015-01-01 08:00:00,74.26,UnivDorm_Avery,weather0.csv,Education,8019.665669,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2540402,2015-01-01 09:00:00,73.86,UnivDorm_Avery,weather0.csv,Education,8019.665669,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0
2540403,2015-01-01 10:00:00,72.78,UnivDorm_Avery,weather0.csv,Education,8019.665669,UnivDorm,2015,1,10,...,0,0,0,0,0,1,0,0,1,0
2540404,2015-01-01 11:00:00,73.33,UnivDorm_Avery,weather0.csv,Education,8019.665669,UnivDorm,2015,1,11,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2549160,2015-01-01 05:00:00,222.625000,UnivDorm_Camila,weather2.csv,Education,12046.17459,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2549161,2015-01-01 06:00:00,225.199997,UnivDorm_Camila,weather2.csv,Education,12046.17459,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2549162,2015-01-01 07:00:00,223.750000,UnivDorm_Camila,weather2.csv,Education,12046.17459,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2549163,2015-01-01 08:00:00,228.149994,UnivDorm_Camila,weather2.csv,Education,12046.17459,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2549164,2015-01-01 09:00:00,214.600006,UnivDorm_Camila,weather2.csv,Education,12046.17459,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2557920,2015-01-01 05:00:00,106.425003,UnivDorm_Cara,weather2.csv,Education,15727.54887,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2557921,2015-01-01 06:00:00,101.550003,UnivDorm_Cara,weather2.csv,Education,15727.54887,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2557922,2015-01-01 07:00:00,102.525002,UnivDorm_Cara,weather2.csv,Education,15727.54887,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2557923,2015-01-01 08:00:00,107.500000,UnivDorm_Cara,weather2.csv,Education,15727.54887,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2557924,2015-01-01 09:00:00,108.574997,UnivDorm_Cara,weather2.csv,Education,15727.54887,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2566680,2015-01-01 05:00:00,57.424999,UnivDorm_Carey,weather2.csv,Education,3758.019253,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2566681,2015-01-01 06:00:00,56.375000,UnivDorm_Carey,weather2.csv,Education,3758.019253,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2566682,2015-01-01 07:00:00,57.950001,UnivDorm_Carey,weather2.csv,Education,3758.019253,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2566683,2015-01-01 08:00:00,57.500000,UnivDorm_Carey,weather2.csv,Education,3758.019253,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2566684,2015-01-01 09:00:00,55.325001,UnivDorm_Carey,weather2.csv,Education,3758.019253,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2575440,2015-01-01 05:00:00,3.450,UnivDorm_Carla,weather2.csv,Education,3774.555987,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2575441,2015-01-01 06:00:00,3.250,UnivDorm_Carla,weather2.csv,Education,3774.555987,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2575442,2015-01-01 07:00:00,3.625,UnivDorm_Carla,weather2.csv,Education,3774.555987,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2575443,2015-01-01 08:00:00,2.925,UnivDorm_Carla,weather2.csv,Education,3774.555987,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2575444,2015-01-01 09:00:00,3.450,UnivDorm_Carla,weather2.csv,Education,3774.555987,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2584200,2015-01-01 05:00:00,74.650002,UnivDorm_Carter,weather2.csv,Education,6100.289689,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2584201,2015-01-01 06:00:00,74.425003,UnivDorm_Carter,weather2.csv,Education,6100.289689,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2584202,2015-01-01 07:00:00,74.275002,UnivDorm_Carter,weather2.csv,Education,6100.289689,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2584203,2015-01-01 08:00:00,74.250000,UnivDorm_Carter,weather2.csv,Education,6100.289689,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2584204,2015-01-01 09:00:00,74.125000,UnivDorm_Carter,weather2.csv,Education,6100.289689,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2592960,2015-01-01 05:00:00,12.424999,UnivDorm_Casey,weather2.csv,Education,2239.241009,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2592961,2015-01-01 06:00:00,12.200000,UnivDorm_Casey,weather2.csv,Education,2239.241009,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2592962,2015-01-01 07:00:00,11.975000,UnivDorm_Casey,weather2.csv,Education,2239.241009,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2592963,2015-01-01 08:00:00,12.625000,UnivDorm_Casey,weather2.csv,Education,2239.241009,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2592964,2015-01-01 09:00:00,14.750000,UnivDorm_Casey,weather2.csv,Education,2239.241009,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2601720,2015-01-01 05:00:00,34.000000,UnivDorm_Cathal,weather2.csv,Education,7287.125514,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2601721,2015-01-01 06:00:00,33.799999,UnivDorm_Cathal,weather2.csv,Education,7287.125514,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2601722,2015-01-01 07:00:00,34.349998,UnivDorm_Cathal,weather2.csv,Education,7287.125514,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2601723,2015-01-01 08:00:00,40.325001,UnivDorm_Cathal,weather2.csv,Education,7287.125514,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2601724,2015-01-01 09:00:00,39.750000,UnivDorm_Cathal,weather2.csv,Education,7287.125514,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2610480,2015-01-01 05:00:00,141.074997,UnivDorm_Cathalina,weather2.csv,Education,13275.9316,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2610481,2015-01-01 06:00:00,142.025009,UnivDorm_Cathalina,weather2.csv,Education,13275.9316,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2610482,2015-01-01 07:00:00,142.399994,UnivDorm_Cathalina,weather2.csv,Education,13275.9316,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2610483,2015-01-01 08:00:00,141.975006,UnivDorm_Cathalina,weather2.csv,Education,13275.9316,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2610484,2015-01-01 09:00:00,142.000000,UnivDorm_Cathalina,weather2.csv,Education,13275.9316,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2619240,2015-01-01 05:00:00,151.024994,UnivDorm_Cecilia,weather2.csv,Education,2766.186825,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2619241,2015-01-01 06:00:00,152.699997,UnivDorm_Cecilia,weather2.csv,Education,2766.186825,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2619242,2015-01-01 07:00:00,146.975006,UnivDorm_Cecilia,weather2.csv,Education,2766.186825,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2619243,2015-01-01 08:00:00,150.199997,UnivDorm_Cecilia,weather2.csv,Education,2766.186825,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2619244,2015-01-01 09:00:00,147.524994,UnivDorm_Cecilia,weather2.csv,Education,2766.186825,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2628000,2015-01-01 05:00:00,59.099998,UnivDorm_Celeste,weather2.csv,Education,15497.52104,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2628001,2015-01-01 06:00:00,60.724998,UnivDorm_Celeste,weather2.csv,Education,15497.52104,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2628002,2015-01-01 07:00:00,60.099998,UnivDorm_Celeste,weather2.csv,Education,15497.52104,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2628003,2015-01-01 08:00:00,59.125000,UnivDorm_Celeste,weather2.csv,Education,15497.52104,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2628004,2015-01-01 09:00:00,58.375000,UnivDorm_Celeste,weather2.csv,Education,15497.52104,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2636760,2015-01-01 05:00:00,8.750,UnivDorm_Chelsey,weather2.csv,Education,3761.828276,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2636761,2015-01-01 06:00:00,8.900,UnivDorm_Chelsey,weather2.csv,Education,3761.828276,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2636762,2015-01-01 07:00:00,9.075,UnivDorm_Chelsey,weather2.csv,Education,3761.828276,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2636763,2015-01-01 08:00:00,9.075,UnivDorm_Chelsey,weather2.csv,Education,3761.828276,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2636764,2015-01-01 09:00:00,8.850,UnivDorm_Chelsey,weather2.csv,Education,3761.828276,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2645520,2015-01-01 05:00:00,37.775002,UnivDorm_Cheri,weather2.csv,Education,15681.19027,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2645521,2015-01-01 06:00:00,41.250000,UnivDorm_Cheri,weather2.csv,Education,15681.19027,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2645522,2015-01-01 07:00:00,39.099998,UnivDorm_Cheri,weather2.csv,Education,15681.19027,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2645523,2015-01-01 08:00:00,39.875000,UnivDorm_Cheri,weather2.csv,Education,15681.19027,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2645524,2015-01-01 09:00:00,39.099998,UnivDorm_Cheri,weather2.csv,Education,15681.19027,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2654280,2015-01-01 05:00:00,43.724998,UnivDorm_Chester,weather2.csv,Education,6131.505097,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2654281,2015-01-01 06:00:00,43.000000,UnivDorm_Chester,weather2.csv,Education,6131.505097,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2654282,2015-01-01 07:00:00,42.500000,UnivDorm_Chester,weather2.csv,Education,6131.505097,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2654283,2015-01-01 08:00:00,41.724998,UnivDorm_Chester,weather2.csv,Education,6131.505097,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2654284,2015-01-01 09:00:00,42.125000,UnivDorm_Chester,weather2.csv,Education,6131.505097,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2663040,2015-01-01 05:00:00,22.725000,UnivDorm_Cheyenne,weather2.csv,Education,5707.867417,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2663041,2015-01-01 06:00:00,23.049999,UnivDorm_Cheyenne,weather2.csv,Education,5707.867417,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2663042,2015-01-01 07:00:00,22.850000,UnivDorm_Cheyenne,weather2.csv,Education,5707.867417,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2663043,2015-01-01 08:00:00,25.750000,UnivDorm_Cheyenne,weather2.csv,Education,5707.867417,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2663044,2015-01-01 09:00:00,23.549999,UnivDorm_Cheyenne,weather2.csv,Education,5707.867417,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2671800,2015-01-01 05:00:00,1.100,UnivDorm_Christi,weather2.csv,Education,3830.948108,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2671801,2015-01-01 06:00:00,1.100,UnivDorm_Christi,weather2.csv,Education,3830.948108,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2671802,2015-01-01 07:00:00,1.075,UnivDorm_Christi,weather2.csv,Education,3830.948108,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2671803,2015-01-01 08:00:00,1.525,UnivDorm_Christi,weather2.csv,Education,3830.948108,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2671804,2015-01-01 09:00:00,1.225,UnivDorm_Christi,weather2.csv,Education,3830.948108,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2680560,2015-01-01 05:00:00,1.050,UnivDorm_Christopher,weather2.csv,Education,3837.079706,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2680561,2015-01-01 06:00:00,1.100,UnivDorm_Christopher,weather2.csv,Education,3837.079706,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2680562,2015-01-01 07:00:00,1.025,UnivDorm_Christopher,weather2.csv,Education,3837.079706,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2680563,2015-01-01 08:00:00,0.975,UnivDorm_Christopher,weather2.csv,Education,3837.079706,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2680564,2015-01-01 09:00:00,1.000,UnivDorm_Christopher,weather2.csv,Education,3837.079706,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2689320,2015-01-01 05:00:00,62.299999,UnivDorm_Ciaran,weather2.csv,Education,12683.30337,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2689321,2015-01-01 06:00:00,61.200001,UnivDorm_Ciaran,weather2.csv,Education,12683.30337,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2689322,2015-01-01 07:00:00,62.799999,UnivDorm_Ciaran,weather2.csv,Education,12683.30337,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2689323,2015-01-01 08:00:00,61.875000,UnivDorm_Ciaran,weather2.csv,Education,12683.30337,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2689324,2015-01-01 09:00:00,63.150002,UnivDorm_Ciaran,weather2.csv,Education,12683.30337,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2698080,2015-01-01 05:00:00,14.275,UnivDorm_Claudia,weather2.csv,Education,8949.903408,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2698081,2015-01-01 06:00:00,13.625,UnivDorm_Claudia,weather2.csv,Education,8949.903408,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2698082,2015-01-01 07:00:00,13.650,UnivDorm_Claudia,weather2.csv,Education,8949.903408,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2698083,2015-01-01 08:00:00,14.125,UnivDorm_Claudia,weather2.csv,Education,8949.903408,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2698084,2015-01-01 09:00:00,13.750,UnivDorm_Claudia,weather2.csv,Education,8949.903408,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2706840,2015-01-01 05:00:00,35.900002,UnivDorm_Clayton,weather2.csv,Education,9162.465472,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2706841,2015-01-01 06:00:00,35.775002,UnivDorm_Clayton,weather2.csv,Education,9162.465472,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2706842,2015-01-01 07:00:00,37.250000,UnivDorm_Clayton,weather2.csv,Education,9162.465472,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2706843,2015-01-01 08:00:00,35.625000,UnivDorm_Clayton,weather2.csv,Education,9162.465472,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2706844,2015-01-01 09:00:00,36.450001,UnivDorm_Clayton,weather2.csv,Education,9162.465472,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2715600,2015-01-01 05:00:00,10.875000,UnivDorm_Colton,weather2.csv,Education,1846.540028,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2715601,2015-01-01 06:00:00,12.025000,UnivDorm_Colton,weather2.csv,Education,1846.540028,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2715602,2015-01-01 07:00:00,11.025000,UnivDorm_Colton,weather2.csv,Education,1846.540028,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2715603,2015-01-01 08:00:00,11.099999,UnivDorm_Colton,weather2.csv,Education,1846.540028,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2715604,2015-01-01 09:00:00,11.200000,UnivDorm_Colton,weather2.csv,Education,1846.540028,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2724360,2015-01-01 05:00:00,33.474998,UnivDorm_Constance,weather2.csv,Education,1966.570704,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2724361,2015-01-01 06:00:00,30.225000,UnivDorm_Constance,weather2.csv,Education,1966.570704,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2724362,2015-01-01 07:00:00,31.150000,UnivDorm_Constance,weather2.csv,Education,1966.570704,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2724363,2015-01-01 08:00:00,30.750000,UnivDorm_Constance,weather2.csv,Education,1966.570704,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2724364,2015-01-01 09:00:00,29.000000,UnivDorm_Constance,weather2.csv,Education,1966.570704,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2733120,2015-01-01 05:00:00,36.599998,UnivDorm_Corey,weather2.csv,Education,4541.191543,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2733121,2015-01-01 06:00:00,33.849998,UnivDorm_Corey,weather2.csv,Education,4541.191543,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2733122,2015-01-01 07:00:00,35.424999,UnivDorm_Corey,weather2.csv,Education,4541.191543,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2733123,2015-01-01 08:00:00,32.799999,UnivDorm_Corey,weather2.csv,Education,4541.191543,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2733124,2015-01-01 09:00:00,33.875000,UnivDorm_Corey,weather2.csv,Education,4541.191543,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2741880,2015-01-01 05:00:00,47.549999,UnivDorm_Cornelius,weather2.csv,Education,7724.048323,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2741881,2015-01-01 06:00:00,43.724998,UnivDorm_Cornelius,weather2.csv,Education,7724.048323,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2741882,2015-01-01 07:00:00,45.450001,UnivDorm_Cornelius,weather2.csv,Education,7724.048323,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2741883,2015-01-01 08:00:00,48.349998,UnivDorm_Cornelius,weather2.csv,Education,7724.048323,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2741884,2015-01-01 09:00:00,46.674999,UnivDorm_Cornelius,weather2.csv,Education,7724.048323,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2750640,2015-01-01 05:00:00,27.150000,UnivDorm_Curtis,weather2.csv,Education,3673.198814,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2750641,2015-01-01 06:00:00,25.424999,UnivDorm_Curtis,weather2.csv,Education,3673.198814,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2750642,2015-01-01 07:00:00,25.075001,UnivDorm_Curtis,weather2.csv,Education,3673.198814,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2750643,2015-01-01 08:00:00,26.924999,UnivDorm_Curtis,weather2.csv,Education,3673.198814,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2750644,2015-01-01 09:00:00,26.125000,UnivDorm_Curtis,weather2.csv,Education,3673.198814,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2759400,2014-12-01 00:00:00,84.3,UnivDorm_Lawrence,weather5.csv,Education,6013.0,UnivDorm,2014,12,0,...,0,0,0,0,0,1,0,0,1,0
2759401,2014-12-01 01:00:00,69.2,UnivDorm_Lawrence,weather5.csv,Education,6013.0,UnivDorm,2014,12,1,...,0,0,0,0,0,1,0,0,1,0
2759402,2014-12-01 02:00:00,59.6,UnivDorm_Lawrence,weather5.csv,Education,6013.0,UnivDorm,2014,12,2,...,0,0,0,0,0,1,0,0,1,0
2759403,2014-12-01 03:00:00,51.4,UnivDorm_Lawrence,weather5.csv,Education,6013.0,UnivDorm,2014,12,3,...,0,0,0,0,0,1,0,0,1,0
2759404,2014-12-01 04:00:00,45.4,UnivDorm_Lawrence,weather5.csv,Education,6013.0,UnivDorm,2014,12,4,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2768160,2014-12-01 00:00:00,64.2,UnivDorm_Leonard,weather5.csv,Education,7721.0,UnivDorm,2014,12,0,...,0,0,0,0,0,1,0,0,1,0
2768161,2014-12-01 01:00:00,52.6,UnivDorm_Leonard,weather5.csv,Education,7721.0,UnivDorm,2014,12,1,...,0,0,0,0,0,1,0,0,1,0
2768162,2014-12-01 02:00:00,46.2,UnivDorm_Leonard,weather5.csv,Education,7721.0,UnivDorm,2014,12,2,...,0,0,0,0,0,1,0,0,1,0
2768163,2014-12-01 03:00:00,40.0,UnivDorm_Leonard,weather5.csv,Education,7721.0,UnivDorm,2014,12,3,...,0,0,0,0,0,1,0,0,1,0
2768164,2014-12-01 04:00:00,37.2,UnivDorm_Leonard,weather5.csv,Education,7721.0,UnivDorm,2014,12,4,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2776920,2014-12-01 00:00:00,69.0,UnivDorm_Leslie,weather5.csv,Education,6181.0,UnivDorm,2014,12,0,...,0,0,0,0,0,1,0,0,1,0
2776921,2014-12-01 01:00:00,69.9,UnivDorm_Leslie,weather5.csv,Education,6181.0,UnivDorm,2014,12,1,...,0,0,0,0,0,1,0,0,1,0
2776922,2014-12-01 02:00:00,59.4,UnivDorm_Leslie,weather5.csv,Education,6181.0,UnivDorm,2014,12,2,...,0,0,0,0,0,1,0,0,1,0
2776923,2014-12-01 03:00:00,53.0,UnivDorm_Leslie,weather5.csv,Education,6181.0,UnivDorm,2014,12,3,...,0,0,0,0,0,1,0,0,1,0
2776924,2014-12-01 04:00:00,51.1,UnivDorm_Leslie,weather5.csv,Education,6181.0,UnivDorm,2014,12,4,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2785680,2014-12-01 00:00:00,32.799476,UnivDorm_Lorraine,weather5.csv,Education,5843.0,UnivDorm,2014,12,0,...,0,0,0,0,0,1,0,0,1,0
2785681,2014-12-01 01:00:00,26.899476,UnivDorm_Lorraine,weather5.csv,Education,5843.0,UnivDorm,2014,12,1,...,0,0,0,0,0,1,0,0,1,0
2785682,2014-12-01 02:00:00,23.099476,UnivDorm_Lorraine,weather5.csv,Education,5843.0,UnivDorm,2014,12,2,...,0,0,0,0,0,1,0,0,1,0
2785683,2014-12-01 03:00:00,20.699476,UnivDorm_Lorraine,weather5.csv,Education,5843.0,UnivDorm,2014,12,3,...,0,0,0,0,0,1,0,0,1,0
2785684,2014-12-01 04:00:00,18.399476,UnivDorm_Lorraine,weather5.csv,Education,5843.0,UnivDorm,2014,12,4,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2794440,2014-05-01 05:00:00,103.75,UnivDorm_Malachi,weather3.csv,Education,10874.66776,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2794441,2014-05-01 06:00:00,98.00,UnivDorm_Malachi,weather3.csv,Education,10874.66776,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2794442,2014-05-01 07:00:00,99.75,UnivDorm_Malachi,weather3.csv,Education,10874.66776,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2794443,2014-05-01 08:00:00,95.50,UnivDorm_Malachi,weather3.csv,Education,10874.66776,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2794444,2014-05-01 09:00:00,88.75,UnivDorm_Malachi,weather3.csv,Education,10874.66776,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2803200,2014-05-01 05:00:00,176.25,UnivDorm_Malcolm,weather3.csv,Education,16250.96437,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2803201,2014-05-01 06:00:00,165.00,UnivDorm_Malcolm,weather3.csv,Education,16250.96437,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2803202,2014-05-01 07:00:00,162.25,UnivDorm_Malcolm,weather3.csv,Education,16250.96437,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2803203,2014-05-01 08:00:00,146.25,UnivDorm_Malcolm,weather3.csv,Education,16250.96437,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2803204,2014-05-01 09:00:00,143.50,UnivDorm_Malcolm,weather3.csv,Education,16250.96437,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2811960,2014-05-01 05:00:00,106.50,UnivDorm_Marlene,weather3.csv,Education,21437.08854,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2811961,2014-05-01 06:00:00,101.50,UnivDorm_Marlene,weather3.csv,Education,21437.08854,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2811962,2014-05-01 07:00:00,101.75,UnivDorm_Marlene,weather3.csv,Education,21437.08854,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2811963,2014-05-01 08:00:00,88.75,UnivDorm_Marlene,weather3.csv,Education,21437.08854,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2811964,2014-05-01 09:00:00,90.75,UnivDorm_Marlene,weather3.csv,Education,21437.08854,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2820720,2014-05-01 05:00:00,240.50,UnivDorm_Marquis,weather3.csv,Education,21678.07892,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2820721,2014-05-01 06:00:00,207.25,UnivDorm_Marquis,weather3.csv,Education,21678.07892,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2820722,2014-05-01 07:00:00,200.50,UnivDorm_Marquis,weather3.csv,Education,21678.07892,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2820723,2014-05-01 08:00:00,192.00,UnivDorm_Marquis,weather3.csv,Education,21678.07892,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2820724,2014-05-01 09:00:00,184.75,UnivDorm_Marquis,weather3.csv,Education,21678.07892,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2829480,2014-05-01 05:00:00,137.75,UnivDorm_Mauricio,weather3.csv,Education,14241.937,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2829481,2014-05-01 06:00:00,124.25,UnivDorm_Mauricio,weather3.csv,Education,14241.937,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2829482,2014-05-01 07:00:00,116.25,UnivDorm_Mauricio,weather3.csv,Education,14241.937,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2829483,2014-05-01 08:00:00,109.00,UnivDorm_Mauricio,weather3.csv,Education,14241.937,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2829484,2014-05-01 09:00:00,107.25,UnivDorm_Mauricio,weather3.csv,Education,14241.937,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2838240,2014-05-01 05:00:00,148.75,UnivDorm_Mckenzie,weather3.csv,Education,14592.27421,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2838241,2014-05-01 06:00:00,147.00,UnivDorm_Mckenzie,weather3.csv,Education,14592.27421,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2838242,2014-05-01 07:00:00,132.75,UnivDorm_Mckenzie,weather3.csv,Education,14592.27421,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2838243,2014-05-01 08:00:00,127.50,UnivDorm_Mckenzie,weather3.csv,Education,14592.27421,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2838244,2014-05-01 09:00:00,122.75,UnivDorm_Mckenzie,weather3.csv,Education,14592.27421,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2847000,2014-05-01 05:00:00,56.50,UnivDorm_Mitch,weather3.csv,Education,6929.077352,UnivDorm,2014,5,5,...,0,0,0,0,0,1,0,0,1,0
2847001,2014-05-01 06:00:00,46.00,UnivDorm_Mitch,weather3.csv,Education,6929.077352,UnivDorm,2014,5,6,...,0,0,0,0,0,1,0,0,1,0
2847002,2014-05-01 07:00:00,43.75,UnivDorm_Mitch,weather3.csv,Education,6929.077352,UnivDorm,2014,5,7,...,0,0,0,0,0,1,0,0,1,0
2847003,2014-05-01 08:00:00,41.50,UnivDorm_Mitch,weather3.csv,Education,6929.077352,UnivDorm,2014,5,8,...,0,0,0,0,0,1,0,0,1,0
2847004,2014-05-01 09:00:00,40.25,UnivDorm_Mitch,weather3.csv,Education,6929.077352,UnivDorm,2014,5,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2855760,2015-01-01 05:00:00,122.158333,UnivDorm_Paola,weather4.csv,Education,25900.89189,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2855761,2015-01-01 06:00:00,123.033333,UnivDorm_Paola,weather4.csv,Education,25900.89189,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2855762,2015-01-01 07:00:00,120.733333,UnivDorm_Paola,weather4.csv,Education,25900.89189,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2855763,2015-01-01 08:00:00,122.250000,UnivDorm_Paola,weather4.csv,Education,25900.89189,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2855764,2015-01-01 09:00:00,121.441667,UnivDorm_Paola,weather4.csv,Education,25900.89189,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2864520,2015-01-01 05:00:00,19.883333,UnivDorm_Patrice,weather4.csv,Education,4120.433856,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2864521,2015-01-01 06:00:00,19.900000,UnivDorm_Patrice,weather4.csv,Education,4120.433856,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2864522,2015-01-01 07:00:00,19.766667,UnivDorm_Patrice,weather4.csv,Education,4120.433856,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2864523,2015-01-01 08:00:00,19.650000,UnivDorm_Patrice,weather4.csv,Education,4120.433856,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2864524,2015-01-01 09:00:00,19.475000,UnivDorm_Patrice,weather4.csv,Education,4120.433856,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2873280,2015-01-01 05:00:00,17.983333,UnivDorm_Patti,weather4.csv,Education,4507.560657,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2873281,2015-01-01 06:00:00,16.625000,UnivDorm_Patti,weather4.csv,Education,4507.560657,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2873282,2015-01-01 07:00:00,14.883333,UnivDorm_Patti,weather4.csv,Education,4507.560657,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2873283,2015-01-01 08:00:00,14.925000,UnivDorm_Patti,weather4.csv,Education,4507.560657,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2873284,2015-01-01 09:00:00,13.991667,UnivDorm_Patti,weather4.csv,Education,4507.560657,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2882040,2015-01-01 05:00:00,56.341667,UnivDorm_Patty,weather4.csv,Education,8686.4305,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2882041,2015-01-01 06:00:00,57.566667,UnivDorm_Patty,weather4.csv,Education,8686.4305,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2882042,2015-01-01 07:00:00,59.000000,UnivDorm_Patty,weather4.csv,Education,8686.4305,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2882043,2015-01-01 08:00:00,56.233333,UnivDorm_Patty,weather4.csv,Education,8686.4305,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2882044,2015-01-01 09:00:00,54.783333,UnivDorm_Patty,weather4.csv,Education,8686.4305,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2890800,2015-01-01 05:00:00,54.750000,UnivDorm_Payton,weather4.csv,Education,8669.057639,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2890801,2015-01-01 06:00:00,20.291667,UnivDorm_Payton,weather4.csv,Education,8669.057639,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2890802,2015-01-01 07:00:00,35.816667,UnivDorm_Payton,weather4.csv,Education,8669.057639,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2890803,2015-01-01 08:00:00,19.925000,UnivDorm_Payton,weather4.csv,Education,8669.057639,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2890804,2015-01-01 09:00:00,23.858333,UnivDorm_Payton,weather4.csv,Education,8669.057639,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2899560,2015-01-01 05:00:00,32.316667,UnivDorm_Petar,weather4.csv,Education,3338.562208,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2899561,2015-01-01 06:00:00,32.725000,UnivDorm_Petar,weather4.csv,Education,3338.562208,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2899562,2015-01-01 07:00:00,32.941667,UnivDorm_Petar,weather4.csv,Education,3338.562208,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2899563,2015-01-01 08:00:00,32.441667,UnivDorm_Petar,weather4.csv,Education,3338.562208,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2899564,2015-01-01 09:00:00,32.050000,UnivDorm_Petar,weather4.csv,Education,3338.562208,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2908320,2015-01-01 05:00:00,115.083333,UnivDorm_Phoebe,weather4.csv,Education,11895.67173,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2908321,2015-01-01 06:00:00,114.716667,UnivDorm_Phoebe,weather4.csv,Education,11895.67173,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2908322,2015-01-01 07:00:00,115.491667,UnivDorm_Phoebe,weather4.csv,Education,11895.67173,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2908323,2015-01-01 08:00:00,110.858333,UnivDorm_Phoebe,weather4.csv,Education,11895.67173,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2908324,2015-01-01 09:00:00,109.858333,UnivDorm_Phoebe,weather4.csv,Education,11895.67173,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2917080,2015-01-01 05:00:00,57.225000,UnivDorm_Piper,weather4.csv,Education,7702.680633,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2917081,2015-01-01 06:00:00,56.325000,UnivDorm_Piper,weather4.csv,Education,7702.680633,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2917082,2015-01-01 07:00:00,41.825000,UnivDorm_Piper,weather4.csv,Education,7702.680633,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2917083,2015-01-01 08:00:00,56.616667,UnivDorm_Piper,weather4.csv,Education,7702.680633,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2917084,2015-01-01 09:00:00,57.100000,UnivDorm_Piper,weather4.csv,Education,7702.680633,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2925840,2015-01-01 05:00:00,68.665278,UnivDorm_Poppy,weather4.csv,Education,10498.039,UnivDorm,2015,1,5,...,0,0,0,0,0,1,0,0,1,0
2925841,2015-01-01 06:00:00,68.819445,UnivDorm_Poppy,weather4.csv,Education,10498.039,UnivDorm,2015,1,6,...,0,0,0,0,0,1,0,0,1,0
2925842,2015-01-01 07:00:00,67.868056,UnivDorm_Poppy,weather4.csv,Education,10498.039,UnivDorm,2015,1,7,...,0,0,0,0,0,1,0,0,1,0
2925843,2015-01-01 08:00:00,66.527779,UnivDorm_Poppy,weather4.csv,Education,10498.039,UnivDorm,2015,1,8,...,0,0,0,0,0,1,0,0,1,0
2925844,2015-01-01 09:00:00,66.240278,UnivDorm_Poppy,weather4.csv,Education,10498.039,UnivDorm,2015,1,9,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2934600,2012-02-01 16:00:00,26.0,UnivDorm_Una,weather10.csv,Education,12000.0,UnivDorm,2012,2,16,...,0,0,0,0,0,1,0,0,1,0
2934601,2012-02-01 17:00:00,28.0,UnivDorm_Una,weather10.csv,Education,12000.0,UnivDorm,2012,2,17,...,0,0,0,0,0,1,0,0,1,0
2934602,2012-02-01 18:00:00,15.0,UnivDorm_Una,weather10.csv,Education,12000.0,UnivDorm,2012,2,18,...,0,0,0,0,0,1,0,0,1,0
2934603,2012-02-01 19:00:00,20.0,UnivDorm_Una,weather10.csv,Education,12000.0,UnivDorm,2012,2,19,...,0,0,0,0,0,1,0,0,1,0
2934604,2012-02-01 20:00:00,19.0,UnivDorm_Una,weather10.csv,Education,12000.0,UnivDorm,2012,2,20,...,0,0,0,0,0,1,0,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2943360,2015-01-01 07:00:00,243.07,UnivLab_Aine,weather0.csv,Education,4497.527133,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2943361,2015-01-01 08:00:00,242.20,UnivLab_Aine,weather0.csv,Education,4497.527133,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2943362,2015-01-01 09:00:00,241.95,UnivLab_Aine,weather0.csv,Education,4497.527133,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2943363,2015-01-01 10:00:00,242.46,UnivLab_Aine,weather0.csv,Education,4497.527133,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2943364,2015-01-01 11:00:00,241.53,UnivLab_Aine,weather0.csv,Education,4497.527133,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2952120,2015-01-01 07:00:00,191.56,UnivLab_Alaina,weather0.csv,Education,12236.25413,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2952121,2015-01-01 08:00:00,190.91,UnivLab_Alaina,weather0.csv,Education,12236.25413,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2952122,2015-01-01 09:00:00,189.93,UnivLab_Alaina,weather0.csv,Education,12236.25413,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2952123,2015-01-01 10:00:00,190.73,UnivLab_Alaina,weather0.csv,Education,12236.25413,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2952124,2015-01-01 11:00:00,202.39,UnivLab_Alaina,weather0.csv,Education,12236.25413,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2960880,2015-01-01 07:00:00,250.33,UnivLab_Alberto,weather0.csv,Education,11389.16458,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2960881,2015-01-01 08:00:00,249.82,UnivLab_Alberto,weather0.csv,Education,11389.16458,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2960882,2015-01-01 09:00:00,250.59,UnivLab_Alberto,weather0.csv,Education,11389.16458,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2960883,2015-01-01 10:00:00,250.34,UnivLab_Alberto,weather0.csv,Education,11389.16458,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2960884,2015-01-01 11:00:00,249.48,UnivLab_Alberto,weather0.csv,Education,11389.16458,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2969640,2015-01-01 07:00:00,37.64,UnivLab_Alexis,weather0.csv,Education,4587.921752,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2969641,2015-01-01 08:00:00,36.79,UnivLab_Alexis,weather0.csv,Education,4587.921752,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2969642,2015-01-01 09:00:00,38.36,UnivLab_Alexis,weather0.csv,Education,4587.921752,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2969643,2015-01-01 10:00:00,40.57,UnivLab_Alexis,weather0.csv,Education,4587.921752,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2969644,2015-01-01 11:00:00,48.16,UnivLab_Alexis,weather0.csv,Education,4587.921752,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2978400,2015-01-01 07:00:00,168.25,UnivLab_Alfonso,weather0.csv,Education,5997.81768,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2978401,2015-01-01 08:00:00,165.68,UnivLab_Alfonso,weather0.csv,Education,5997.81768,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2978402,2015-01-01 09:00:00,168.89,UnivLab_Alfonso,weather0.csv,Education,5997.81768,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2978403,2015-01-01 10:00:00,167.40,UnivLab_Alfonso,weather0.csv,Education,5997.81768,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2978404,2015-01-01 11:00:00,167.99,UnivLab_Alfonso,weather0.csv,Education,5997.81768,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2987160,2015-01-01 07:00:00,103.98,UnivLab_Ali,weather0.csv,Education,6122.958021,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2987161,2015-01-01 08:00:00,107.62,UnivLab_Ali,weather0.csv,Education,6122.958021,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2987162,2015-01-01 09:00:00,108.28,UnivLab_Ali,weather0.csv,Education,6122.958021,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2987163,2015-01-01 10:00:00,108.99,UnivLab_Ali,weather0.csv,Education,6122.958021,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2987164,2015-01-01 11:00:00,112.30,UnivLab_Ali,weather0.csv,Education,6122.958021,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
2995920,2015-01-01 07:00:00,187.11,UnivLab_Alina,weather0.csv,Education,4613.748786,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
2995921,2015-01-01 08:00:00,184.52,UnivLab_Alina,weather0.csv,Education,4613.748786,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
2995922,2015-01-01 09:00:00,184.86,UnivLab_Alina,weather0.csv,Education,4613.748786,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
2995923,2015-01-01 10:00:00,183.72,UnivLab_Alina,weather0.csv,Education,4613.748786,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
2995924,2015-01-01 11:00:00,182.57,UnivLab_Alina,weather0.csv,Education,4613.748786,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3004680,2015-01-01 07:00:00,924.47,UnivLab_Alisa,weather0.csv,Education,17957.59248,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3004681,2015-01-01 08:00:00,916.78,UnivLab_Alisa,weather0.csv,Education,17957.59248,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3004682,2015-01-01 09:00:00,921.68,UnivLab_Alisa,weather0.csv,Education,17957.59248,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3004683,2015-01-01 10:00:00,927.16,UnivLab_Alisa,weather0.csv,Education,17957.59248,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3004684,2015-01-01 11:00:00,915.06,UnivLab_Alisa,weather0.csv,Education,17957.59248,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3013440,2015-01-01 07:00:00,555.00,UnivLab_Allan,weather0.csv,Education,20402.24202,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3013441,2015-01-01 08:00:00,550.85,UnivLab_Allan,weather0.csv,Education,20402.24202,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3013442,2015-01-01 09:00:00,552.54,UnivLab_Allan,weather0.csv,Education,20402.24202,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3013443,2015-01-01 10:00:00,551.19,UnivLab_Allan,weather0.csv,Education,20402.24202,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3013444,2015-01-01 11:00:00,545.79,UnivLab_Allan,weather0.csv,Education,20402.24202,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3022200,2015-01-01 07:00:00,44.51,UnivLab_Amy,weather0.csv,Education,2289.408629,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3022201,2015-01-01 08:00:00,43.71,UnivLab_Amy,weather0.csv,Education,2289.408629,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3022202,2015-01-01 09:00:00,42.99,UnivLab_Amy,weather0.csv,Education,2289.408629,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3022203,2015-01-01 10:00:00,42.65,UnivLab_Amy,weather0.csv,Education,2289.408629,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3022204,2015-01-01 11:00:00,51.93,UnivLab_Amy,weather0.csv,Education,2289.408629,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3030960,2015-01-01 07:00:00,147.73,UnivLab_Andre,weather0.csv,Education,8930.207972,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3030961,2015-01-01 08:00:00,148.08,UnivLab_Andre,weather0.csv,Education,8930.207972,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3030962,2015-01-01 09:00:00,150.33,UnivLab_Andre,weather0.csv,Education,8930.207972,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3030963,2015-01-01 10:00:00,150.39,UnivLab_Andre,weather0.csv,Education,8930.207972,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3030964,2015-01-01 11:00:00,151.69,UnivLab_Andre,weather0.csv,Education,8930.207972,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3039720,2015-01-01 07:00:00,10.22,UnivLab_Angie,weather0.csv,Education,909.334564,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3039721,2015-01-01 08:00:00,10.11,UnivLab_Angie,weather0.csv,Education,909.334564,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3039722,2015-01-01 09:00:00,10.12,UnivLab_Angie,weather0.csv,Education,909.334564,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3039723,2015-01-01 10:00:00,10.06,UnivLab_Angie,weather0.csv,Education,909.334564,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3039724,2015-01-01 11:00:00,10.05,UnivLab_Angie,weather0.csv,Education,909.334564,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3048480,2015-01-01 07:00:00,717.96,UnivLab_Anita,weather0.csv,Education,14087.53221,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3048481,2015-01-01 08:00:00,718.60,UnivLab_Anita,weather0.csv,Education,14087.53221,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3048482,2015-01-01 09:00:00,716.62,UnivLab_Anita,weather0.csv,Education,14087.53221,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3048483,2015-01-01 10:00:00,717.12,UnivLab_Anita,weather0.csv,Education,14087.53221,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3048484,2015-01-01 11:00:00,715.88,UnivLab_Anita,weather0.csv,Education,14087.53221,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3057240,2015-01-01 07:00:00,330.55,UnivLab_Annabelle,weather0.csv,Education,18984.63515,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3057241,2015-01-01 08:00:00,328.24,UnivLab_Annabelle,weather0.csv,Education,18984.63515,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3057242,2015-01-01 09:00:00,330.30,UnivLab_Annabelle,weather0.csv,Education,18984.63515,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3057243,2015-01-01 10:00:00,329.09,UnivLab_Annabelle,weather0.csv,Education,18984.63515,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3057244,2015-01-01 11:00:00,323.85,UnivLab_Annabelle,weather0.csv,Education,18984.63515,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3066000,2015-01-01 07:00:00,157.56,UnivLab_Annette,weather0.csv,Education,12311.31975,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3066001,2015-01-01 08:00:00,155.20,UnivLab_Annette,weather0.csv,Education,12311.31975,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3066002,2015-01-01 09:00:00,154.24,UnivLab_Annette,weather0.csv,Education,12311.31975,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3066003,2015-01-01 10:00:00,154.95,UnivLab_Annette,weather0.csv,Education,12311.31975,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3066004,2015-01-01 11:00:00,154.29,UnivLab_Annette,weather0.csv,Education,12311.31975,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3074760,2015-01-01 07:00:00,2295.82,UnivLab_Aoife,weather0.csv,Education,24265.14876,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3074761,2015-01-01 08:00:00,2268.89,UnivLab_Aoife,weather0.csv,Education,24265.14876,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3074762,2015-01-01 09:00:00,2296.07,UnivLab_Aoife,weather0.csv,Education,24265.14876,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3074763,2015-01-01 10:00:00,2272.02,UnivLab_Aoife,weather0.csv,Education,24265.14876,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3074764,2015-01-01 11:00:00,2282.97,UnivLab_Aoife,weather0.csv,Education,24265.14876,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3083520,2015-01-01 07:00:00,67.99,UnivLab_Ariel,weather0.csv,Education,3134.454317,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3083521,2015-01-01 08:00:00,68.30,UnivLab_Ariel,weather0.csv,Education,3134.454317,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3083522,2015-01-01 09:00:00,68.24,UnivLab_Ariel,weather0.csv,Education,3134.454317,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3083523,2015-01-01 10:00:00,68.50,UnivLab_Ariel,weather0.csv,Education,3134.454317,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3083524,2015-01-01 11:00:00,67.81,UnivLab_Ariel,weather0.csv,Education,3134.454317,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3092280,2015-01-01 07:00:00,898.79,UnivLab_Ashlynn,weather0.csv,Education,30403.06417,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3092281,2015-01-01 08:00:00,887.98,UnivLab_Ashlynn,weather0.csv,Education,30403.06417,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3092282,2015-01-01 09:00:00,892.02,UnivLab_Ashlynn,weather0.csv,Education,30403.06417,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3092283,2015-01-01 10:00:00,889.06,UnivLab_Ashlynn,weather0.csv,Education,30403.06417,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3092284,2015-01-01 11:00:00,881.37,UnivLab_Ashlynn,weather0.csv,Education,30403.06417,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3101040,2015-01-01 07:00:00,521.12,UnivLab_Ashton,weather0.csv,Education,16681.56978,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3101041,2015-01-01 08:00:00,505.17,UnivLab_Ashton,weather0.csv,Education,16681.56978,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3101042,2015-01-01 09:00:00,503.90,UnivLab_Ashton,weather0.csv,Education,16681.56978,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3101043,2015-01-01 10:00:00,502.53,UnivLab_Ashton,weather0.csv,Education,16681.56978,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3101044,2015-01-01 11:00:00,495.89,UnivLab_Ashton,weather0.csv,Education,16681.56978,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3109800,2015-01-01 07:00:00,17.69,UnivLab_Audra,weather0.csv,Education,425.774449,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3109801,2015-01-01 08:00:00,17.50,UnivLab_Audra,weather0.csv,Education,425.774449,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3109802,2015-01-01 09:00:00,17.55,UnivLab_Audra,weather0.csv,Education,425.774449,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0
3109803,2015-01-01 10:00:00,17.61,UnivLab_Audra,weather0.csv,Education,425.774449,UnivLab,2015,1,10,...,0,0,0,0,0,0,1,0,1,0
3109804,2015-01-01 11:00:00,17.24,UnivLab_Audra,weather0.csv,Education,425.774449,UnivLab,2015,1,11,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3118560,2012-01-01 08:00:00,119.00,UnivLab_Bert,weather7.csv,Education,4908.901617,UnivLab,2012,1,8,...,0,1,0,0,0,0,1,0,1,0
3118561,2012-01-01 09:00:00,128.00,UnivLab_Bert,weather7.csv,Education,4908.901617,UnivLab,2012,1,9,...,0,1,0,0,0,0,1,0,1,0
3118562,2012-01-01 10:00:00,135.25,UnivLab_Bert,weather7.csv,Education,4908.901617,UnivLab,2012,1,10,...,0,1,0,0,0,0,1,0,1,0
3118563,2012-01-01 11:00:00,129.75,UnivLab_Bert,weather7.csv,Education,4908.901617,UnivLab,2012,1,11,...,0,1,0,0,0,0,1,0,1,0
3118564,2012-01-01 12:00:00,119.00,UnivLab_Bert,weather7.csv,Education,4908.901617,UnivLab,2012,1,12,...,0,1,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3127320,2012-01-01 08:00:00,182.675,UnivLab_Beth,weather7.csv,Education,16001.98433,UnivLab,2012,1,8,...,0,1,0,0,0,0,1,0,1,0
3127321,2012-01-01 09:00:00,185.125,UnivLab_Beth,weather7.csv,Education,16001.98433,UnivLab,2012,1,9,...,0,1,0,0,0,0,1,0,1,0
3127322,2012-01-01 10:00:00,180.325,UnivLab_Beth,weather7.csv,Education,16001.98433,UnivLab,2012,1,10,...,0,1,0,0,0,0,1,0,1,0
3127323,2012-01-01 11:00:00,181.500,UnivLab_Beth,weather7.csv,Education,16001.98433,UnivLab,2012,1,11,...,0,1,0,0,0,0,1,0,1,0
3127324,2012-01-01 12:00:00,176.400,UnivLab_Beth,weather7.csv,Education,16001.98433,UnivLab,2012,1,12,...,0,1,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3136080,2012-01-01 08:00:00,182.025,UnivLab_Brad,weather7.csv,Education,11608.22985,UnivLab,2012,1,8,...,0,1,0,0,0,0,1,0,1,0
3136081,2012-01-01 09:00:00,194.925,UnivLab_Brad,weather7.csv,Education,11608.22985,UnivLab,2012,1,9,...,0,1,0,0,0,0,1,0,1,0
3136082,2012-01-01 10:00:00,194.525,UnivLab_Brad,weather7.csv,Education,11608.22985,UnivLab,2012,1,10,...,0,1,0,0,0,0,1,0,1,0
3136083,2012-01-01 11:00:00,193.450,UnivLab_Brad,weather7.csv,Education,11608.22985,UnivLab,2012,1,11,...,0,1,0,0,0,0,1,0,1,0
3136084,2012-01-01 12:00:00,186.575,UnivLab_Brad,weather7.csv,Education,11608.22985,UnivLab,2012,1,12,...,0,1,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3144840,2012-01-01 08:00:00,295.00,UnivLab_Brenna,weather7.csv,Education,8102.628048,UnivLab,2012,1,8,...,0,1,0,0,0,0,1,0,1,0
3144841,2012-01-01 09:00:00,299.50,UnivLab_Brenna,weather7.csv,Education,8102.628048,UnivLab,2012,1,9,...,0,1,0,0,0,0,1,0,1,0
3144842,2012-01-01 10:00:00,286.50,UnivLab_Brenna,weather7.csv,Education,8102.628048,UnivLab,2012,1,10,...,0,1,0,0,0,0,1,0,1,0
3144843,2012-01-01 11:00:00,290.75,UnivLab_Brenna,weather7.csv,Education,8102.628048,UnivLab,2012,1,11,...,0,1,0,0,0,0,1,0,1,0
3144844,2012-01-01 12:00:00,290.75,UnivLab_Brenna,weather7.csv,Education,8102.628048,UnivLab,2012,1,12,...,0,1,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3153600,2015-01-01 05:00:00,565.424988,UnivLab_Callie,weather2.csv,Education,25997.97552,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3153601,2015-01-01 06:00:00,567.200012,UnivLab_Callie,weather2.csv,Education,25997.97552,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3153602,2015-01-01 07:00:00,568.025024,UnivLab_Callie,weather2.csv,Education,25997.97552,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3153603,2015-01-01 08:00:00,574.049988,UnivLab_Callie,weather2.csv,Education,25997.97552,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3153604,2015-01-01 09:00:00,586.625000,UnivLab_Callie,weather2.csv,Education,25997.97552,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3162360,2015-01-01 05:00:00,72.574997,UnivLab_Cam,weather2.csv,Education,3079.548644,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3162361,2015-01-01 06:00:00,71.125000,UnivLab_Cam,weather2.csv,Education,3079.548644,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3162362,2015-01-01 07:00:00,73.625000,UnivLab_Cam,weather2.csv,Education,3079.548644,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3162363,2015-01-01 08:00:00,71.974998,UnivLab_Cam,weather2.csv,Education,3079.548644,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3162364,2015-01-01 09:00:00,73.775002,UnivLab_Cam,weather2.csv,Education,3079.548644,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3171120,2015-01-01 05:00:00,207.199997,UnivLab_Carley,weather2.csv,Education,5248.740791,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3171121,2015-01-01 06:00:00,207.225006,UnivLab_Carley,weather2.csv,Education,5248.740791,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3171122,2015-01-01 07:00:00,203.524994,UnivLab_Carley,weather2.csv,Education,5248.740791,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3171123,2015-01-01 08:00:00,207.899994,UnivLab_Carley,weather2.csv,Education,5248.740791,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3171124,2015-01-01 09:00:00,202.524994,UnivLab_Carley,weather2.csv,Education,5248.740791,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3179880,2015-01-01 05:00:00,223.350006,UnivLab_Carlos,weather2.csv,Education,2800.375129,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3179881,2015-01-01 06:00:00,218.324997,UnivLab_Carlos,weather2.csv,Education,2800.375129,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3179882,2015-01-01 07:00:00,217.500000,UnivLab_Carlos,weather2.csv,Education,2800.375129,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3179883,2015-01-01 08:00:00,212.324997,UnivLab_Carlos,weather2.csv,Education,2800.375129,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3179884,2015-01-01 09:00:00,213.524994,UnivLab_Carlos,weather2.csv,Education,2800.375129,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3188640,2015-01-01 05:00:00,969.450012,UnivLab_Carlton,weather2.csv,Education,29946.44592,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3188641,2015-01-01 06:00:00,971.024994,UnivLab_Carlton,weather2.csv,Education,29946.44592,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3188642,2015-01-01 07:00:00,962.024994,UnivLab_Carlton,weather2.csv,Education,29946.44592,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3188643,2015-01-01 08:00:00,964.849945,UnivLab_Carlton,weather2.csv,Education,29946.44592,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3188644,2015-01-01 09:00:00,969.250000,UnivLab_Carlton,weather2.csv,Education,29946.44592,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3197400,2015-01-01 05:00:00,348.499992,UnivLab_Carol,weather2.csv,Education,12195.46971,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3197401,2015-01-01 06:00:00,342.474991,UnivLab_Carol,weather2.csv,Education,12195.46971,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3197402,2015-01-01 07:00:00,405.100006,UnivLab_Carol,weather2.csv,Education,12195.46971,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3197403,2015-01-01 08:00:00,392.875000,UnivLab_Carol,weather2.csv,Education,12195.46971,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3197404,2015-01-01 09:00:00,396.774994,UnivLab_Carol,weather2.csv,Education,12195.46971,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3206160,2015-01-01 05:00:00,776.7400,UnivLab_Carole,weather2.csv,Education,13913.33909,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3206161,2015-01-01 06:00:00,777.9775,UnivLab_Carole,weather2.csv,Education,13913.33909,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3206162,2015-01-01 07:00:00,779.4025,UnivLab_Carole,weather2.csv,Education,13913.33909,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3206163,2015-01-01 08:00:00,775.3075,UnivLab_Carole,weather2.csv,Education,13913.33909,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3206164,2015-01-01 09:00:00,772.5625,UnivLab_Carole,weather2.csv,Education,13913.33909,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3214920,2015-01-01 05:00:00,103.900002,UnivLab_Cayden,weather2.csv,Education,6930.470897,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3214921,2015-01-01 06:00:00,107.099998,UnivLab_Cayden,weather2.csv,Education,6930.470897,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3214922,2015-01-01 07:00:00,102.949997,UnivLab_Cayden,weather2.csv,Education,6930.470897,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3214923,2015-01-01 08:00:00,105.849998,UnivLab_Cayden,weather2.csv,Education,6930.470897,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3214924,2015-01-01 09:00:00,107.025002,UnivLab_Cayden,weather2.csv,Education,6930.470897,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3223680,2015-01-01 05:00:00,383.075012,UnivLab_Cecil,weather2.csv,Education,11659.97682,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3223681,2015-01-01 06:00:00,380.774994,UnivLab_Cecil,weather2.csv,Education,11659.97682,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3223682,2015-01-01 07:00:00,387.174988,UnivLab_Cecil,weather2.csv,Education,11659.97682,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3223683,2015-01-01 08:00:00,387.475006,UnivLab_Cecil,weather2.csv,Education,11659.97682,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3223684,2015-01-01 09:00:00,400.899994,UnivLab_Cecil,weather2.csv,Education,11659.97682,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3232440,2015-01-01 05:00:00,89.675001,UnivLab_Cedric,weather2.csv,Education,9811.671636,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3232441,2015-01-01 06:00:00,87.650000,UnivLab_Cedric,weather2.csv,Education,9811.671636,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3232442,2015-01-01 07:00:00,91.924999,UnivLab_Cedric,weather2.csv,Education,9811.671636,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3232443,2015-01-01 08:00:00,86.975000,UnivLab_Cedric,weather2.csv,Education,9811.671636,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3232444,2015-01-01 09:00:00,92.250002,UnivLab_Cedric,weather2.csv,Education,9811.671636,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3241200,2015-01-01 05:00:00,5.025,UnivLab_Cesar,weather2.csv,Education,887.409456,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3241201,2015-01-01 06:00:00,4.600,UnivLab_Cesar,weather2.csv,Education,887.409456,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3241202,2015-01-01 07:00:00,4.750,UnivLab_Cesar,weather2.csv,Education,887.409456,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3241203,2015-01-01 08:00:00,4.700,UnivLab_Cesar,weather2.csv,Education,887.409456,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3241204,2015-01-01 09:00:00,4.575,UnivLab_Cesar,weather2.csv,Education,887.409456,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3249960,2015-01-01 05:00:00,195.600006,UnivLab_Christine,weather2.csv,Education,15887.15622,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3249961,2015-01-01 06:00:00,193.975006,UnivLab_Christine,weather2.csv,Education,15887.15622,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3249962,2015-01-01 07:00:00,189.500000,UnivLab_Christine,weather2.csv,Education,15887.15622,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3249963,2015-01-01 08:00:00,184.574997,UnivLab_Christine,weather2.csv,Education,15887.15622,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3249964,2015-01-01 09:00:00,186.199997,UnivLab_Christine,weather2.csv,Education,15887.15622,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3258720,2015-01-01 05:00:00,46.375000,UnivLab_Christy,weather2.csv,Education,2609.087852,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3258721,2015-01-01 06:00:00,46.950001,UnivLab_Christy,weather2.csv,Education,2609.087852,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3258722,2015-01-01 07:00:00,45.300003,UnivLab_Christy,weather2.csv,Education,2609.087852,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3258723,2015-01-01 08:00:00,44.700001,UnivLab_Christy,weather2.csv,Education,2609.087852,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3258724,2015-01-01 09:00:00,46.575001,UnivLab_Christy,weather2.csv,Education,2609.087852,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3267480,2015-01-01 05:00:00,369.749992,UnivLab_Ciel,weather2.csv,Education,21726.57429,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3267481,2015-01-01 06:00:00,366.575005,UnivLab_Ciel,weather2.csv,Education,21726.57429,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3267482,2015-01-01 07:00:00,366.074997,UnivLab_Ciel,weather2.csv,Education,21726.57429,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3267483,2015-01-01 08:00:00,364.124992,UnivLab_Ciel,weather2.csv,Education,21726.57429,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3267484,2015-01-01 09:00:00,368.049988,UnivLab_Ciel,weather2.csv,Education,21726.57429,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3276240,2015-01-01 05:00:00,64.224998,UnivLab_Cindy,weather2.csv,Education,10856.08716,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3276241,2015-01-01 06:00:00,65.800003,UnivLab_Cindy,weather2.csv,Education,10856.08716,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3276242,2015-01-01 07:00:00,66.525002,UnivLab_Cindy,weather2.csv,Education,10856.08716,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3276243,2015-01-01 08:00:00,67.099998,UnivLab_Cindy,weather2.csv,Education,10856.08716,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3276244,2015-01-01 09:00:00,64.175003,UnivLab_Cindy,weather2.csv,Education,10856.08716,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3285000,2015-01-01 05:00:00,6.725,UnivLab_Clint,weather2.csv,Education,1704.026826,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3285001,2015-01-01 06:00:00,6.825,UnivLab_Clint,weather2.csv,Education,1704.026826,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3285002,2015-01-01 07:00:00,6.725,UnivLab_Clint,weather2.csv,Education,1704.026826,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3285003,2015-01-01 08:00:00,7.075,UnivLab_Clint,weather2.csv,Education,1704.026826,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3285004,2015-01-01 09:00:00,6.675,UnivLab_Clint,weather2.csv,Education,1704.026826,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3293760,2015-01-01 05:00:00,173.625000,UnivLab_Collin,weather2.csv,Education,9116.106875,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3293761,2015-01-01 06:00:00,172.175003,UnivLab_Collin,weather2.csv,Education,9116.106875,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3293762,2015-01-01 07:00:00,181.949997,UnivLab_Collin,weather2.csv,Education,9116.106875,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3293763,2015-01-01 08:00:00,181.949997,UnivLab_Collin,weather2.csv,Education,9116.106875,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3293764,2015-01-01 09:00:00,173.324997,UnivLab_Collin,weather2.csv,Education,9116.106875,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3302520,2015-01-01 05:00:00,471.275024,UnivLab_Cory,weather2.csv,Education,14927.00372,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3302521,2015-01-01 06:00:00,473.375000,UnivLab_Cory,weather2.csv,Education,14927.00372,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3302522,2015-01-01 07:00:00,470.924988,UnivLab_Cory,weather2.csv,Education,14927.00372,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3302523,2015-01-01 08:00:00,465.975006,UnivLab_Cory,weather2.csv,Education,14927.00372,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3302524,2015-01-01 09:00:00,462.225006,UnivLab_Cory,weather2.csv,Education,14927.00372,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3311280,2015-01-01 05:00:00,49.25,UnivLab_Crystal,weather2.csv,Education,11568.37446,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3311281,2015-01-01 06:00:00,49.50,UnivLab_Crystal,weather2.csv,Education,11568.37446,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3311282,2015-01-01 07:00:00,49.00,UnivLab_Crystal,weather2.csv,Education,11568.37446,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3311283,2015-01-01 08:00:00,49.00,UnivLab_Crystal,weather2.csv,Education,11568.37446,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3311284,2015-01-01 09:00:00,48.75,UnivLab_Crystal,weather2.csv,Education,11568.37446,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3320040,2010-01-01 08:00:00,763.550,UnivLab_Dianna,weather13.csv,Education,14279.1911,UnivLab,2010,1,8,...,0,0,0,0,0,0,1,0,1,0
3320041,2010-01-01 09:00:00,741.625,UnivLab_Dianna,weather13.csv,Education,14279.1911,UnivLab,2010,1,9,...,0,0,0,0,0,0,1,0,1,0
3320042,2010-01-01 10:00:00,726.775,UnivLab_Dianna,weather13.csv,Education,14279.1911,UnivLab,2010,1,10,...,0,0,0,0,0,0,1,0,1,0
3320043,2010-01-01 11:00:00,715.025,UnivLab_Dianna,weather13.csv,Education,14279.1911,UnivLab,2010,1,11,...,0,0,0,0,0,0,1,0,1,0
3320044,2010-01-01 12:00:00,703.600,UnivLab_Dianna,weather13.csv,Education,14279.1911,UnivLab,2010,1,12,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3328800,2014-12-01 00:00:00,123.3,UnivLab_Lauren,weather5.csv,Education,5686.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3328801,2014-12-01 01:00:00,116.1,UnivLab_Lauren,weather5.csv,Education,5686.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3328802,2014-12-01 02:00:00,121.3,UnivLab_Lauren,weather5.csv,Education,5686.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3328803,2014-12-01 03:00:00,120.7,UnivLab_Lauren,weather5.csv,Education,5686.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3328804,2014-12-01 04:00:00,113.4,UnivLab_Lauren,weather5.csv,Education,5686.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3337560,2014-12-01 00:00:00,475.2,UnivLab_Lester,weather5.csv,Education,13965.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3337561,2014-12-01 01:00:00,472.8,UnivLab_Lester,weather5.csv,Education,13965.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3337562,2014-12-01 02:00:00,452.4,UnivLab_Lester,weather5.csv,Education,13965.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3337563,2014-12-01 03:00:00,475.8,UnivLab_Lester,weather5.csv,Education,13965.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3337564,2014-12-01 04:00:00,459.8,UnivLab_Lester,weather5.csv,Education,13965.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3346320,2014-12-01 00:00:00,260.0,UnivLab_Levi,weather5.csv,Education,7715.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3346321,2014-12-01 01:00:00,249.2,UnivLab_Levi,weather5.csv,Education,7715.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3346322,2014-12-01 02:00:00,256.7,UnivLab_Levi,weather5.csv,Education,7715.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3346323,2014-12-01 03:00:00,254.0,UnivLab_Levi,weather5.csv,Education,7715.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3346324,2014-12-01 04:00:00,261.3,UnivLab_Levi,weather5.csv,Education,7715.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3355080,2014-12-01 00:00:00,237.665476,UnivLab_Lyle,weather5.csv,Education,12850.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3355081,2014-12-01 01:00:00,224.465476,UnivLab_Lyle,weather5.csv,Education,12850.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3355082,2014-12-01 02:00:00,229.065476,UnivLab_Lyle,weather5.csv,Education,12850.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3355083,2014-12-01 03:00:00,229.265476,UnivLab_Lyle,weather5.csv,Education,12850.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3355084,2014-12-01 04:00:00,231.465476,UnivLab_Lyle,weather5.csv,Education,12850.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3363840,2014-05-01 05:00:00,93.25,UnivLab_Mack,weather3.csv,Education,5937.895245,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3363841,2014-05-01 06:00:00,91.25,UnivLab_Mack,weather3.csv,Education,5937.895245,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3363842,2014-05-01 07:00:00,95.00,UnivLab_Mack,weather3.csv,Education,5937.895245,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3363843,2014-05-01 08:00:00,96.00,UnivLab_Mack,weather3.csv,Education,5937.895245,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3363844,2014-05-01 09:00:00,96.50,UnivLab_Mack,weather3.csv,Education,5937.895245,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3372600,2014-05-01 05:00:00,260.25,UnivLab_Madelyn,weather3.csv,Education,17103.25649,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3372601,2014-05-01 06:00:00,259.75,UnivLab_Madelyn,weather3.csv,Education,17103.25649,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3372602,2014-05-01 07:00:00,259.50,UnivLab_Madelyn,weather3.csv,Education,17103.25649,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3372603,2014-05-01 08:00:00,260.50,UnivLab_Madelyn,weather3.csv,Education,17103.25649,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3372604,2014-05-01 09:00:00,267.50,UnivLab_Madelyn,weather3.csv,Education,17103.25649,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3381360,2014-05-01 05:00:00,116.00,UnivLab_Margret,weather3.csv,Education,3447.351621,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3381361,2014-05-01 06:00:00,112.50,UnivLab_Margret,weather3.csv,Education,3447.351621,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3381362,2014-05-01 07:00:00,115.50,UnivLab_Margret,weather3.csv,Education,3447.351621,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3381363,2014-05-01 08:00:00,114.00,UnivLab_Margret,weather3.csv,Education,3447.351621,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3381364,2014-05-01 09:00:00,115.75,UnivLab_Margret,weather3.csv,Education,3447.351621,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3390120,2014-05-01 05:00:00,292.50,UnivLab_Marie,weather3.csv,Education,14537.74015,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3390121,2014-05-01 06:00:00,298.50,UnivLab_Marie,weather3.csv,Education,14537.74015,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3390122,2014-05-01 07:00:00,297.50,UnivLab_Marie,weather3.csv,Education,14537.74015,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3390123,2014-05-01 08:00:00,291.25,UnivLab_Marie,weather3.csv,Education,14537.74015,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3390124,2014-05-01 09:00:00,288.25,UnivLab_Marie,weather3.csv,Education,14537.74015,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3398880,2014-05-01 05:00:00,62.00,UnivLab_Mario,weather3.csv,Education,3715.005164,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3398881,2014-05-01 06:00:00,62.50,UnivLab_Mario,weather3.csv,Education,3715.005164,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3398882,2014-05-01 07:00:00,58.50,UnivLab_Mario,weather3.csv,Education,3715.005164,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3398883,2014-05-01 08:00:00,61.25,UnivLab_Mario,weather3.csv,Education,3715.005164,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3398884,2014-05-01 09:00:00,57.75,UnivLab_Mario,weather3.csv,Education,3715.005164,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3407640,2014-05-01 05:00:00,100.75,UnivLab_Miles,weather3.csv,Education,13254.65682,UnivLab,2014,5,5,...,0,0,0,0,0,0,1,0,1,0
3407641,2014-05-01 06:00:00,104.75,UnivLab_Miles,weather3.csv,Education,13254.65682,UnivLab,2014,5,6,...,0,0,0,0,0,0,1,0,1,0
3407642,2014-05-01 07:00:00,103.50,UnivLab_Miles,weather3.csv,Education,13254.65682,UnivLab,2014,5,7,...,0,0,0,0,0,0,1,0,1,0
3407643,2014-05-01 08:00:00,102.75,UnivLab_Miles,weather3.csv,Education,13254.65682,UnivLab,2014,5,8,...,0,0,0,0,0,0,1,0,1,0
3407644,2014-05-01 09:00:00,99.25,UnivLab_Miles,weather3.csv,Education,13254.65682,UnivLab,2014,5,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3416400,2014-11-01 05:00:00,9.90000,UnivLab_Neil,weather9.csv,Education,2521.851935,UnivLab,2014,11,5,...,1,0,0,0,0,0,1,0,1,0
3416401,2014-11-01 06:00:00,9.53577,UnivLab_Neil,weather9.csv,Education,2521.851935,UnivLab,2014,11,6,...,1,0,0,0,0,0,1,0,1,0
3416402,2014-11-01 07:00:00,9.40000,UnivLab_Neil,weather9.csv,Education,2521.851935,UnivLab,2014,11,7,...,1,0,0,0,0,0,1,0,1,0
3416403,2014-11-01 08:00:00,9.30000,UnivLab_Neil,weather9.csv,Education,2521.851935,UnivLab,2014,11,8,...,1,0,0,0,0,0,1,0,1,0
3416404,2014-11-01 09:00:00,11.89997,UnivLab_Neil,weather9.csv,Education,2521.851935,UnivLab,2014,11,9,...,1,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3425160,2015-01-01 05:00:00,663.891667,UnivLab_Paris,weather4.csv,Education,11226.02691,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3425161,2015-01-01 06:00:00,661.325000,UnivLab_Paris,weather4.csv,Education,11226.02691,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3425162,2015-01-01 07:00:00,657.100000,UnivLab_Paris,weather4.csv,Education,11226.02691,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3425163,2015-01-01 08:00:00,657.383333,UnivLab_Paris,weather4.csv,Education,11226.02691,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3425164,2015-01-01 09:00:00,656.075000,UnivLab_Paris,weather4.csv,Education,11226.02691,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3433920,2015-01-01 05:00:00,184.450000,UnivLab_Parker,weather4.csv,Education,4349.068139,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3433921,2015-01-01 06:00:00,206.858333,UnivLab_Parker,weather4.csv,Education,4349.068139,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3433922,2015-01-01 07:00:00,175.141667,UnivLab_Parker,weather4.csv,Education,4349.068139,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3433923,2015-01-01 08:00:00,207.116667,UnivLab_Parker,weather4.csv,Education,4349.068139,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3433924,2015-01-01 09:00:00,207.358333,UnivLab_Parker,weather4.csv,Education,4349.068139,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3442680,2015-01-01 05:00:00,401.166667,UnivLab_Patrick,weather4.csv,Education,7054.031887,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3442681,2015-01-01 06:00:00,398.550000,UnivLab_Patrick,weather4.csv,Education,7054.031887,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3442682,2015-01-01 07:00:00,391.416667,UnivLab_Patrick,weather4.csv,Education,7054.031887,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3442683,2015-01-01 08:00:00,393.108333,UnivLab_Patrick,weather4.csv,Education,7054.031887,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3442684,2015-01-01 09:00:00,392.600000,UnivLab_Patrick,weather4.csv,Education,7054.031887,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3451440,2015-01-01 05:00:00,101.933333,UnivLab_Peggy,weather4.csv,Education,4984.338853,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3451441,2015-01-01 06:00:00,102.483333,UnivLab_Peggy,weather4.csv,Education,4984.338853,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3451442,2015-01-01 07:00:00,101.508333,UnivLab_Peggy,weather4.csv,Education,4984.338853,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3451443,2015-01-01 08:00:00,103.658333,UnivLab_Peggy,weather4.csv,Education,4984.338853,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3451444,2015-01-01 09:00:00,102.091667,UnivLab_Peggy,weather4.csv,Education,4984.338853,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3460200,2015-01-01 05:00:00,892.377780,UnivLab_Peyton,weather4.csv,Education,23225.75,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3460201,2015-01-01 06:00:00,880.066670,UnivLab_Peyton,weather4.csv,Education,23225.75,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3460202,2015-01-01 07:00:00,880.187501,UnivLab_Peyton,weather4.csv,Education,23225.75,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3460203,2015-01-01 08:00:00,882.512504,UnivLab_Peyton,weather4.csv,Education,23225.75,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3460204,2015-01-01 09:00:00,876.830557,UnivLab_Peyton,weather4.csv,Education,23225.75,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3468960,2015-01-01 05:00:00,582.279167,UnivLab_Phil,weather4.csv,Education,22419.72357,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3468961,2015-01-01 06:00:00,588.102776,UnivLab_Phil,weather4.csv,Education,22419.72357,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3468962,2015-01-01 07:00:00,581.283335,UnivLab_Phil,weather4.csv,Education,22419.72357,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3468963,2015-01-01 08:00:00,582.561109,UnivLab_Phil,weather4.csv,Education,22419.72357,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3468964,2015-01-01 09:00:00,583.262502,UnivLab_Phil,weather4.csv,Education,22419.72357,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3477720,2015-01-01 05:00:00,29.269861,UnivLab_Preston,weather4.csv,Education,3675.056874,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3477721,2015-01-01 06:00:00,28.853611,UnivLab_Preston,weather4.csv,Education,3675.056874,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3477722,2015-01-01 07:00:00,30.818889,UnivLab_Preston,weather4.csv,Education,3675.056874,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3477723,2015-01-01 08:00:00,31.062500,UnivLab_Preston,weather4.csv,Education,3675.056874,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3477724,2015-01-01 09:00:00,30.700973,UnivLab_Preston,weather4.csv,Education,3675.056874,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3486480,2015-01-01 05:00:00,181.150000,UnivLab_Priscilla,weather4.csv,Education,3343.57897,UnivLab,2015,1,5,...,0,0,0,0,0,0,1,0,1,0
3486481,2015-01-01 06:00:00,184.633333,UnivLab_Priscilla,weather4.csv,Education,3343.57897,UnivLab,2015,1,6,...,0,0,0,0,0,0,1,0,1,0
3486482,2015-01-01 07:00:00,179.808333,UnivLab_Priscilla,weather4.csv,Education,3343.57897,UnivLab,2015,1,7,...,0,0,0,0,0,0,1,0,1,0
3486483,2015-01-01 08:00:00,183.225000,UnivLab_Priscilla,weather4.csv,Education,3343.57897,UnivLab,2015,1,8,...,0,0,0,0,0,0,1,0,1,0
3486484,2015-01-01 09:00:00,182.791667,UnivLab_Priscilla,weather4.csv,Education,3343.57897,UnivLab,2015,1,9,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3495240,2014-12-01 00:00:00,10.0,UnivLab_Susan,weather6.csv,Education,1515.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3495241,2014-12-01 01:00:00,11.0,UnivLab_Susan,weather6.csv,Education,1515.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3495242,2014-12-01 02:00:00,11.0,UnivLab_Susan,weather6.csv,Education,1515.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3495243,2014-12-01 03:00:00,11.0,UnivLab_Susan,weather6.csv,Education,1515.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3495244,2014-12-01 04:00:00,11.0,UnivLab_Susan,weather6.csv,Education,1515.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3504000,2014-12-01 00:00:00,146.0,UnivLab_Suzette,weather6.csv,Education,7810.0,UnivLab,2014,12,0,...,0,0,0,0,0,0,1,0,1,0
3504001,2014-12-01 01:00:00,144.0,UnivLab_Suzette,weather6.csv,Education,7810.0,UnivLab,2014,12,1,...,0,0,0,0,0,0,1,0,1,0
3504002,2014-12-01 02:00:00,142.0,UnivLab_Suzette,weather6.csv,Education,7810.0,UnivLab,2014,12,2,...,0,0,0,0,0,0,1,0,1,0
3504003,2014-12-01 03:00:00,137.0,UnivLab_Suzette,weather6.csv,Education,7810.0,UnivLab,2014,12,3,...,0,0,0,0,0,0,1,0,1,0
3504004,2014-12-01 04:00:00,138.0,UnivLab_Suzette,weather6.csv,Education,7810.0,UnivLab,2014,12,4,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3512760,2012-12-31 23:00:00,52.25,UnivLab_Tami,weather8.csv,Education,6873.1,UnivLab,2012,12,23,...,0,0,0,0,0,0,1,0,1,0
3512761,2013-01-01 00:00:00,52.75,UnivLab_Tami,weather8.csv,Education,6873.1,UnivLab,2013,1,0,...,0,0,0,0,0,0,1,0,1,0
3512762,2013-01-01 01:00:00,52.75,UnivLab_Tami,weather8.csv,Education,6873.1,UnivLab,2013,1,1,...,0,0,0,0,0,0,1,0,1,0
3512763,2013-01-01 02:00:00,52.75,UnivLab_Tami,weather8.csv,Education,6873.1,UnivLab,2013,1,2,...,0,0,0,0,0,0,1,0,1,0
3512764,2013-01-01 03:00:00,53.50,UnivLab_Tami,weather8.csv,Education,6873.1,UnivLab,2013,1,3,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3521520,2012-12-31 23:00:00,43.13575,UnivLab_Taylor,weather8.csv,Education,6033.2,UnivLab,2012,12,23,...,0,0,0,0,0,0,1,0,1,0
3521521,2013-01-01 00:00:00,43.00400,UnivLab_Taylor,weather8.csv,Education,6033.2,UnivLab,2013,1,0,...,0,0,0,0,0,0,1,0,1,0
3521522,2013-01-01 01:00:00,43.27825,UnivLab_Taylor,weather8.csv,Education,6033.2,UnivLab,2013,1,1,...,0,0,0,0,0,0,1,0,1,0
3521523,2013-01-01 02:00:00,44.86325,UnivLab_Taylor,weather8.csv,Education,6033.2,UnivLab,2013,1,2,...,0,0,0,0,0,0,1,0,1,0
3521524,2013-01-01 03:00:00,42.73625,UnivLab_Taylor,weather8.csv,Education,6033.2,UnivLab,2013,1,3,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3530280,2012-12-31 23:00:00,62.71100,UnivLab_Terrie,weather8.csv,Education,8030.2,UnivLab,2012,12,23,...,0,0,0,0,0,0,1,0,1,0
3530281,2013-01-01 00:00:00,62.11750,UnivLab_Terrie,weather8.csv,Education,8030.2,UnivLab,2013,1,0,...,0,0,0,0,0,0,1,0,1,0
3530282,2013-01-01 01:00:00,62.97675,UnivLab_Terrie,weather8.csv,Education,8030.2,UnivLab,2013,1,1,...,0,0,0,0,0,0,1,0,1,0
3530283,2013-01-01 02:00:00,61.98875,UnivLab_Terrie,weather8.csv,Education,8030.2,UnivLab,2013,1,2,...,0,0,0,0,0,0,1,0,1,0
3530284,2013-01-01 03:00:00,62.71925,UnivLab_Terrie,weather8.csv,Education,8030.2,UnivLab,2013,1,3,...,0,0,0,0,0,0,1,0,1,0

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
3539040,2012-12-31 23:00:00,41.25,UnivLab_Tracy,weather8.csv,Education,5968.7,UnivLab,2012,12,23,...,0,0,0,0,0,0,1,0,1,0
3539041,2013-01-01 00:00:00,41.50,UnivLab_Tracy,weather8.csv,Education,5968.7,UnivLab,2013,1,0,...,0,0,0,0,0,0,1,0,1,0
3539042,2013-01-01 01:00:00,41.25,UnivLab_Tracy,weather8.csv,Education,5968.7,UnivLab,2013,1,1,...,0,0,0,0,0,0,1,0,1,0
3539043,2013-01-01 02:00:00,41.00,UnivLab_Tracy,weather8.csv,Education,5968.7,UnivLab,2013,1,2,...,0,0,0,0,0,0,1,0,1,0
3539044,2013-01-01 03:00:00,41.75,UnivLab_Tracy,weather8.csv,Education,5968.7,UnivLab,2013,1,3,...,0,0,0,0,0,0,1,0,1,0

In [66]:
pdTrainY.to_csv('pdTrainY.csv')

In [77]:
pdTestX.to_csv('pdTestX.csv')

In [84]:
pdTestY.to_csv('pdTestY.csv')

In [85]:
a = pd.read_csv('pdTestY.csv')

In [ ]:
def norm_area(pdTrainX):
    for building in pdTrainX['building_name'].unique():
        area= pdTrainX[pdTrainX['building_name']==building]['area']
        area = area.values
        area = area/area.max()
        pdTrainX[pdTrainX['building_name']==building]['area'] = area
    return pdTrainX

In [68]:
pdTrainXNorm = norm_area(pdTrainX)

/Users/kategroschner/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
pdTrainXNorm.head()

,timestamp,electricity,building_name,weather_file,industry,area,primary_space_usage,year,month,hour,...,weekday_5,weekday_6,primary_space_usage_Office,primary_space_usage_PrimClass,primary_space_usage_UnivClass,primary_space_usage_UnivDorm,primary_space_usage_UnivLab,industry_Commercial Property,industry_Education,industry_Government
273,2015-01-12 16:00:00,73.49,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,16,...,0,0,1,0,0,0,0,0,1,0
274,2015-01-12 17:00:00,64.77,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,17,...,0,0,1,0,0,0,0,0,1,0
275,2015-01-12 18:00:00,67.43,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,18,...,0,0,1,0,0,0,0,0,1,0
276,2015-01-12 19:00:00,63.57,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,19,...,0,0,1,0,0,0,0,0,1,0
277,2015-01-12 20:00:00,65.10,Office_Abbey,weather0.csv,Education,6891.54454,Office,2015,1,20,...,0,0,1,0,0,0,0,0,1,0