In [1]:
import pandas as pd
import numpy as np
from numpy import random
import datetime

In [2]:
np.random.seed(123)

In [3]:
test = pd.read_csv('../data/weather1_education_test.csv', index_col=0, parse_dates=['timestamp'])
test

,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,hour,...,hour_22,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass
0,1201.0,PrimClass_Janelle,2.400000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,0,1,0,0,0,0,0,0,1
1,1201.0,PrimClass_Janelle,2.000000,PrimClass,2014-12-01 01:00:00,5.0,12,2014,1,1,...,0,0,1,0,0,0,0,0,0,1
2,1201.0,PrimClass_Janelle,2.000000,PrimClass,2014-12-01 02:00:00,5.0,12,2014,1,2,...,0,0,1,0,0,0,0,0,0,1
3,1201.0,PrimClass_Janelle,2.400000,PrimClass,2014-12-01 03:00:00,6.0,12,2014,1,3,...,0,0,1,0,0,0,0,0,0,1
4,1201.0,PrimClass_Janelle,2.600000,PrimClass,2014-12-01 04:00:00,7.0,12,2014,1,4,...,0,0,1,0,0,0,0,0,0,1
5,1201.0,PrimClass_Janelle,2.600000,PrimClass,2014-12-01 05:00:00,7.0,12,2014,1,5,...,0,0,1,0,0,0,0,0,0,1
6,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-01 06:00:00,7.0,12,2014,1,6,...,0,0,1,0,0,0,0,0,0,1
7,1201.0,PrimClass_Janelle,18.300000,PrimClass,2014-12-01 07:00:00,8.0,12,2014,1,7,...,0,0,1,0,0,0,0,0,0,1
8,1201.0,PrimClass_Janelle,21.500000,PrimClass,2014-12-01 08:00:00,8.0,12,2014,1,8,...,0,0,1,0,0,0,0,0,0,1
9,1201.0,PrimClass_Janelle,24.900000,PrimClass,2014-12-01 09:00:00,8.0,12,2014,1,9,...,0,0,1,0,0,0,0,0,0,1
10,1201.0,PrimClass_Janelle,26.900000,PrimClass,2014-12-01 10:00:00,9.0,12,2014,1,10,...,0,0,1,0,0,0,0,0,0,1
11,1201.0,PrimClass_Janelle,28.800000,PrimClass,2014-12-01 11:00:00,9.0,12,2014,1,11,...,0,0,1,0,0,0,0,0,0,1
12,1201.0,PrimClass_Janelle,29.000000,PrimClass,2014-12-01 12:00:00,9.0,12,2014,1,12,...,0,0,1,0,0,0,0,0,0,1
13,1201.0,PrimClass_Janelle,28.400000,PrimClass,2014-12-01 13:00:00,9.0,12,2014,1,13,...,0,0,1,0,0,0,0,0,0,1
14,1201.0,PrimClass_Janelle,26.000000,PrimClass,2014-12-01 14:00:00,9.0,12,2014,1,14,...,0,0,1,0,0,0,0,0,0,1
15,1201.0,PrimClass_Janelle,23.300000,PrimClass,2014-12-01 15:00:00,8.0,12,2014,1,15,...,0,0,1,0,0,0,0,0,0,1
16,1201.0,PrimClass_Janelle,22.000000,PrimClass,2014-12-01 16:00:00,8.0,12,2014,1,16,...,0,0,1,0,0,0,0,0,0,1
17,1201.0,PrimClass_Janelle,19.400000,PrimClass,2014-12-01 17:00:00,8.0,12,2014,1,17,...,0,0,1,0,0,0,0,0,0,1
18,1201.0,PrimClass_Janelle,15.900000,PrimClass,2014-12-01 18:00:00,8.0,12,2014,1,18,...,0,0,1,0,0,0,0,0,0,1
19,1201.0,PrimClass_Janelle,3.400000,PrimClass,2014-12-01 19:00:00,8.0,12,2014,1,19,...,0,0,1,0,0,0,0,0,0,1
20,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-01 20:00:00,8.0,12,2014,1,20,...,0,0,1,0,0,0,0,0,0,1
21,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-01 21:00:00,8.0,12,2014,1,21,...,0,0,1,0,0,0,0,0,0,1
22,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-01 22:00:00,8.0,12,2014,1,22,...,1,0,1,0,0,0,0,0,0,1
23,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-01 23:00:00,8.0,12,2014,1,23,...,0,1,1,0,0,0,0,0,0,1
24,1201.0,PrimClass_Janelle,2.400000,PrimClass,2014-12-02 00:00:00,8.0,12,2014,2,0,...,0,0,0,1,0,0,0,0,0,1
25,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-02 01:00:00,8.0,12,2014,2,1,...,0,0,0,1,0,0,0,0,0,1
26,1201.0,PrimClass_Janelle,2.700000,PrimClass,2014-12-02 02:00:00,8.0,12,2014,2,2,...,0,0,0,1,0,0,0,0,0,1
27,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-02 03:00:00,8.0,12,2014,2,3,...,0,0,0,1,0,0,0,0,0,1
28,1201.0,PrimClass_Janelle,2.800000,PrimClass,2014-12-02 04:00:00,8.0,12,2014,2,4,...,0,0,0,1,0,0,0,0,0,1
29,1201.0,PrimClass_Janelle,3.100000,PrimClass,2014-12-02 05:00:00,8.0,12,2014,2,5,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166353,1065.0,PrimClass_Judy,2.500000,PrimClass,2015-11-29 18:00:00,12.0,11,2015,29,18,...,0,0,0,0,0,0,0,0,1,1
166354,1065.0,PrimClass_Judy,2.500000,PrimClass,2015-11-29 19:00:00,11.0,11,2015,29,19,...,0,0,0,0,0,0,0,0,1,1
166355,1065.0,PrimClass_Judy,2.400000,PrimClass,2015-11-29 20:00:00,10.0,11,2015,29,20,...,0,0,0,0,0,0,0,0,1,1
166356,1065.0,PrimClass_Judy,2.300000,PrimClass,2015-11-29 21:00:00,10.0,11,2015,29,21,...,0,0,0,0,0,0,0,0,1,1
166357,1065.0,PrimClass_Judy,1.500000,PrimClass,2015-11-29 22:00:00,9.0,11,2015,29,22,...,1,0,0,0,0,0,0,0,1,1
166358,1065.0,PrimClass_Judy,1.700000,PrimClass,2015-11-29 23:00:00,9.0,11,2015,29,23,...,0,1,0,0,0,0,0,0,1,1
166359,1065.0,PrimClass_Judy,1.600000,PrimClass,2015-11-30 00:00:00,8.0,11,2015,30,0,...,0,0,1,0,0,0,0,0,0,1
166360,1065.0,PrimClass_Judy,1.500000,PrimClass,2015-11-30 01:00:00,8.0,11,2015,30,1,...,0,0,1,0,0,0,0,0,0,1
166361,1065.0,PrimClass_Judy,1.500000,PrimClass,2015-11-30 02:00:00,8.0,11,2015,30,2,...,0,0,1,0,0,0,0,0,0,1
166362,1065.0,PrimClass_Judy,1.600000,PrimClass,2015-11-30 03:00:00,8.0,11,2015,30,3,...,0,0,1,0,0,0,0,0,0,1
166363,1065.0,PrimClass_Judy,1.500000,PrimClass,2015-11-30 04:00:00,11.0,11,2015,30,4,...,0,0,1,0,0,0,0,0,0,1
166364,1065.0,PrimClass_Judy,1.600000,PrimClass,2015-11-30 05:00:00,11.0,11,2015,30,5,...,0,0,1,0,0,0,0,0,0,1
166365,1065.0,PrimClass_Judy,2.100000,PrimClass,2015-11-30 06:00:00,12.0,11,2015,30,6,...,0,0,1,0,0,0,0,0,0,1
166366,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-11-30 07:00:00,11.0,11,2015,30,7,...,0,0,1,0,0,0,0,0,0,1
166367,1065.0,PrimClass_Judy,4.500000,PrimClass,2015-11-30 08:00:00,11.0,11,2015,30,8,...,0,0,1,0,0,0,0,0,0,1
166368,1065.0,PrimClass_Judy,15.700000,PrimClass,2015-11-30 09:00:00,12.0,11,2015,30,9,...,0,0,1,0,0,0,0,0,0,1
166369,1065.0,PrimClass_Judy,15.600000,PrimClass,2015-11-30 10:00:00,11.0,11,2015,30,10,...,0,0,1,0,0,0,0,0,0,1
166370,1065.0,PrimClass_Judy,14.000000,PrimClass,2015-11-30 11:00:00,12.0,11,2015,30,11,...,0,0,1,0,0,0,0,0,0,1
166371,1065.0,PrimClass_Judy,15.300000,PrimClass,2015-11-30 12:00:00,12.0,11,2015,30,12,...,0,0,1,0,0,0,0,0,0,1
166372,1065.0,PrimClass_Judy,17.700000,PrimClass,2015-11-30 13:00:00,12.0,11,2015,30,13,...,0,0,1,0,0,0,0,0,0,1
166373,1065.0,PrimClass_Judy,15.000001,PrimClass,2015-11-30 14:00:00,12.0,11,2015,30,14,...,0,0,1,0,0,0,0,0,0,1
166374,1065.0,PrimClass_Judy,11.500000,PrimClass,2015-11-30 15:00:00,12.0,11,2015,30,15,...,0,0,1,0,0,0,0,0,0,1
166375,1065.0,PrimClass_Judy,10.700000,PrimClass,2015-11-30 16:00:00,12.0,11,2015,30,16,...,0,0,1,0,0,0,0,0,0,1
166376,1065.0,PrimClass_Judy,9.700000,PrimClass,2015-11-30 17:00:00,12.0,11,2015,30,17,...,0,0,1,0,0,0,0,0,0,1
166377,1065.0,PrimClass_Judy,6.000000,PrimClass,2015-11-30 18:00:00,12.0,11,2015,30,18,...,0,0,1,0,0,0,0,0,0,1
166378,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-11-30 19:00:00,12.0,11,2015,30,19,...,0,0,1,0,0,0,0,0,0,1
166379,1065.0,PrimClass_Judy,2.500000,PrimClass,2015-11-30 20:00:00,12.0,11,2015,30,20,...,0,0,1,0,0,0,0,0,0,1
166380,1065.0,PrimClass_Judy,2.400000,PrimClass,2015-11-30 21:00:00,12.0,11,2015,30,21,...,0,0,1,0,0,0,0,0,0,1
166381,1065.0,PrimClass_Judy,1.500000,PrimClass,2015-11-30 22:00:00,12.0,11,2015,30,22,...,1,0,1,0,0,0,0,0,0,1
166382,1065.0,PrimClass_Judy,1.700000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,0,1,1,0,0,0,0,0,0,1

In [4]:
def make_LSTM_data(df):
    '''
    for each building in dataframe df, take 3 months for input and 9 months for evaluating the model
    the split day is taken randomly
    '''
    buildings = df['building_name'].unique() #list of name of buildings
    num_buildings = len(buildings) # number of buildings
    num_obs = len(df) // num_buildings #number of observations per uilding
    three_months_hours = 24*90 #three months in hour
    nine_months_hours = len(df) - three_months_hours #nine month is defined to be the rest
    #make a long dataframe by duplicating
    for _ in range(2):
        df = pd.concat([df, df], ignore_index=True)
    #sort by building and index
    df = df.rename_axis('index').sort_values(['building_name', 'index']).reset_index(drop=True)
    X = pd.DataFrame() #data for fitting which contains three months data
    Y = pd.DataFrame() #data for evaluating which contains nine months data
    for building in buildings:
        start_day = datetime.timedelta(np.random.randint(low=0, high=num_obs//24)) #randomly pick a startday
        first_day = df[df['building_name']==building]['timestamp'].iloc[0]
        start_day = first_day + start_day
        start_idx = df[(df['building_name']==building) & (df['timestamp']==start_day)].index[0] #index of the start day
        x = df.iloc[start_idx: start_idx+three_months_hours] #three months data
        X = pd.concat([X, x], axis=0)
        y = df.iloc[start_idx+three_months_hours: start_idx+num_obs] #nine months data
        Y = pd.concat([Y, y], axis=0)
    return X, Y

In [5]:
X, Y = make_LSTM_data(test)

In [6]:
X

,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,hour,...,hour_22,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass
7726,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-10-19 00:00:00,12.0,10,2015,19,0,...,0,0,1,0,0,0,0,0,0,1
7727,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-10-19 01:00:00,12.0,10,2015,19,1,...,0,0,1,0,0,0,0,0,0,1
7728,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-10-19 02:00:00,12.0,10,2015,19,2,...,0,0,1,0,0,0,0,0,0,1
7729,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-10-19 03:00:00,11.0,10,2015,19,3,...,0,0,1,0,0,0,0,0,0,1
7730,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-10-19 04:00:00,11.0,10,2015,19,4,...,0,0,1,0,0,0,0,0,0,1
7731,1201.0,PrimClass_Janelle,2.600000,PrimClass,2015-10-19 05:00:00,11.0,10,2015,19,5,...,0,0,1,0,0,0,0,0,0,1
7732,1201.0,PrimClass_Janelle,15.100000,PrimClass,2015-10-19 06:00:00,11.0,10,2015,19,6,...,0,0,1,0,0,0,0,0,0,1
7733,1201.0,PrimClass_Janelle,17.700000,PrimClass,2015-10-19 07:00:00,11.0,10,2015,19,7,...,0,0,1,0,0,0,0,0,0,1
7734,1201.0,PrimClass_Janelle,26.600000,PrimClass,2015-10-19 08:00:00,11.0,10,2015,19,8,...,0,0,1,0,0,0,0,0,0,1
7735,1201.0,PrimClass_Janelle,24.200000,PrimClass,2015-10-19 09:00:00,11.0,10,2015,19,9,...,0,0,1,0,0,0,0,0,0,1
7736,1201.0,PrimClass_Janelle,22.900000,PrimClass,2015-10-19 10:00:00,12.0,10,2015,19,10,...,0,0,1,0,0,0,0,0,0,1
7737,1201.0,PrimClass_Janelle,24.200000,PrimClass,2015-10-19 11:00:00,12.0,10,2015,19,11,...,0,0,1,0,0,0,0,0,0,1
7738,1201.0,PrimClass_Janelle,18.700000,PrimClass,2015-10-19 12:00:00,13.0,10,2015,19,12,...,0,0,1,0,0,0,0,0,0,1
7739,1201.0,PrimClass_Janelle,20.400000,PrimClass,2015-10-19 13:00:00,13.0,10,2015,19,13,...,0,0,1,0,0,0,0,0,0,1
7740,1201.0,PrimClass_Janelle,18.300000,PrimClass,2015-10-19 14:00:00,14.0,10,2015,19,14,...,0,0,1,0,0,0,0,0,0,1
7741,1201.0,PrimClass_Janelle,14.800000,PrimClass,2015-10-19 15:00:00,15.0,10,2015,19,15,...,0,0,1,0,0,0,0,0,0,1
7742,1201.0,PrimClass_Janelle,11.300000,PrimClass,2015-10-19 16:00:00,12.0,10,2015,19,16,...,0,0,1,0,0,0,0,0,0,1
7743,1201.0,PrimClass_Janelle,7.700000,PrimClass,2015-10-19 17:00:00,12.0,10,2015,19,17,...,0,0,1,0,0,0,0,0,0,1
7744,1201.0,PrimClass_Janelle,2.400000,PrimClass,2015-10-19 18:00:00,12.0,10,2015,19,18,...,0,0,1,0,0,0,0,0,0,1
7745,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-19 19:00:00,12.0,10,2015,19,19,...,0,0,1,0,0,0,0,0,0,1
7746,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-19 20:00:00,11.0,10,2015,19,20,...,0,0,1,0,0,0,0,0,0,1
7747,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-19 21:00:00,12.0,10,2015,19,21,...,0,0,1,0,0,0,0,0,0,1
7748,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-10-19 22:00:00,11.0,10,2015,19,22,...,1,0,1,0,0,0,0,0,0,1
7749,1201.0,PrimClass_Janelle,2.300000,PrimClass,2015-10-19 23:00:00,11.0,10,2015,19,23,...,0,1,1,0,0,0,0,0,0,1
7750,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-20 00:00:00,11.0,10,2015,20,0,...,0,0,0,1,0,0,0,0,0,1
7751,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-20 01:00:00,11.0,10,2015,20,1,...,0,0,0,1,0,0,0,0,0,1
7752,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-20 02:00:00,11.0,10,2015,20,2,...,0,0,0,1,0,0,0,0,0,1
7753,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-10-20 03:00:00,10.0,10,2015,20,3,...,0,0,0,1,0,0,0,0,0,1
7754,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-10-20 04:00:00,9.0,10,2015,20,4,...,0,0,0,1,0,0,0,0,0,1
7755,1201.0,PrimClass_Janelle,2.300000,PrimClass,2015-10-20 05:00:00,8.0,10,2015,20,5,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640767,1065.0,PrimClass_Judy,2.200000,PrimClass,2015-02-01 19:00:00,0.0,2,2015,1,19,...,0,0,0,0,0,0,0,0,1,1
640768,1065.0,PrimClass_Judy,3.000000,PrimClass,2015-02-01 20:00:00,1.0,2,2015,1,20,...,0,0,0,0,0,0,0,0,1,1
640769,1065.0,PrimClass_Judy,3.600000,PrimClass,2015-02-01 21:00:00,0.0,2,2015,1,21,...,0,0,0,0,0,0,0,0,1,1
640770,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-01 22:00:00,0.0,2,2015,1,22,...,1,0,0,0,0,0,0,0,1,1
640771,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-01 23:00:00,-1.0,2,2015,1,23,...,0,1,0,0,0,0,0,0,1,1
640772,1065.0,PrimClass_Judy,3.300000,PrimClass,2015-02-02 00:00:00,-1.0,2,2015,2,0,...,0,0,1,0,0,0,0,0,0,1
640773,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-02 01:00:00,-1.0,2,2015,2,1,...,0,0,1,0,0,0,0,0,0,1
640774,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-02 02:00:00,-1.0,2,2015,2,2,...,0,0,1,0,0,0,0,0,0,1
640775,1065.0,PrimClass_Judy,2.600000,PrimClass,2015-02-02 03:00:00,-1.0,2,2015,2,3,...,0,0,1,0,0,0,0,0,0,1
640776,1065.0,PrimClass_Judy,2.600000,PrimClass,2015-02-02 04:00:00,-2.0,2,2015,2,4,...,0,0,1,0,0,0,0,0,0,1
640777,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-02 05:00:00,-2.0,2,2015,2,5,...,0,0,1,0,0,0,0,0,0,1
640778,1065.0,PrimClass_Judy,2.600000,PrimClass,2015-02-02 06:00:00,-2.0,2,2015,2,6,...,0,0,1,0,0,0,0,0,0,1
640779,1065.0,PrimClass_Judy,2.700000,PrimClass,2015-02-02 07:00:00,-1.0,2,2015,2,7,...,0,0,1,0,0,0,0,0,0,1
640780,1065.0,PrimClass_Judy,5.800000,PrimClass,2015-02-02 08:00:00,0.0,2,2015,2,8,...,0,0,1,0,0,0,0,0,0,1
640781,1065.0,PrimClass_Judy,19.400000,PrimClass,2015-02-02 09:00:00,0.0,2,2015,2,9,...,0,0,1,0,0,0,0,0,0,1
640782,1065.0,PrimClass_Judy,17.067500,PrimClass,2015-02-02 10:00:00,1.0,2,2015,2,10,...,0,0,1,0,0,0,0,0,0,1
640783,1065.0,PrimClass_Judy,17.300000,PrimClass,2015-02-02 11:00:00,3.0,2,2015,2,11,...,0,0,1,0,0,0,0,0,0,1
640784,1065.0,PrimClass_Judy,18.400001,PrimClass,2015-02-02 12:00:00,4.0,2,2015,2,12,...,0,0,1,0,0,0,0,0,0,1
640785,1065.0,PrimClass_Judy,19.299999,PrimClass,2015-02-02 13:00:00,4.0,2,2015,2,13,...,0,0,1,0,0,0,0,0,0,1
640786,1065.0,PrimClass_Judy,18.200000,PrimClass,2015-02-02 14:00:00,3.0,2,2015,2,14,...,0,0,1,0,0,0,0,0,0,1
640787,1065.0,PrimClass_Judy,16.800000,PrimClass,2015-02-02 15:00:00,3.0,2,2015,2,15,...,0,0,1,0,0,0,0,0,0,1
640788,1065.0,PrimClass_Judy,14.700000,PrimClass,2015-02-02 16:00:00,3.0,2,2015,2,16,...,0,0,1,0,0,0,0,0,0,1
640789,1065.0,PrimClass_Judy,10.700000,PrimClass,2015-02-02 17:00:00,2.0,2,2015,2,17,...,0,0,1,0,0,0,0,0,0,1
640790,1065.0,PrimClass_Judy,6.200000,PrimClass,2015-02-02 18:00:00,1.0,2,2015,2,18,...,0,0,1,0,0,0,0,0,0,1
640791,1065.0,PrimClass_Judy,5.000000,PrimClass,2015-02-02 19:00:00,1.0,2,2015,2,19,...,0,0,1,0,0,0,0,0,0,1
640792,1065.0,PrimClass_Judy,3.600000,PrimClass,2015-02-02 20:00:00,0.0,2,2015,2,20,...,0,0,1,0,0,0,0,0,0,1
640793,1065.0,PrimClass_Judy,3.500000,PrimClass,2015-02-02 21:00:00,0.0,2,2015,2,21,...,0,0,1,0,0,0,0,0,0,1
640794,1065.0,PrimClass_Judy,3.600000,PrimClass,2015-02-02 22:00:00,0.0,2,2015,2,22,...,1,0,1,0,0,0,0,0,0,1
640795,1065.0,PrimClass_Judy,3.700000,PrimClass,2015-02-02 23:00:00,0.0,2,2015,2,23,...,0,1,1,0,0,0,0,0,0,1
640796,1065.0,PrimClass_Judy,3.700000,PrimClass,2015-02-03 00:00:00,0.0,2,2015,3,0,...,0,0,0,1,0,0,0,0,0,1

In [7]:
Y

,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,hour,...,hour_22,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass
9886,1201.0,PrimClass_Janelle,2.200000,PrimClass,2015-01-17 02:00:00,4.0,1,2015,17,2,...,0,0,0,0,0,0,0,1,0,1
9887,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-17 03:00:00,4.0,1,2015,17,3,...,0,0,0,0,0,0,0,1,0,1
9888,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 04:00:00,4.0,1,2015,17,4,...,0,0,0,0,0,0,0,1,0,1
9889,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-17 05:00:00,4.0,1,2015,17,5,...,0,0,0,0,0,0,0,1,0,1
9890,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 06:00:00,3.0,1,2015,17,6,...,0,0,0,0,0,0,0,1,0,1
9891,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-17 07:00:00,3.0,1,2015,17,7,...,0,0,0,0,0,0,0,1,0,1
9892,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 08:00:00,2.0,1,2015,17,8,...,0,0,0,0,0,0,0,1,0,1
9893,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-17 09:00:00,3.0,1,2015,17,9,...,0,0,0,0,0,0,0,1,0,1
9894,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 10:00:00,4.0,1,2015,17,10,...,0,0,0,0,0,0,0,1,0,1
9895,1201.0,PrimClass_Janelle,2.400000,PrimClass,2015-01-17 11:00:00,4.0,1,2015,17,11,...,0,0,0,0,0,0,0,1,0,1
9896,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-17 12:00:00,6.0,1,2015,17,12,...,0,0,0,0,0,0,0,1,0,1
9897,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 13:00:00,7.0,1,2015,17,13,...,0,0,0,0,0,0,0,1,0,1
9898,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 14:00:00,6.0,1,2015,17,14,...,0,0,0,0,0,0,0,1,0,1
9899,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 15:00:00,6.0,1,2015,17,15,...,0,0,0,0,0,0,0,1,0,1
9900,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 16:00:00,5.0,1,2015,17,16,...,0,0,0,0,0,0,0,1,0,1
9901,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 17:00:00,4.0,1,2015,17,17,...,0,0,0,0,0,0,0,1,0,1
9902,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 18:00:00,4.0,1,2015,17,18,...,0,0,0,0,0,0,0,1,0,1
9903,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 19:00:00,5.0,1,2015,17,19,...,0,0,0,0,0,0,0,1,0,1
9904,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 20:00:00,5.0,1,2015,17,20,...,0,0,0,0,0,0,0,1,0,1
9905,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 21:00:00,5.0,1,2015,17,21,...,0,0,0,0,0,0,0,1,0,1
9906,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 22:00:00,5.0,1,2015,17,22,...,1,0,0,0,0,0,0,1,0,1
9907,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-17 23:00:00,4.0,1,2015,17,23,...,0,1,0,0,0,0,0,1,0,1
9908,1201.0,PrimClass_Janelle,2.600000,PrimClass,2015-01-18 00:00:00,4.0,1,2015,18,0,...,0,0,0,0,0,0,0,0,1,1
9909,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-18 01:00:00,4.0,1,2015,18,1,...,0,0,0,0,0,0,0,0,1,1
9910,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-18 02:00:00,3.0,1,2015,18,2,...,0,0,0,0,0,0,0,0,1,1
9911,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-18 03:00:00,4.0,1,2015,18,3,...,0,0,0,0,0,0,0,0,1,1
9912,1201.0,PrimClass_Janelle,2.100000,PrimClass,2015-01-18 04:00:00,4.0,1,2015,18,4,...,0,0,0,0,0,0,0,0,1,1
9913,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-18 05:00:00,2.0,1,2015,18,5,...,0,0,0,0,0,0,0,0,1,1
9914,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-18 06:00:00,1.0,1,2015,18,6,...,0,0,0,0,0,0,0,0,1,1
9915,1201.0,PrimClass_Janelle,2.000000,PrimClass,2015-01-18 07:00:00,1.0,1,2015,18,7,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647364,1065.0,PrimClass_Judy,6.800000,PrimClass,2015-11-03 18:00:00,11.0,11,2015,3,18,...,0,0,0,1,0,0,0,0,0,1
647365,1065.0,PrimClass_Judy,3.100000,PrimClass,2015-11-03 19:00:00,11.0,11,2015,3,19,...,0,0,0,1,0,0,0,0,0,1
647366,1065.0,PrimClass_Judy,4.400000,PrimClass,2015-11-03 20:00:00,12.0,11,2015,3,20,...,0,0,0,1,0,0,0,0,0,1
647367,1065.0,PrimClass_Judy,5.500000,PrimClass,2015-11-03 21:00:00,12.0,11,2015,3,21,...,0,0,0,1,0,0,0,0,0,1
647368,1065.0,PrimClass_Judy,4.500000,PrimClass,2015-11-03 22:00:00,13.0,11,2015,3,22,...,1,0,0,1,0,0,0,0,0,1
647369,1065.0,PrimClass_Judy,4.500000,PrimClass,2015-11-03 23:00:00,13.0,11,2015,3,23,...,0,1,0,1,0,0,0,0,0,1
647370,1065.0,PrimClass_Judy,4.900000,PrimClass,2015-11-04 00:00:00,12.0,11,2015,4,0,...,0,0,0,0,1,0,0,0,0,1
647371,1065.0,PrimClass_Judy,4.500000,PrimClass,2015-11-04 01:00:00,12.0,11,2015,4,1,...,0,0,0,0,1,0,0,0,0,1
647372,1065.0,PrimClass_Judy,4.000000,PrimClass,2015-11-04 02:00:00,12.0,11,2015,4,2,...,0,0,0,0,1,0,0,0,0,1
647373,1065.0,PrimClass_Judy,4.400000,PrimClass,2015-11-04 03:00:00,12.0,11,2015,4,3,...,0,0,0,0,1,0,0,0,0,1
647374,1065.0,PrimClass_Judy,4.800000,PrimClass,2015-11-04 04:00:00,12.0,11,2015,4,4,...,0,0,0,0,1,0,0,0,0,1
647375,1065.0,PrimClass_Judy,3.200000,PrimClass,2015-11-04 05:00:00,12.0,11,2015,4,5,...,0,0,0,0,1,0,0,0,0,1
647376,1065.0,PrimClass_Judy,2.800000,PrimClass,2015-11-04 06:00:00,12.0,11,2015,4,6,...,0,0,0,0,1,0,0,0,0,1
647377,1065.0,PrimClass_Judy,3.300000,PrimClass,2015-11-04 07:00:00,12.0,11,2015,4,7,...,0,0,0,0,1,0,0,0,0,1
647378,1065.0,PrimClass_Judy,4.700000,PrimClass,2015-11-04 08:00:00,12.0,11,2015,4,8,...,0,0,0,0,1,0,0,0,0,1
647379,1065.0,PrimClass_Judy,16.700000,PrimClass,2015-11-04 09:00:00,12.0,11,2015,4,9,...,0,0,0,0,1,0,0,0,0,1
647380,1065.0,PrimClass_Judy,17.800000,PrimClass,2015-11-04 10:00:00,13.0,11,2015,4,10,...,0,0,0,0,1,0,0,0,0,1
647381,1065.0,PrimClass_Judy,16.000000,PrimClass,2015-11-04 11:00:00,13.0,11,2015,4,11,...,0,0,0,0,1,0,0,0,0,1
647382,1065.0,PrimClass_Judy,18.500000,PrimClass,2015-11-04 12:00:00,14.0,11,2015,4,12,...,0,0,0,0,1,0,0,0,0,1
647383,1065.0,PrimClass_Judy,16.900000,PrimClass,2015-11-04 13:00:00,14.0,11,2015,4,13,...,0,0,0,0,1,0,0,0,0,1
647384,1065.0,PrimClass_Judy,13.500001,PrimClass,2015-11-04 14:00:00,14.0,11,2015,4,14,...,0,0,0,0,1,0,0,0,0,1
647385,1065.0,PrimClass_Judy,13.500000,PrimClass,2015-11-04 15:00:00,14.0,11,2015,4,15,...,0,0,0,0,1,0,0,0,0,1
647386,1065.0,PrimClass_Judy,11.900000,PrimClass,2015-11-04 16:00:00,13.0,11,2015,4,16,...,0,0,0,0,1,0,0,0,0,1
647387,1065.0,PrimClass_Judy,8.700000,PrimClass,2015-11-04 17:00:00,13.0,11,2015,4,17,...,0,0,0,0,1,0,0,0,0,1
647388,1065.0,PrimClass_Judy,7.400000,PrimClass,2015-11-04 18:00:00,13.0,11,2015,4,18,...,0,0,0,0,1,0,0,0,0,1
647389,1065.0,PrimClass_Judy,4.500000,PrimClass,2015-11-04 19:00:00,12.0,11,2015,4,19,...,0,0,0,0,1,0,0,0,0,1
647390,1065.0,PrimClass_Judy,4.700000,PrimClass,2015-11-04 20:00:00,12.0,11,2015,4,20,...,0,0,0,0,1,0,0,0,0,1
647391,1065.0,PrimClass_Judy,5.900000,PrimClass,2015-11-04 21:00:00,12.0,11,2015,4,21,...,0,0,0,0,1,0,0,0,0,1
647392,1065.0,PrimClass_Judy,5.000000,PrimClass,2015-11-04 22:00:00,13.0,11,2015,4,22,...,1,0,0,0,1,0,0,0,0,1
647393,1065.0,PrimClass_Judy,5.100000,PrimClass,2015-11-04 23:00:00,13.0,11,2015,4,23,...,0,1,0,0,1,0,0,0,0,1