In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import dateutil.parser
from numpy import random
random.seed(123)

In [2]:
elec_path = '../data/processed/temp_open_utc_complete.csv'

In [3]:
meta_path = '../data/raw/meta_open.csv'

In [4]:
weather_path = '../data/external/weather/weather1.csv'

In [5]:
def cutoff_minute(dt):
    '''
    INPUT
    a datetime object has year, month, day, hour, and minute
    OUTPUT
    a datetime object has year, month, day, and hour
    '''
    year = dt.year
    month = dt.month
    day = dt.day
    hour = dt.hour
    return datetime.datetime(year, month, day, hour)

def make_dataset(elec_path, meta_path, weather_path, weather_file, industry):
    '''
    INPUT
    elec_path: path to timeseries data of electricity meter (temp_open_utc_complete.csv)
    meta: path to meta data table (meta_open.csv)
    weather: path to weather data table (weatherX.csv)
    weather_file: name of the weather file
    industry: name of undustry to focus on
    OUTPUT
    A dataframe in which each record represents a building at a certain time
    columns =[
    building_name: name of the building from meta, str
    month: one-hot coded
    day: from elec, int
    day_of_the_week: one-hot coded
    hour: from elec, hour from weather is converted to the nearest :00, int
    area: from meta, float
    primary_space_usage: from meta (primaryspaceuse_abbrev), one-hot coded
    electricity: from elec
    temperature: from weather
    ]
    ------------------------------------------------------------------------------------------------------------------------------------------
    comment:
    -humidity is sometimes missing in weather table
    '''
    #read tables
    elec = pd.read_csv(elec_path)
    meta = pd.read_csv(meta_path)
    weather = pd.read_csv(weather_path)
    #set 'uid' as index in meta
    meta = meta.set_index('uid')
    #parse date
    weather['timestamp'] = weather['timestamp'].apply(dateutil.parser.parse)
    elec['timestamp'] = elec['timestamp'].apply(dateutil.parser.parse)
    #construct the dataframe to return
    buildings = list(meta[(meta['newweatherfilename'] == weather_file) & (meta['industry']==industry)].index) #name of the buildings
    df = pd.DataFrame(columns=['building_name', 'timestamp', 'electricity', 'area', 'primary_space_usage']) #empty dataframe with 3 columns
    for building in buildings:
        subdf = elec[['timestamp', building]]
        subdf.columns = ['timestamp', 'electricity']
        subdf['building_name'] = building
        subdf['area'] = meta.loc[building, 'sqm']
        subdf['primary_space_usage'] = meta.loc[building, 'primaryspaceuse_abbrev']
        df = pd.concat([df, subdf], axis=0, ignore_index=True)
    #df has 'building_name', timestamp, electricity meter, area, primary space usage
    print('OK1')
    weather['rounded_timestamp'] = weather['timestamp'].apply(cutoff_minute) #cutoff_minute is implemented separately
    weather = weather.groupby('rounded_timestamp').first() #only the first observation in each hour is taken
    weather = weather['TemperatureC'] #only need temperature column
    print('OK2')
    df['timestamp'] = df['timestamp'].apply(cutoff_minute)#drop time zone info
    df = df.join(weather, on='timestamp', how='inner', lsuffix='elec', rsuffix='weather') #join temperature data from weather table
    #df = add_month_day_hour(df) #to do
    #df = add_day_of_the_week()
    return df.reset_index()

In [38]:
def make_dataset(elec_path, meta_path, weather_path, weather_file, industry):
    '''
    INPUT
    elec_path: path to timeseries data of electricity meter (temp_open_utc_complete.csv)
    meta: path to meta data table (meta_open.csv)
    weather: path to weather data table (weatherX.csv)
    weather_file: name of the weather file
    industry: name of undustry to focus on
    OUTPUT
    A dataframe in which each record represents a building at a certain time
    columns =[
    building_name: name of the building from meta, str
    month: one-hot encoded
    day: from elec, int
    day_of_the_week: one-hot encoded
    hour: from elec, hour from weather is converted to the nearest :00, int
    area: from meta, float
    primary_space_usage: from meta (primaryspaceuse_abbrev), one-hot encoded
    electricity: from elec
    temperature: from weather
    ]
    ------------------------------------------------------------------------------------------------------------------------------------------
    comment:
    -humidity is sometimes missing in weather table
    '''
    #read tables
    elec = pd.read_csv(elec_path)
    meta = pd.read_csv(meta_path)
    weather = pd.read_csv(weather_path)

    #set 'uid' as index in meta
    meta = meta.set_index('uid')

    #parse date
    weather['timestamp'] = weather['timestamp'].apply(dateutil.parser.parse) #changing timestamp from string to date time
    elec['timestamp'] = elec['timestamp'].apply(dateutil.parser.parse) # ""

    #construct the dataframe to return
    # Use the inputted Industry to pull all buildings from that industry
    buildings = list(meta[(meta['newweatherfilename'] == weather_file) & (meta['industry']==industry)].index) 

    #Creat an empty dataframe with 5 columns
    df = pd.DataFrame(columns=['building_name', 'timestamp', 'electricity', 'area', 'primary_space_usage']) 

    #for now, this loop is fine, but maybe rewrite to make code faster/ look for function in pandas
    for building in buildings:
    #filename followed by [['column name']] selects specific columns in datafram
        subdf = elec[['timestamp', building]] #extracting the timestamp and electricity data from all buildings in electricity table
        subdf.columns = ['timestamp', 'electricity'] #naming columns
        subdf['building_name'] = building #non temporal column with building name, all same entry
        subdf['area'] = meta.loc[building, 'sqm'] #"" making new column called area
        subdf['primary_space_usage'] = meta.loc[building, 'primaryspaceuse_abbrev']
        df = pd.concat([df, subdf], axis=0, ignore_index=True) #combining the two tables. Where axis =0 puts the table under the first one, axis = 1 puts the table to the right 
        #df has 'building_name', timestamp, electricity meter, area, primary space usage
        # The timestamps are not matched up in the minutes between external and building data, cutoff the minutes and just match to hour 
        weather['rounded_timestamp'] = weather['timestamp'].apply(cutoff_minute) 
        #cutoff_minute is a function that is implemented below
    weather = weather.groupby('rounded_timestamp').first() #only the first observation in each hour is taken
    weather = weather['TemperatureC'] #only need temperature column

    df['timestamp'] = df['timestamp'].apply(cutoff_minute) #to drop timezone information
    df = df.join(weather, on='timestamp', how='inner', lsuffix='elec', rsuffix='weather') #join temperature data from weather table 
    #join aligns the tables by the timestamp index, instead of merely merging them, so that each instinance of a timestamp for each building has weather data

    #Adding columns for the month, year, date, hour, and weekday
    df['month']=df['timestamp'].apply(lambda x: x.month)
    df['year']=df['timestamp'].apply(lambda x: x.year)
    df['date']=df['timestamp'].apply(lambda x: x.day)
    df['hour']=df['timestamp'].apply(lambda x: x.hour)
    df['weekday']=df['timestamp'].apply(lambda x: x.dayofweek)

    #One-hot encode for month, year, date, hour, and weekday is pd.get_dummies
    #combining df with one-hot encodes the tables.  axis =1 puts the table under the first one, axis = 0 puts the table to the right 
    df.reset_index()
    df = pd.concat([df, pd.get_dummies(df['month'], prefix='month')],axis=1) 
    df = pd.concat([df, pd.get_dummies(df['date'], prefix='date')], axis=1) 
    df = pd.concat([df, pd.get_dummies(df['hour'], prefix='hour')], axis=1) 
    df = pd.concat([df, pd.get_dummies(df['weekday'], prefix='wkday')], axis=1) 
    df = pd.concat([df, pd.get_dummies(df['primary_space_usage'], prefix='PSU')], axis=1) 
    return df.reset_index(drop=True)

In [39]:
df = make_dataset(elec_path, meta_path, weather_path, 'weather1.csv', 'Education')
display(df)

c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\yalex\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:53: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,hour,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,2927.0,PrimClass_Jolie,0.700000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
1,4373.0,PrimClass_Jaylin,1.100000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
2,2132.0,PrimClass_Jayla,2.000000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
3,2937.0,PrimClass_Janiya,2.300000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
4,2152.0,PrimClass_Janice,1.400000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
5,2572.0,PrimClass_Jaden,2.763000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
6,2154.0,PrimClass_Jermaine,2.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
7,3984.0,PrimClass_Josephine,4.700000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
8,1877.0,PrimClass_Javier,2.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
9,2939.0,PrimClass_Jaylinn,3.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
10,2619.0,PrimClass_Johanna,3.800000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
11,2570.0,PrimClass_Jodie,3.400000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
12,2815.0,PrimClass_Johnathan,5.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
13,736.0,PrimClass_Janis,1.100000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
14,1123.0,PrimClass_Jose,2.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
15,3211.0,PrimClass_Julianna,4.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
16,2555.0,PrimClass_Jasmine,5.300000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
17,2061.0,PrimClass_Jazmine,3.100000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
18,2418.0,PrimClass_Jody,5.700000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
19,2403.0,PrimClass_Julianne,3.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
20,11710.0,PrimClass_Justice,25.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
21,2678.0,PrimClass_Jean,4.200000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
22,1205.0,PrimClass_Judith,2.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
23,3157.0,PrimClass_Jessie,5.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
24,2961.0,PrimClass_Joselyn,7.400000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
25,1065.0,PrimClass_Judy,1.400000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
26,2708.0,PrimClass_Jarrett,5.700000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
27,1086.0,PrimClass_Jeff,3.000000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
28,1737.0,PrimClass_Julian,3.718000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
29,2991.0,PrimClass_Jeanine,5.900000,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604203,2164.0,PrimClass_Jennifer,6.300000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604204,1468.0,PrimClass_Jesse,3.519000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604205,11955.0,PrimClass_Jaxson,26.700000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604206,3462.0,PrimClass_Jimmie,9.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604207,2215.0,PrimClass_Jayda,5.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604208,1391.0,PrimClass_Jocelyn,3.653000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604209,11201.0,PrimClass_Jeffery,31.900000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604210,12924.0,PrimClass_Jayson,44.200001,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604211,2692.0,PrimClass_Jennie,5.910000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604212,11285.0,PrimClass_Jonathon,54.400000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604213,2193.0,PrimClass_Jaqueline,9.200000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604214,2151.0,PrimClass_Jeremy,5.100000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604215,1584.0,PrimClass_Josue,4.600000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604216,8794.0,PrimClass_Julio,37.099998,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604217,1597.0,PrimClass_Jacquelyn,4.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604218,2844.0,PrimClass_Juanita,6.500000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604219,1295.0,PrimClass_Joel,3.500000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604220,14475.0,PrimClass_Joey,79.399997,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604221,9516.0,PrimClass_Joanna,36.600000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604222,6382.0,PrimClass_Jediah,24.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604223,1201.0,PrimClass_Janelle,2.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604224,11247.0,PrimClass_Jane,48.100000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604225,1589.0,PrimClass_Jon,15.300000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604226,1432.0,PrimClass_Jake,8.786000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604227,1769.0,PrimClass_Johnnie,7.200000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604228,2253.0,PrimClass_Johnathon,10.000000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604229,14868.0,PrimClass_Jamie,94.000000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604230,6149.0,PrimClass_Jacob,33.300000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604231,1047.0,PrimClass_Jazmin,35.400000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0
604232,811.0,PrimClass_Jaiden,9.800000,PrimClass,2015-11-30 23:00:00,12.0,11,2015,30,23,...,1,1,0,0,0,0,0,0,1,0

In [40]:
def train_test(df, meta_path, weather_file, industry):
    meta = pd.read_csv(meta_path)
    #set 'uid' as index in meta
    meta = meta.set_index('uid')
    buildings = list(meta[(meta['newweatherfilename'] == weather_file) & (meta['industry']==industry)].index) 
    np.random.shuffle(buildings)
    train_buildings = buildings[:50]#take 50 buildings
    test_buildings = buildings[50:]#take the others
    df_train = df[df['building_name'].isin(train_buildings)]
    df_test = df[df['building_name'].isin(test_buildings)]
    df_train = df_train.sort_values(['building_name', 'timestamp']).reset_index(drop=True)
    df_test = df_test.sort_values(['building_name', 'timestamp']).reset_index(drop=True)
    df_train.to_csv('../data/weather1_education_train.csv')
    df_test.to_csv('../data/weather1_education_test.csv')

In [41]:
train_test(df, meta_path, 'weather1.csv', 'Education')

In [44]:
train = pd.read_csv('../data/weather1_education_train.csv')
train.head()

,Unnamed: 0,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,0,2777.0,PrimClass_Jacqueline,5.0,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
1,1,2777.0,PrimClass_Jacqueline,5.2,PrimClass,2014-12-01 01:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
2,2,2777.0,PrimClass_Jacqueline,5.2,PrimClass,2014-12-01 02:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
3,3,2777.0,PrimClass_Jacqueline,5.5,PrimClass,2014-12-01 03:00:00,6.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
4,4,2777.0,PrimClass_Jacqueline,6.0,PrimClass,2014-12-01 04:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0

In [45]:
train.shape

(437850, 88)

In [46]:
test = pd.read_csv('../data/weather1_education_test.csv')
test.head()

,Unnamed: 0,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,0,6149.0,PrimClass_Jacob,34.900002,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
1,1,6149.0,PrimClass_Jacob,32.700000,PrimClass,2014-12-01 01:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
2,2,6149.0,PrimClass_Jacob,32.200000,PrimClass,2014-12-01 02:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
3,3,6149.0,PrimClass_Jacob,32.300000,PrimClass,2014-12-01 03:00:00,6.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
4,4,6149.0,PrimClass_Jacob,32.599998,PrimClass,2014-12-01 04:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0

In [47]:
test.shape

(166383, 88)

In [48]:
train['building_name'].unique().shape

(50,)

In [49]:
test['building_name'].unique().shape

(19,)