In [2]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
trainset = pd.read_csv('/Users/cgroschner/Downloads/gdso/weather1_education_train.csv')

In [4]:
trainset.head()

,Unnamed: 0,area,building_name,electricity,primary_space_usage,timestamp,TemperatureC,month,year,date,...,hour_23,wkday_0,wkday_1,wkday_2,wkday_3,wkday_4,wkday_5,wkday_6,PSU_PrimClass,PSU_UnivClass
0,0,2777.0,PrimClass_Jacqueline,5.0,PrimClass,2014-12-01 00:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
1,1,2777.0,PrimClass_Jacqueline,5.2,PrimClass,2014-12-01 01:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
2,2,2777.0,PrimClass_Jacqueline,5.2,PrimClass,2014-12-01 02:00:00,5.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
3,3,2777.0,PrimClass_Jacqueline,5.5,PrimClass,2014-12-01 03:00:00,6.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0
4,4,2777.0,PrimClass_Jacqueline,6.0,PrimClass,2014-12-01 04:00:00,7.0,12,2014,1,...,0,1,0,0,0,0,0,0,1,0

In [10]:
building_names=trainset['building_name'].drop_duplicates()

In [ ]:
def make_input(df,names):
    X_train = []
    Y_train = []
    for n in names:
        sub_df = df[df['building_name']==n]
        X = sub_df[sub_df['month']]
        X_train.append(df[])