In [153]:
import pandas as pd
import numpy as np
import datetime
import dateutil.parser
from glob import glob
import os

In [ ]:
def make_subdataset(elec, meta, weather_path,weather_file):
    #read tables
    print(weather_file)
    weather = pd.read_csv(weather_path+weather_file,parse_dates=['timestamp'])
    #parse date
#     weather['timestamp'] = weather['timestamp'].apply(dateutil.parser.parse)
    weather['rounded_timestamp'] = weather['timestamp'].apply(cutoff_minute)
    weather = weather.groupby('rounded_timestamp').first()
    print(weather.index)#only the first observation in each hour is taken
    weather = weather['TemperatureC']
    #construct the dataframe to return
    buildings = list(meta[(meta['newweatherfilename'] == weather_file)].index)
    print
    #name of the buildings
    df = pd.DataFrame() #empty dataframe with 3 columns
    print(len(buildings))
    if len(buildings) == 0:
        return df
    else:
        for building in buildings:
            subdf = pd.DataFrame()
            subdf = elec[['timestamp', building]]
            subdf.columns = ['timestamp', 'electricity']
            if len(subdf['timestamp'])> 8757:
                subdf = subdf.iloc[:8757]
            subdf['building_name'] = building
            subdf['weather_file'] = weather_file
            subdf['industry'] = meta.loc[building,'industry']
            subdf['area'] = meta.loc[building, 'sqm']
            subdf['primary_space_usage'] = meta.loc[building, 'primaryspaceuse_abbrev']
            df = pd.concat([df, subdf], axis=0, ignore_index=True)
    df['rounded_timestamp'] = df['timestamp'].apply(cutoff_minute)
    df = df.groupby('rounded_timestamp').first()
    print('END SUBDF DF:',df.shape)
    df = df.join(weather.copy(), how='inner', lsuffix='elec', rsuffix='weather') #join temperature data from weather table
    return df

def add_onehot_dates(df):
    df = add_time_columns(df)
    df = pd.concat([df,pd.get_dummies(df['month'], prefix='month')],axis=1)
    df = pd.concat([df,pd.get_dummies(df['date'], prefix='date')],axis=1)
    df = pd.concat([df,pd.get_dummies(df['hour'], prefix='hour')],axis=1)
    df = pd.concat([df,pd.get_dummies(df['weekday'], prefix='weekday')],axis=1)
    return df

def cutoff_minute(dt):
    '''
    INPUT
    a datetime object has year, month, day, hour, and minute
    OUTPUT
    a datetime object has year, month, day, and hour
    '''
    year = dt.year
    month = dt.month
    day = dt.day
    hour = dt.hour
    return datetime.datetime(year, month, day, hour)

In [217]:
def make_dataset(elec, meta, weather_path):
    meta = meta.set_index('uid')
    try:
        elec['timestamp'] = elec['timestamp'].apply(dateutil.parser.parse)
    except:
        pass
    elec['timestamp'] = elec['timestamp'].apply(cutoff_minute)
    weather_list = os.listdir(weather_path)
    weather_list = [w.split('/')[-1] for w in weather_list]
#     meta_files_list = [formeta['newweatherfilename']]
    df = pd.DataFrame()
    for weather_file in weather_list:
        subdf = make_subdataset(elec, meta, weather_path,weather_file)
        print('Dataframe DF:',df.shape,'SubDF:',subdf.shape)
        df = pd.concat([df, subdf], axis=0, ignore_index=True)
        print(df.shape)
    df = pd.concat([df,pd.get_dummies(df['primary_space_usage'], prefix='psu')],axis=1)
    df = add_onehot_dates(df)
    df = df.set_index(['building_name','timestamp']).unstack(1)
    return df

In [214]:
def add_time_columns(df):
    year_list = [y.year for y in df['timestamp']]
    month_list = [y.month for y in df['timestamp']]
    date_list = [y.day for y in df['timestamp']]
    hour_list = [y.hour for y in df['timestamp']]
    weekday_list = [y.weekday() for y in df['timestamp']]
    df['year'] = year_list
    df['month'] = month_list
    df['date'] = date_list
    df['hour'] = hour_list
    df['weekday'] = weekday_list
    return df

In [ ]:
def add_weather_file(df,weather_file):
    weather_list = [weather_file for y in df['timestamp']]
    df['weather_file']

In [210]:
meta = pd.read_csv('/Users/kategroschner/Desktop/the-building-data-genome-project-master/data/raw/meta_open.csv',parse_dates=['dataend','datastart'])
elec = pd.read_csv('/Users/kategroschner/Desktop/the-building-data-genome-project-master/data/processed/temp_open_utc_complete.csv',parse_dates=['timestamp'])

In [28]:
weather_path = '/Users/kategroschner/Desktop/the-building-data-genome-project-master/data/external/weather/'

In [ ]:
df = make_dataset(elec, meta, weather_path)

In [73]:
df.head()

,TemperatureC,area,building_name,date,date_1,date_10,date_11,date_12,date_13,date_14,...,weather_file,weekday,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,year
0,-11.6,7740.770863,Office_Dawn,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,weather13.csv,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2010.0
1,-11.6,10319.386530,Office_Dorian,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,weather13.csv,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2010.0
2,-11.6,14279.191100,UnivLab_Dianna,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,weather13.csv,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2010.0
3,-11.5,7740.770863,Office_Dawn,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,weather13.csv,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2010.0
4,-11.5,10319.386530,Office_Dorian,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,weather13.csv,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2010.0

In [78]:
df['weather_file'].drop_duplicates()

0    weather13.csv
Name: weather_file, dtype: object

In [88]:
q = df[df['building_name']=='Office_Dawn']

In [89]:
len(q)

8725

In [74]:
df.shape

(26175, 89)

In [152]:
meta.head()

,uid,dataend,datastart,energystarscore,heatingtype,industry,mainheatingtype,numberoffloors,occupants,primaryspaceusage,rating,sqft,sqm,subindustry,timezone,yearbuilt,nickname,primaryspaceuse_abbrev,newweatherfilename
0,PrimClass_Everett,2012-12-31 23:00:00,2012-01-01,NaN,NaN,Education,NaN,NaN,NaN,Primary/Secondary Classroom,NaN,105530.0,9804.053590,Primary/Secondary School,America/New_York,NaN,Everett,PrimClass,weather12.csv
1,UnivClass_Clifford,2015-12-31 23:00:00,2015-01-01,NaN,NaN,Education,NaN,NaN,NaN,College Classroom,NaN,56969.0,5292.591007,College/University,America/New_York,1967,Clifford,UnivClass,weather2.csv
2,Office_Elizabeth,2012-12-31 23:00:00,2012-01-01,NaN,NaN,Commercial Property,NaN,NaN,NaN,Office,NaN,294651.0,27373.961850,Commercial Real Estate,America/Los_Angeles,NaN,Elizabeth,Office,weather22.csv
3,Office_Ellie,2012-12-31 23:00:00,2012-01-01,NaN,NaN,Commercial Property,NaN,NaN,NaN,Office,NaN,496517.0,46127.918850,Bank/Financial Services,America/Los_Angeles,NaN,Ellie,Office,weather28.csv
4,PrimClass_Elisabeth,2012-12-31 23:00:00,2012-01-01,NaN,NaN,Education,NaN,NaN,NaN,Primary/Secondary Classroom,NaN,233062.0,21652.158990,Primary/Secondary School,America/New_York,NaN,Elisabeth,PrimClass,weather23.csv

In [202]:
def check_weather_file(meta,weather_path,weather_file):
    weather = pd.read_csv(weather_path+weather_file,parse_dates=['timestamp'])
    m = meta.copy()
    m = m.set_index('newweatherfilename')
    end_list = []
    start_list = []
    for idx,w in enumerate(m.iterrows()):
        print(w[1]['dataend'])
        print(w[1]['datastart'])
        if w[1]['dataend'] not in weather['timestamp']:
            print(w[1]['dataend'])
            end_list.append([idx,w[1]['dataend']])
        elif w[1]['datastart'] not in weather['timestamp']:
            start_list.append([idx,w[1]['dataend']])
    return end_list, start_list

In [204]:
end_list

[[0, Timestamp('2012-12-31 23:00:00')],
 [1, Timestamp('2015-12-31 23:00:00')],
 [2, Timestamp('2012-12-31 23:00:00')],
 [3, Timestamp('2012-12-31 23:00:00')],
 [4, Timestamp('2012-12-31 23:00:00')],
 [5, Timestamp('2015-12-31 23:00:00')],
 [6, Timestamp('2015-11-30 23:00:00')],
 [7, Timestamp('2015-11-30 23:00:00')],
 [8, Timestamp('2015-11-30 23:00:00')],
 [9, Timestamp('2012-12-31 23:00:00')],
 [10, Timestamp('2012-12-31 23:00:00')],
 [11, Timestamp('2012-12-31 23:00:00')],
 [12, Timestamp('2012-12-31 23:00:00')],
 [13, Timestamp('2012-12-31 23:00:00')],
 [14, Timestamp('2012-12-31 23:00:00')],
 [15, Timestamp('2012-12-31 23:00:00')],
 [16, Timestamp('2012-12-31 23:00:00')],
 [17, Timestamp('2012-12-31 23:00:00')],
 [18, Timestamp('2012-12-31 23:00:00')],
 [19, Timestamp('2012-12-31 23:00:00')],
 [20, Timestamp('2012-12-31 23:00:00')],
 [21, Timestamp('2012-12-31 23:00:00')],
 [22, Timestamp('2012-12-31 23:00:00')],
 [23, Timestamp('2012-12-31 23:00:00')],
 [24, Timestamp('2012-12-31 23:00:00')],
 [25, Timestamp('2012-12-31 23:00:00')],
 [26, Timestamp('2012-12-31 23:00:00')],
 [27, Timestamp('2012-12-31 23:00:00')],
 [28, Timestamp('2012-12-31 23:00:00')],
 [29, Timestamp('2012-12-31 23:00:00')],
 [30, Timestamp('2012-12-31 23:00:00')],
 [31, Timestamp('2013-01-31 23:00:00')],
 [32, Timestamp('2013-12-31 23:00:00')],
 [33, Timestamp('2012-12-31 23:00:00')],
 [34, Timestamp('2012-12-31 23:00:00')],
 [35, Timestamp('2012-12-31 23:00:00')],
 [36, Timestamp('2015-11-30 23:00:00')],
 [37, Timestamp('2012-12-31 23:00:00')],
 [38, Timestamp('2015-11-30 23:00:00')],
 [39, Timestamp('2013-01-31 23:00:00')],
 [40, Timestamp('2012-12-31 23:00:00')],
 [41, Timestamp('2015-11-30 23:00:00')],
 [42, Timestamp('2015-11-30 23:00:00')],
 [43, Timestamp('2013-01-31 23:00:00')],
 [44, Timestamp('2015-12-31 23:00:00')],
 [45, Timestamp('2015-11-30 23:00:00')],
 [46, Timestamp('2012-12-31 23:00:00')],
 [47, Timestamp('2013-01-31 23:00:00')],
 [48, Timestamp('2013-01-31 23:00:00')],
 [49, Timestamp('2015-11-30 23:00:00')],
 [50, Timestamp('2015-12-31 23:00:00')],
 [51, Timestamp('2012-12-31 23:00:00')],
 [52, Timestamp('2012-12-31 23:00:00')],
 [53, Timestamp('2013-12-31 23:00:00')],
 [54, Timestamp('2015-11-30 23:00:00')],
 [55, Timestamp('2012-12-31 23:00:00')],
 [56, Timestamp('2015-11-30 23:00:00')],
 [57, Timestamp('2015-11-30 23:00:00')],
 [58, Timestamp('2012-12-31 23:00:00')],
 [59, Timestamp('2015-11-30 23:00:00')],
 [60, Timestamp('2015-12-31 23:00:00')],
 [61, Timestamp('2015-12-31 23:00:00')],
 [62, Timestamp('2015-11-30 23:00:00')],
 [63, Timestamp('2015-11-30 23:00:00')],
 [64, Timestamp('2015-11-30 23:00:00')],
 [65, Timestamp('2015-11-30 23:00:00')],
 [66, Timestamp('2015-11-30 23:00:00')],
 [67, Timestamp('2015-11-30 23:00:00')],
 [68, Timestamp('2015-11-30 23:00:00')],
 [69, Timestamp('2015-11-30 23:00:00')],
 [70, Timestamp('2015-11-30 23:00:00')],
 [71, Timestamp('2015-11-30 23:00:00')],
 [72, Timestamp('2015-11-30 23:00:00')],
 [73, Timestamp('2015-11-30 23:00:00')],
 [74, Timestamp('2015-11-30 23:00:00')],
 [75, Timestamp('2015-11-30 23:00:00')],
 [76, Timestamp('2015-04-30 23:00:00')],
 [77, Timestamp('2015-11-30 23:00:00')],
 [78, Timestamp('2015-11-30 23:00:00')],
 [79, Timestamp('2015-11-30 23:00:00')],
 [80, Timestamp('2015-12-31 23:00:00')],
 [81, Timestamp('2015-11-30 23:00:00')],
 [82, Timestamp('2015-11-30 23:00:00')],
 [83, Timestamp('2015-11-30 23:00:00')],
 [84, Timestamp('2015-11-30 23:00:00')],
 [85, Timestamp('2015-11-30 23:00:00')],
 [86, Timestamp('2012-12-31 23:00:00')],
 [87, Timestamp('2015-11-30 23:00:00')],
 [88, Timestamp('2015-11-30 23:00:00')],
 [89, Timestamp('2015-11-30 23:00:00')],
 [90, Timestamp('2015-11-30 23:00:00')],
 [91, Timestamp('2015-11-30 23:00:00')],
 [92, Timestamp('2015-11-30 23:00:00')],
 [93, Timestamp('2015-11-30 23:00:00')],
 [94, Timestamp('2015-04-30 23:00:00')],
 [95, Timestamp('2012-12-31 23:00:00')],
 [96, Timestamp('2015-11-30 23:00:00')],
 [97, Timestamp('2015-11-30 23:00:00')],
 [98, Timestamp('2015-11-30 23:00:00')],
 [99, Timestamp('2015-11-30 23:00:00')],
 [100, Timestamp('2015-04-30 23:00:00')],
 [101, Timestamp('2015-11-30 23:00:00')],
 [102, Timestamp('2015-11-30 23:00:00')],
 [103, Timestamp('2015-11-30 23:00:00')],
 [104, Timestamp('2015-11-30 23:00:00')],
 [105, Timestamp('2015-12-31 23:00:00')],
 [106, Timestamp('2015-12-31 23:00:00')],
 [107, Timestamp('2015-11-30 23:00:00')],
 [108, Timestamp('2013-12-31 23:00:00')],
 [109, Timestamp('2015-11-30 23:00:00')],
 [110, Timestamp('2015-04-30 23:00:00')],
 [111, Timestamp('2015-11-30 23:00:00')],
 [112, Timestamp('2015-11-30 23:00:00')],
 [113, Timestamp('2015-11-30 23:00:00')],
 [114, Timestamp('2015-12-31 23:00:00')],
 [115, Timestamp('2015-11-30 23:00:00')],
 [116, Timestamp('2015-12-31 23:00:00')],
 [117, Timestamp('2015-11-30 23:00:00')],
 [118, Timestamp('2015-11-30 23:00:00')],
 [119, Timestamp('2015-12-31 23:00:00')],
 [120, Timestamp('2015-12-31 23:00:00')],
 [121, Timestamp('2015-11-30 23:00:00')],
 [122, Timestamp('2015-12-31 23:00:00')],
 [123, Timestamp('2015-11-30 23:00:00')],
 [124, Timestamp('2015-04-30 23:00:00')],
 [125, Timestamp('2015-11-30 23:00:00')],
 [126, Timestamp('2015-11-30 23:00:00')],
 [127, Timestamp('2015-12-31 23:00:00')],
 [128, Timestamp('2015-11-30 23:00:00')],
 [129, Timestamp('2015-12-31 23:00:00')],
 [130, Timestamp('2013-12-31 23:00:00')],
 [131, Timestamp('2015-11-30 23:00:00')],
 [132, Timestamp('2015-11-30 23:00:00')],
 [133, Timestamp('2015-04-30 23:00:00')],
 [134, Timestamp('2013-12-31 23:00:00')],
 [135, Timestamp('2015-11-30 23:00:00')],
 [136, Timestamp('2015-12-31 23:00:00')],
 [137, Timestamp('2015-11-30 23:00:00')],
 [138, Timestamp('2015-11-30 23:00:00')],
 [139, Timestamp('2015-11-30 23:00:00')],
 [140, Timestamp('2015-11-30 23:00:00')],
 [141, Timestamp('2015-04-30 23:00:00')],
 [142, Timestamp('2015-12-31 23:00:00')],
 [143, Timestamp('2015-11-30 23:00:00')],
 [144, Timestamp('2015-12-31 23:00:00')],
 [145, Timestamp('2015-11-30 23:00:00')],
 [146, Timestamp('2015-11-30 23:00:00')],
 [147, Timestamp('2015-12-31 23:00:00')],
 [148, Timestamp('2015-11-30 23:00:00')],
 [149, Timestamp('2012-12-31 23:00:00')],
 [150, Timestamp('2015-11-30 23:00:00')],
 [151, Timestamp('2015-11-30 23:00:00')],
 [152, Timestamp('2015-11-30 23:00:00')],
 [153, Timestamp('2015-04-30 23:00:00')],
 [154, Timestamp('2015-04-30 23:00:00')],
 [155, Timestamp('2015-12-31 23:00:00')],
 [156, Timestamp('2015-12-31 23:00:00')],
 [157, Timestamp('2015-11-30 23:00:00')],
 [158, Timestamp('2015-11-30 23:00:00')],
 [159, Timestamp('2015-12-31 23:00:00')],
 [160, Timestamp('2015-12-31 23:00:00')],
 [161, Timestamp('2015-04-30 23:00:00')],
 [162, Timestamp('2015-12-31 23:00:00')],
 [163, Timestamp('2015-11-30 23:00:00')],
 [164, Timestamp('2015-11-30 23:00:00')],
 [165, Timestamp('2015-12-31 23:00:00')],
 [166, Timestamp('2015-12-31 23:00:00')],
 [167, Timestamp('2015-11-30 23:00:00')],
 [168, Timestamp('2015-04-30 23:00:00')],
 [169, Timestamp('2015-12-31 23:00:00')],
 [170, Timestamp('2015-11-30 23:00:00')],
 [171, Timestamp('2015-11-30 23:00:00')],
 [172, Timestamp('2015-12-31 23:00:00')],
 [173, Timestamp('2015-11-30 23:00:00')],
 [174, Timestamp('2015-11-30 23:00:00')],
 [175, Timestamp('2015-11-30 23:00:00')],
 [176, Timestamp('2015-12-31 23:00:00')],
 [177, Timestamp('2015-12-31 23:00:00')],
 [178, Timestamp('2015-11-30 23:00:00')],
 [179, Timestamp('2015-12-31 23:00:00')],
 [180, Timestamp('2015-12-31 23:00:00')],
 [181, Timestamp('2015-12-31 23:00:00')],
 [182, Timestamp('2015-04-30 23:00:00')],
 [183, Timestamp('2015-12-31 23:00:00')],
 [184, Timestamp('2015-04-30 23:00:00')],
 [185, Timestamp('2015-12-31 23:00:00')],
 [186, Timestamp('2015-11-30 23:00:00')],
 [187, Timestamp('2015-12-31 23:00:00')],
 [188, Timestamp('2015-10-31 23:00:00')],
 [189, Timestamp('2015-12-31 23:00:00')],
 [190, Timestamp('2015-12-31 23:00:00')],
 [191, Timestamp('2015-12-31 23:00:00')],
 [192, Timestamp('2015-12-31 23:00:00')],
 [193, Timestamp('2015-12-31 23:00:00')],
 [194, Timestamp('2015-12-31 23:00:00')],
 [195, Timestamp('2015-12-31 23:00:00')],
 [196, Timestamp('2015-11-30 23:00:00')],
 [197, Timestamp('2015-04-30 23:00:00')],
 [198, Timestamp('2015-12-31 23:00:00')],
 [199, Timestamp('2015-04-30 23:00:00')],
 [200, Timestamp('2015-12-31 23:00:00')],
 [201, Timestamp('2015-12-31 23:00:00')],
 [202, Timestamp('2015-12-31 23:00:00')],
 [203, Timestamp('2015-12-31 23:00:00')],
 [204, Timestamp('2015-04-30 23:00:00')],
 [205, Timestamp('2015-11-30 23:00:00')],
 [206, Timestamp('2015-04-30 23:00:00')],
 [207, Timestamp('2015-12-31 23:00:00')],
 [208, Timestamp('2015-12-31 23:00:00')],
 [209, Timestamp('2015-10-31 23:00:00')],
 [210, Timestamp('2015-04-30 23:00:00')],
 [211, Timestamp('2015-04-30 23:00:00')],
 [212, Timestamp('2015-04-30 23:00:00')],
 [213, Timestamp('2015-12-31 23:00:00')],
 [214, Timestamp('2015-04-30 23:00:00')],
 [215, Timestamp('2015-11-30 23:00:00')],
 [216, Timestamp('2015-12-31 23:00:00')],
 [217, Timestamp('2015-12-31 23:00:00')],
 [218, Timestamp('2015-12-31 23:00:00')],
 [219, Timestamp('2012-12-31 23:00:00')],
 [220, Timestamp('2015-12-31 23:00:00')],
 [221, Timestamp('2015-12-31 23:00:00')],
 [222, Timestamp('2015-12-31 23:00:00')],
 [223, Timestamp('2015-04-30 23:00:00')],
 [224, Timestamp('2015-11-30 23:00:00')],
 [225, Timestamp('2015-11-30 23:00:00')],
 [226, Timestamp('2015-12-31 23:00:00')],
 [227, Timestamp('2012-12-31 23:00:00')],
 [228, Timestamp('2015-04-30 23:00:00')],
 [229, Timestamp('2015-12-31 23:00:00')],
 [230, Timestamp('2013-12-31 23:00:00')],
 [231, Timestamp('2012-12-31 23:00:00')],
 [232, Timestamp('2015-12-31 23:00:00')],
 [233, Timestamp('2015-04-30 23:00:00')],
 [234, Timestamp('2015-12-31 23:00:00')],
 [235, Timestamp('2015-12-31 23:00:00')],
 [236, Timestamp('2012-12-31 23:00:00')],
 [237, Timestamp('2015-11-30 23:00:00')],
 [238, Timestamp('2015-11-30 23:00:00')],
 [239, Timestamp('2015-04-30 23:00:00')],
 [240, Timestamp('2015-12-31 23:00:00')],
 [241, Timestamp('2015-11-30 23:00:00')],
 [242, Timestamp('2015-12-31 23:00:00')],
 [243, Timestamp('2015-12-31 23:00:00')],
 [244, Timestamp('2015-12-31 23:00:00')],
 [245, Timestamp('2015-12-31 23:00:00')],
 [246, Timestamp('2015-12-31 23:00:00')],
 [247, Timestamp('2015-04-30 23:00:00')],
 [248, Timestamp('2015-11-30 23:00:00')],
 [249, Timestamp('2015-12-31 23:00:00')],
 [250, Timestamp('2015-12-31 23:00:00')],
 [251, Timestamp('2013-12-31 23:00:00')],
 [252, Timestamp('2015-12-31 23:00:00')],
 [253, Timestamp('2015-12-31 23:00:00')],
 [254, Timestamp('2015-04-30 23:00:00')],
 [255, Timestamp('2013-12-31 23:00:00')],
 [256, Timestamp('2015-11-30 23:00:00')],
 [257, Timestamp('2015-04-30 23:00:00')],
 [258, Timestamp('2015-12-31 23:00:00')],
 [259, Timestamp('2015-12-31 23:00:00')],
 [260, Timestamp('2015-12-31 23:00:00')],
 [261, Timestamp('2015-11-30 23:00:00')],
 [262, Timestamp('2015-12-31 23:00:00')],
 [263, Timestamp('2015-12-31 23:00:00')],
 [264, Timestamp('2015-12-31 23:00:00')],
 [265, Timestamp('2015-12-31 23:00:00')],
 [266, Timestamp('2015-11-30 23:00:00')],
 [267, Timestamp('2013-12-31 23:00:00')],
 [268, Timestamp('2013-12-31 23:00:00')],
 [269, Timestamp('2015-12-31 23:00:00')],
 [270, Timestamp('2015-04-30 23:00:00')],
 [271, Timestamp('2015-11-30 23:00:00')],
 [272, Timestamp('2015-11-30 23:00:00')],
 [273, Timestamp('2015-12-31 23:00:00')],
 [274, Timestamp('2015-11-30 23:00:00')],
 [275, Timestamp('2015-12-31 23:00:00')],
 [276, Timestamp('2015-11-30 23:00:00')],
 [277, Timestamp('2015-12-31 23:00:00')],
 [278, Timestamp('2015-12-31 23:00:00')],
 [279, Timestamp('2013-12-31 23:00:00')],
 [280, Timestamp('2015-12-31 23:00:00')],
 [281, Timestamp('2015-12-31 23:00:00')],
 [282, Timestamp('2015-12-31 23:00:00')],
 [283, Timestamp('2015-11-30 23:00:00')],
 [284, Timestamp('2015-04-30 23:00:00')],
 [285, Timestamp('2015-04-30 23:00:00')],
 [286, Timestamp('2015-12-31 23:00:00')],
 [287, Timestamp('2015-12-31 23:00:00')],
 [288, Timestamp('2015-12-31 23:00:00')],
 [289, Timestamp('2015-11-30 23:00:00')],
 [290, Timestamp('2015-11-30 23:00:00')],
 [291, Timestamp('2015-04-30 23:00:00')],
 [292, Timestamp('2015-11-30 23:00:00')],
 [293, Timestamp('2015-12-31 23:00:00')],
 [294, Timestamp('2015-12-31 23:00:00')],
 [295, Timestamp('2015-12-31 23:00:00')],
 [296, Timestamp('2015-10-31 23:00:00')],
 [297, Timestamp('2015-12-31 23:00:00')],
 [298, Timestamp('2015-04-30 23:00:00')],
 [299, Timestamp('2015-12-31 23:00:00')],
 [300, Timestamp('2015-10-31 23:00:00')],
 [301, Timestamp('2015-12-31 23:00:00')],
 [302, Timestamp('2015-10-31 23:00:00')],
 [303, Timestamp('2015-12-31 23:00:00')],
 [304, Timestamp('2015-12-31 23:00:00')],
 [305, Timestamp('2015-12-31 23:00:00')],
 [306, Timestamp('2015-12-31 23:00:00')],
 [307, Timestamp('2015-12-31 23:00:00')],
 [308, Timestamp('2015-12-31 23:00:00')],
 [309, Timestamp('2015-12-31 23:00:00')],
 [310, Timestamp('2015-12-31 23:00:00')],
 [311, Timestamp('2015-04-30 23:00:00')],
 [312, Timestamp('2015-12-31 23:00:00')],
 [313, Timestamp('2015-12-31 23:00:00')],
 [314, Timestamp('2015-12-31 23:00:00')],
 [315, Timestamp('2015-04-30 23:00:00')],
 [316, Timestamp('2015-11-30 23:00:00')],
 [317, Timestamp('2015-11-30 23:00:00')],
 [318, Timestamp('2015-11-30 23:00:00')],
 [319, Timestamp('2015-12-31 23:00:00')],
 [320, Timestamp('2015-12-31 23:00:00')],
 [321, Timestamp('2015-12-31 23:00:00')],
 [322, Timestamp('2012-12-31 23:00:00')],
 [323, Timestamp('2012-12-31 23:00:00')],
 [324, Timestamp('2015-12-31 23:00:00')],
 [325, Timestamp('2015-04-30 23:00:00')],
 [326, Timestamp('2015-11-30 23:00:00')],
 [327, Timestamp('2015-12-31 23:00:00')],
 [328, Timestamp('2015-04-30 23:00:00')],
 [329, Timestamp('2012-12-31 23:00:00')],
 [330, Timestamp('2015-12-31 23:00:00')],
 [331, Timestamp('2015-11-30 23:00:00')],
 [332, Timestamp('2015-12-31 23:00:00')],
 [333, Timestamp('2015-04-30 23:00:00')],
 [334, Timestamp('2015-12-31 23:00:00')],
 [335, Timestamp('2015-11-30 23:00:00')],
 [336, Timestamp('2015-04-30 23:00:00')],
 [337, Timestamp('2015-12-31 23:00:00')],
 [338, Timestamp('2015-12-31 23:00:00')],
 [339, Timestamp('2015-11-30 23:00:00')],
 [340, Timestamp('2015-12-31 23:00:00')],
 [341, Timestamp('2015-11-30 23:00:00')],
 [342, Timestamp('2015-12-31 23:00:00')],
 [343, Timestamp('2015-12-31 23:00:00')],
 [344, Timestamp('2015-11-30 23:00:00')],
 [345, Timestamp('2015-04-30 23:00:00')],
 [346, Timestamp('2015-12-31 23:00:00')],
 [347, Timestamp('2015-12-31 23:00:00')],
 [348, Timestamp('2015-10-31 23:00:00')],
 [349, Timestamp('2015-12-31 23:00:00')],
 [350, Timestamp('2015-11-30 23:00:00')],
 [351, Timestamp('2015-04-30 23:00:00')],
 [352, Timestamp('2015-10-31 23:00:00')],
 [353, Timestamp('2015-12-31 23:00:00')],
 [354, Timestamp('2015-11-30 23:00:00')],
 [355, Timestamp('2015-12-31 23:00:00')],
 [356, Timestamp('2015-12-31 23:00:00')],
 [357, Timestamp('2015-12-31 23:00:00')],
 [358, Timestamp('2015-04-30 23:00:00')],
 [359, Timestamp('2015-12-31 23:00:00')],
 [360, Timestamp('2015-12-31 23:00:00')],
 [361, Timestamp('2015-04-30 23:00:00')],
 [362, Timestamp('2015-12-31 23:00:00')],
 [363, Timestamp('2015-12-31 23:00:00')],
 [364, Timestamp('2015-12-31 23:00:00')],
 [365, Timestamp('2015-10-31 23:00:00')],
 [366, Timestamp('2015-10-31 23:00:00')],
 [367, Timestamp('2015-12-31 23:00:00')],
 [368, Timestamp('2015-11-30 23:00:00')],
 [369, Timestamp('2015-04-30 23:00:00')],
 [370, Timestamp('2015-12-31 23:00:00')],
 [371, Timestamp('2015-12-31 23:00:00')],
 [372, Timestamp('2015-12-31 23:00:00')],
 [373, Timestamp('2015-04-30 23:00:00')],
 [374, Timestamp('2015-12-31 23:00:00')],
 [375, Timestamp('2015-12-31 23:00:00')],
 [376, Timestamp('2015-04-30 23:00:00')],
 [377, Timestamp('2015-12-31 23:00:00')],
 [378, Timestamp('2015-11-30 23:00:00')],
 [379, Timestamp('2015-11-30 23:00:00')],
 [380, Timestamp('2012-12-31 23:00:00')],
 [381, Timestamp('2015-11-30 23:00:00')],
 [382, Timestamp('2015-10-31 23:00:00')],
 [383, Timestamp('2015-04-30 23:00:00')],
 [384, Timestamp('2015-04-30 23:00:00')],
 [385, Timestamp('2015-11-30 23:00:00')],
 [386, Timestamp('2015-12-31 23:00:00')],
 [387, Timestamp('2015-12-31 23:00:00')],
 [388, Timestamp('2015-11-30 23:00:00')],
 [389, Timestamp('2015-12-31 23:00:00')],
 [390, Timestamp('2015-12-31 23:00:00')],
 [391, Timestamp('2015-12-31 23:00:00')],
 [392, Timestamp('2015-12-31 23:00:00')],
 [393, Timestamp('2015-12-31 23:00:00')],
 [394, Timestamp('2015-12-31 23:00:00')],
 [395, Timestamp('2015-12-31 23:00:00')],
 [396, Timestamp('2015-10-31 23:00:00')],
 [397, Timestamp('2015-12-31 23:00:00')],
 [398, Timestamp('2015-12-31 23:00:00')],
 [399, Timestamp('2015-12-31 23:00:00')],
 [400, Timestamp('2015-12-31 23:00:00')],
 [401, Timestamp('2015-12-31 23:00:00')],
 [402, Timestamp('2015-12-31 23:00:00')],
 [403, Timestamp('2015-12-31 23:00:00')],
 [404, Timestamp('2015-12-31 23:00:00')],
 [405, Timestamp('2015-12-31 23:00:00')],
 [406, Timestamp('2015-11-30 23:00:00')],
 [407, Timestamp('2015-12-31 23:00:00')],
 [408, Timestamp('2013-12-31 23:00:00')],
 [409, Timestamp('2015-11-30 23:00:00')],
 [410, Timestamp('2015-04-30 23:00:00')],
 [411, Timestamp('2015-12-31 23:00:00')],
 [412, Timestamp('2015-12-31 23:00:00')],
 [413, Timestamp('2015-11-30 23:00:00')],
 [414, Timestamp('2012-12-31 23:00:00')],
 [415, Timestamp('2015-12-31 23:00:00')],
 [416, Timestamp('2015-04-30 23:00:00')],
 [417, Timestamp('2015-11-30 23:00:00')],
 [418, Timestamp('2015-04-30 23:00:00')],
 [419, Timestamp('2015-12-31 23:00:00')],
 [420, Timestamp('2015-12-31 23:00:00')],
 [421, Timestamp('2015-12-31 23:00:00')],
 [422, Timestamp('2015-12-31 23:00:00')],
 [423, Timestamp('2015-12-31 23:00:00')],
 [424, Timestamp('2015-12-31 23:00:00')],
 [425, Timestamp('2015-12-31 23:00:00')],
 [426, Timestamp('2015-12-31 23:00:00')],
 [427, Timestamp('2015-12-31 23:00:00')],
 [428, Timestamp('2015-04-30 23:00:00')],
 [429, Timestamp('2015-11-30 23:00:00')],
 [430, Timestamp('2015-12-31 23:00:00')],
 [431, Timestamp('2015-12-31 23:00:00')],
 [432, Timestamp('2015-11-30 23:00:00')],
 [433, Timestamp('2015-11-30 23:00:00')],
 [434, Timestamp('2015-12-31 23:00:00')],
 [435, Timestamp('2015-12-31 23:00:00')],
 [436, Timestamp('2015-12-31 23:00:00')],
 [437, Timestamp('2015-12-31 23:00:00')],
 [438, Timestamp('2015-11-30 23:00:00')],
 [439, Timestamp('2015-12-31 23:00:00')],
 [440, Timestamp('2015-12-31 23:00:00')],
 [441, Timestamp('2015-12-31 23:00:00')],
 [442, Timestamp('2015-10-31 23:00:00')],
 [443, Timestamp('2015-12-31 23:00:00')],
 [444, Timestamp('2012-12-31 23:00:00')],
 [445, Timestamp('2015-12-31 23:00:00')],
 [446, Timestamp('2015-12-31 23:00:00')],
 [447, Timestamp('2015-12-31 23:00:00')],
 [448, Timestamp('2015-12-31 23:00:00')],
 [449, Timestamp('2015-04-30 23:00:00')],
 [450, Timestamp('2015-12-31 23:00:00')],
 [451, Timestamp('2015-12-31 23:00:00')],
 [452, Timestamp('2015-12-31 23:00:00')],
 [453, Timestamp('2015-12-31 23:00:00')],
 [454, Timestamp('2015-12-31 23:00:00')],
 [455, Timestamp('2015-12-31 23:00:00')],
 [456, Timestamp('2015-12-31 23:00:00')],
 [457, Timestamp('2015-12-31 23:00:00')],
 [458, Timestamp('2015-12-31 23:00:00')],
 [459, Timestamp('2015-12-31 23:00:00')],
 [460, Timestamp('2010-12-31 23:00:00')],
 [461, Timestamp('2015-12-31 23:00:00')],
 [462, Timestamp('2015-12-31 23:00:00')],
 [463, Timestamp('2015-12-31 23:00:00')],
 [464, Timestamp('2015-12-31 23:00:00')],
 [465, Timestamp('2015-12-31 23:00:00')],
 [466, Timestamp('2015-04-30 23:00:00')],
 [467, Timestamp('2015-12-31 23:00:00')],
 [468, Timestamp('2015-12-31 23:00:00')],
 [469, Timestamp('2015-11-30 23:00:00')],
 [470, Timestamp('2015-12-31 23:00:00')],
 [471, Timestamp('2012-12-31 23:00:00')],
 [472, Timestamp('2015-12-31 23:00:00')],
 [473, Timestamp('2012-12-31 23:00:00')],
 [474, Timestamp('2015-12-31 23:00:00')],
 [475, Timestamp('2015-11-30 23:00:00')],
 [476, Timestamp('2015-12-31 23:00:00')],
 [477, Timestamp('2015-12-31 23:00:00')],

In [203]:
end_list, start_list = check_weather_file(meta,weather_path,'weather00.csv')

2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2013-01-31 23:00:00
2012-02-02 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2013-01-31 23:00:00
2012-02-02 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2013-01-31 23:00:00
2012-02-02 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2013-01-31 23:00:00
2012-02-02 00:00:00
2013-01-31 23:00:00
2012-02-02 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00

2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2013-12-31 23:00:00
2013-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-10-31 23:00:00
2014-01-11 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2010-12-31 23:00:00
2010-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2012-12-31 23:00:00
2012-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2010-12-31 23:00:00
2010-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2010-12-31 23:00:00
2010-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-04-30 23:00:00
2014-01-05 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-11-30 23:00:00
2014-01-12 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00
2015-12-31 23:00:00
2015-01-01 00:00:00

In [227]:
df2 = make_dataset(elec, meta, weather_path)

weather0.csv
DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               ...
               '2015-12-31 14:00:00', '2015-12-31 15:00:00',
               '2015-12-31 16:00:00', '2015-12-31 17:00:00',
               '2015-12-31 18:00:00', '2015-12-31 19:00:00',
               '2015-12-31 20:00:00', '2015-12-31 21:00:00',
               '2015-12-31 22:00:00', '2015-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8740, freq=None)
96
END SUBDF DF: (840672, 7)
Dataframe DF: (0, 0) SubDF: (0, 8)
(0, 8)
weather1.csv
DatetimeIndex(['2014-12-01 00:00:00', '2014-12-01 01:00:00',
               '2014-12-01 02:00:00', '2014-12-01 03:00:00',
               '2014-12-01 04:00:00', '2014-12-01 05:00:00',
               '2014-12-01 06:00:00', '2014-12-01 07:00:00',
               '2014-12-01 08:00:00', '2014-12-01 09:00:00',
               ...
               '2015-11-30 14:00:00', '2015-11-30 15:00:00',
               '2015-11-30 16:00:00', '2015-11-30 17:00:00',
               '2015-11-30 18:00:00', '2015-11-30 19:00:00',
               '2015-11-30 20:00:00', '2015-11-30 21:00:00',
               '2015-11-30 22:00:00', '2015-11-30 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8757, freq=None)
89
END SUBDF DF: (779373, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather10.csv
DatetimeIndex(['2012-02-02 05:00:00', '2012-02-02 06:00:00',
               '2012-02-02 07:00:00', '2012-02-02 08:00:00',
               '2012-02-02 09:00:00', '2012-02-02 10:00:00',
               '2012-02-02 11:00:00', '2012-02-02 12:00:00',
               '2012-02-02 13:00:00', '2012-02-02 14:00:00',
               ...
               '2013-01-31 14:00:00', '2013-01-31 15:00:00',
               '2013-01-31 16:00:00', '2013-01-31 17:00:00',
               '2013-01-31 18:00:00', '2013-01-31 19:00:00',
               '2013-01-31 20:00:00', '2013-01-31 21:00:00',
               '2013-01-31 22:00:00', '2013-01-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=6912, freq=None)
5
END SUBDF DF: (43785, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather11.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8767, freq=None)
3
END SUBDF DF: (26271, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather12.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 11:00:00', '2012-12-31 12:00:00',
               '2012-12-31 13:00:00', '2012-12-31 14:00:00',
               '2012-12-31 15:00:00', '2012-12-31 16:00:00',
               '2012-12-31 17:00:00', '2012-12-31 19:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8512, freq=None)
3
END SUBDF DF: (26271, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather13.csv
DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 01:00:00',
               '2010-01-01 02:00:00', '2010-01-01 03:00:00',
               '2010-01-01 04:00:00', '2010-01-01 05:00:00',
               '2010-01-01 06:00:00', '2010-01-01 07:00:00',
               '2010-01-01 08:00:00', '2010-01-01 09:00:00',
               ...
               '2010-12-31 14:00:00', '2010-12-31 15:00:00',
               '2010-12-31 16:00:00', '2010-12-31 17:00:00',
               '2010-12-31 18:00:00', '2010-12-31 19:00:00',
               '2010-12-31 20:00:00', '2010-12-31 21:00:00',
               '2010-12-31 22:00:00', '2010-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8733, freq=None)
3
END SUBDF DF: (26271, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather14.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 03:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               ...
               '2012-12-31 11:00:00', '2012-12-31 12:00:00',
               '2012-12-31 13:00:00', '2012-12-31 14:00:00',
               '2012-12-31 15:00:00', '2012-12-31 16:00:00',
               '2012-12-31 17:00:00', '2012-12-31 18:00:00',
               '2012-12-31 20:00:00', '2012-12-31 22:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8434, freq=None)
3
END SUBDF DF: (26271, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather15.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 12:00:00', '2012-12-31 13:00:00',
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 19:00:00', '2012-12-31 20:00:00',
               '2012-12-31 21:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8119, freq=None)
3
END SUBDF DF: (26271, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather16.csv
DatetimeIndex(['2012-01-01 01:00:00', '2012-01-01 02:00:00',
               '2012-01-01 03:00:00', '2012-01-01 04:00:00',
               '2012-01-01 05:00:00', '2012-01-01 06:00:00',
               '2012-01-01 07:00:00', '2012-01-01 08:00:00',
               '2012-01-01 09:00:00', '2012-01-01 10:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8343, freq=None)
2
END SUBDF DF: (17514, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather17.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8716, freq=None)
2
END SUBDF DF: (17514, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather18.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8758, freq=None)
2
END SUBDF DF: (17514, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather19.csv

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 03:00:00', '2012-01-01 04:00:00',
               '2012-01-01 05:00:00', '2012-01-01 06:00:00',
               '2012-01-01 07:00:00', '2012-01-01 08:00:00',
               '2012-01-01 09:00:00', '2012-01-01 10:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8547, freq=None)
1
END SUBDF DF: (8757, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather2.csv
DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               ...
               '2015-12-31 12:00:00', '2015-12-31 13:00:00',
               '2015-12-31 14:00:00', '2015-12-31 15:00:00',
               '2015-12-31 16:00:00', '2015-12-31 17:00:00',
               '2015-12-31 18:00:00', '2015-12-31 19:00:00',
               '2015-12-31 20:00:00', '2015-12-31 21:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8567, freq=None)
88
END SUBDF DF: (770616, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather20.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8766, freq=None)
1
END SUBDF DF: (8757, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather21.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8346, freq=None)
1
END SUBDF DF: (8757, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather22.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 13:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8529, freq=None)
1
END SUBDF DF: (8757, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather23.csv
DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 04:00:00',
               '2012-01-01 05:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               ...
               '2012-12-31 13:00:00', '2012-12-31 14:00:00',
               '2012-12-31 15:00:00', '2012-12-31 16:00:00',
               '2012-12-31 17:00:00', '2012-12-31 18:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='rounded_timestamp', length=8482, freq=None)
1
END SUBDF DF: (8757, 7)
Dataframe DF: (0, 8) SubDF: (0, 8)
(0, 8)
weather24.csv

KeyboardInterrupt:

In [216]:
meta['newweatherfilename'].drop_duplicates()

0      weather12.csv
1       weather2.csv
2      weather22.csv
3      weather28.csv
4      weather23.csv
6       weather1.csv
9      weather17.csv
10     weather14.csv
11     weather35.csv
13     weather18.csv
15     weather26.csv
17     weather24.csv
18     weather29.csv
19     weather15.csv
20     weather19.csv
21     weather11.csv
28     weather38.csv
30     weather16.csv
31     weather10.csv
32      weather8.csv
33     weather21.csv
34     weather32.csv
35     weather20.csv
37     weather36.csv
40     weather37.csv
44      weather4.csv
46     weather27.csv
49      weather5.csv
52     weather25.csv
55     weather31.csv
58     weather30.csv
76      weather3.csv
86      weather7.csv
129     weather0.csv
145     weather6.csv
188     weather9.csv
460    weather13.csv
487    weather33.csv
Name: newweatherfilename, dtype: object

In [230]:
'weather34.csv' in meta['newweatherfilename'].drop_duplicates()

False

In [233]:
np.sort(meta['newweatherfilename'].drop_duplicates())

array(['weather0.csv', 'weather1.csv', 'weather10.csv', 'weather11.csv',
       'weather12.csv', 'weather13.csv', 'weather14.csv', 'weather15.csv',
       'weather16.csv', 'weather17.csv', 'weather18.csv', 'weather19.csv',
       'weather2.csv', 'weather20.csv', 'weather21.csv', 'weather22.csv',
       'weather23.csv', 'weather24.csv', 'weather25.csv', 'weather26.csv',
       'weather27.csv', 'weather28.csv', 'weather29.csv', 'weather3.csv',
       'weather30.csv', 'weather31.csv', 'weather32.csv', 'weather33.csv',
       'weather35.csv', 'weather36.csv', 'weather37.csv', 'weather38.csv',
       'weather4.csv', 'weather5.csv', 'weather6.csv', 'weather7.csv',
       'weather8.csv', 'weather9.csv'], dtype=object)